@charset "utf-8";
@import "sass_commons.scss";

.notif {
    width: 24px;
    height: 24px;
    position: absolute;
    background-image: url(~imgPath/picmeh-ic-info.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.v2-tab-notif {
    bottom: 20px;
    right: 0px;
}

.v2-button-notif {
    bottom: 10px;
    right: 0px;
}

.v2-whale-notif {
    bottom: 40px;
    right: 0px;
}

.v2-uni-notif {
    bottom: 45px;
    right: 0px;
}

.v2-master-notif {
    bottom: 17px;
    right: 0px;
}

.v2-hero-notif {
    bottom: 30px;
    right: 2px;
}

.v2-sh1-notif {
    top: -2px;
    left: 38px;
}

.v2-viptab-notif {
    top: 5px;
    right: 10px;
}

.v2-vipbtn-notif {
    top: -10px;
    right: -10px;
}

.v2-sh2-notif {
    top: -147px;
    left: 3px;
}
.v2-bosschest-notif {
    bottom: 43px;
    right: -8px;
}

.story-quest-notif {
    bottom: 20px;
    right: -5px;
}
