@charset "utf-8";
@import "sass_commons.scss";

.popup-layer .m-popup.army-setup {
  width: 1200px;
  height: 640px;
  left: 0px;
  top: 0px;

  .sh2-icon-forgirl {
    &.war {
      left:initial;
      right:0;
    }
  }

  .title {
    color: #572f14;
  }
  .color-box {
    background: linear-gradient(0deg, #645143 0%, #8e8177 100%);
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
  .fw-as-gp-box-all {
    width: 920px;
    height: 60px;
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #6e5d52;
    .fw-as-gp-box,
    .fw-as-con-box,
    .fw-as-ap-box {
      width: 280px;
      height: 60px;
      position: absolute;
      top: 0;
      left: 0;
      .fw-as-gp-text {
        width: 100%;
        height: 26px;
        position: relative;
        text-align: center;
        background: linear-gradient(180deg, #4f4339 0%, #352c25 100%);
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 26px;
      }
      .fw-as-gp-num {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        top: 5px;
        color: #a8f0ae;
        font-weight: bold;
        font-size: 18px;
      }
    }
    .fw-as-con-box {
      width: 360px;
      left: 280px;
      background-color: #54463c;
    }
    .fw-as-ap-box {
      left: 640px;
    }
  }
  .fw-as-filter-box-all {
    width: 920px;
    height: 40px;
    position: absolute;
    top: 75px;
    left: 15px;
    .fw-as-filter-box {
      width: 640px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #54463c;
      .fw-as-filter {
        width: 90px;
        height: 30px;
        position: absolute;
        top: 10px;
        left: 0;
        .fw-as-filter-name {
          width: 100%;
          height: auto;
          position: relative;
          display: inline-block;
          top: -4px;
          color: #fff;
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
          .ic-filter {
            width: 18px;
            height: 18px;
            position: relative;
            display: inline-block;
            background-image: url(~imgPath/v2-ic-filter.png);
            background-size: 100%;
            background-repeat: no-repeat;
            margin-right: 6px;
            top: 5px;
          }
        }
      }
      .fw-as-filter-btn-box {
        width: 550px;
        height: 26px;
        position: absolute;
        top: 7px;
        right: 0;
        font-size: 0;
        .color-btn {
          width: 170px;
          height: 26px;
          @include prefix(border-radius, 0);
          background: linear-gradient(0deg, #65779c 0%, #9caac8 100%);
          box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.25),
            0 2px 4px 0 rgba(0, 0, 0, 0.55);
          margin: 0 5px;
          .color-btn-text {
            top: 6px;
            font-size: 12px;
          }
          &:active {
            box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.2),
              inset 0 2px 2px rgba(0, 0, 0, 0.2);
            .color-btn-text {
              top: 7px;
            }
          }
          &.green {
            background: linear-gradient(
              0deg,
              #7cbc30 0%,
              #baf279 100%
            );
          }
        }
      }
    }
    .fw-as-filter-select-all {
      width: 260px;
      height: 26px;
      position: absolute;
      top: 4px;
      right: 10px;
      .color-btn {
        width: 260px;
        height: 26px;
        @include prefix(border-radius, 20px);
        box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.25),
          0 2px 4px 0 rgba(0, 0, 0, 0.55);
        .color-btn-text {
          top: 6px;
          font-size: 12px;
        }
        &:active {
          box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.2),
            inset 0 2px 2px rgba(0, 0, 0, 0.2);
          .color-btn-text {
            top: 7px;
          }
        }
      }
    }
  }
  .fw-as-girl-box {
    width: 1170px;
    height: 505px;
    position: absolute;
    top: 120px;
    left: 15px;
    background-color: #6e5d52;
    .class-box {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 40px;
      .color-btn {
        width: 38px;
        margin-right: 5px;
        img {
          width: 28px;
          top: 5px;
          position: absolute;
        }
      }
    }
    .fw-as-girl-box-scroll {
      width: 900px;
      height: 210px;
      &.cw {
        height: 500px;
        width: 1130px;
        left: 40px;
      }
      position: absolute;
      top: 5px;
      left: 5px;
      overflow: hidden;
      overflow-y: scroll;
      font-size: 0;
      &::-webkit-scrollbar-track {
        background-color: #524544;
      }
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        @include background-resourcebg;
      }

      .fw-mer-box-all {
        width: 880px;
        height: auto;
        position: relative;
        display: inline-block;
        // background-color: red;
        .fw-mer-box {
          width: 210px;
          height: 294px;
          position: relative;
          display: inline-block;
          @include background-gold;
          @include prefix(border-radius, 6px);
          margin: 5px;
          .fw-mer-pic {
            width: 202px;
            height: 286px;
            position: absolute;
            top: 4px;
            left: 4px;
            overflow: hidden;
            @include prefix(border-radius, 4px);
          }
          .fw-mer-count {
            width: 60px;
            height: 24px;
            position: absolute;
            top: 5px;
            right: 5px;
            background: linear-gradient(
              0deg,
              #3fbae7 0%,
              #007aa7 50%,
              #3fbae7 100%
            );
            @include prefix(border-radius, 2px);
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            text-transform: uppercase;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
          }

          .fw-mer-num {
            width: 200px;
            height: 30px;
            position: absolute;
            bottom: 5px;
            left: 5px;
            @include prefix(border-radius, 20px);
            background: linear-gradient(
              0deg,
              #e9b039 0%,
              #fffe9a 100%
            );
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
            color: #000;
            font-weight: bold;
            font-size: 14px;
            line-height: 30px;
          }
          .fw-mer-star-box {
            width: 100px;
            height: 24px;
            position: absolute;
            top: 5px;
            left: 5px;
            background-color: rgba(0, 0, 0, 0.5);
            .fw-mer-star {
              width: 16px;
              height: 16px;
              position: relative;
              display: inline-block;
              top: 3px;
              background-image: url(~imgPath/star48.png);
              background-size: 100%;
              background-repeat: no-repeat;
            }
          }
        }
      }

      .hero-avatar-box {
        width: 98px;
        height: 111px;
        position: relative;
        display: inline-block;
        @include prefix(border-radius, 6px);
        @include background-bronze;
        margin: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
        .hero-avatar {
          width: 90px;
          height: 103px;
          position: absolute;
          top: 4px;
          left: 4px;
          @include prefix(border-radius, 4px);
          overflow: hidden;
        }
        .fw-as-num {
          width: 80px;
          height: 24px;
          position: absolute;
          bottom: 4px;
          left: 9px;
          @include prefix(border-radius, 20px);

          background: linear-gradient(0deg, #e9b039 0%, #fffe9a 100%);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
          color: #000;
          font-weight: bold;
          font-size: 14px;
          line-height: 24px;

          &.small {
            font-size: 12px;
          }
        }
        .fw-army-locked-box {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.75);
          @include prefix(border-radius, 6px);
          display: none;
          .fw-army-locked {
            width: 78px;
            height: 91px;
            position: relative;
            display: table-cell;
            color: #ffd200;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 10px;
            vertical-align: middle;
          }
        }
        &.locked {
          .fw-army-locked-box {
            display: table;
          }
        }
        &.select {
          background: #7cee29;
        }
      }
    }
  }
  .fw-as-mercenaries-box-all {
    width: 920px;
    height: 190px;
    position: absolute;
    bottom: 20px;
    left: 30px;
    background-color: #6e5d52;
    .fw-as-mercenaries-box {
      width: 920px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #6e5d52;
      background: linear-gradient(180deg, #4f4339 0%, #352c25 100%);
      .fw-as-mercenaries-text1,
      .fw-as-mercenaries-text2 {
        width: 100%;
        height: auto;
        position: relative;
        display: inline-block;
        top: 4px;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
      }
      .fw-as-mercenaries-text2 {
        color: #f0e3a8;
        font-size: 14px;
      }
    }
    .fw-as-mercenaries-pic-box {
      width: 900px;
      height: 111px;
      position: absolute;
      bottom: 15px;
      left: 10px;
      .hero-avatar-box {
        width: 98px;
        height: 111px;
        position: relative;
        display: inline-block;
        @include prefix(border-radius, 6px);
        @include background-bronze;
        margin: 0 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
        .hero-avatar {
          width: 90px;
          height: 103px;
          position: absolute;
          top: 4px;
          left: 4px;
          @include prefix(border-radius, 4px);
          overflow: hidden;
        }
        .fw-as-num {
          width: 80px;
          height: 24px;
          position: absolute;
          bottom: 4px;
          left: 9px;
          @include prefix(border-radius, 20px);

          background: linear-gradient(0deg, #e9b039 0%, #fffe9a 100%);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
          color: #000;
          font-weight: bold;
          font-size: 14px;
          line-height: 24px;
        }
        &.plus {
          background: #54463c;
          box-shadow: 0 0 0;
          .hero-avatar {
            display: none;
          }
          .fw-as-num {
            display: none;
          }
          &:before {
            content: "\002B";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            color: #6e5d52;
            font-size: 90px;
          }
        }
      }
    }
  }

  .store-item-box-all {
    width: 700px;
    height: 450px;
    position: absolute;
    top: 75px;
    right: 20px;
    background: linear-gradient(180deg, #b9aba1 0%, #9e8b7d 100%);
    @include prefix(border-radius, 6px);
    box-shadow: 0 2px 2px 0 #5e544c;
    .store-item-box-scroll {
      width: 686px;
      height: 430px;
      position: absolute;
      overflow: hidden;
      overflow-y: scroll;
      top: 10px;
      margin-left: 10px;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        background-color: #7c665c;
      }
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 3px #796b60;
        background: linear-gradient(
          to right,
          #fff,
          #f5de80,
          #f4b766,
          #b26d12
        );
      }
      .store-item-all {
        width: 668px;
        height: 210px;
        position: relative;
        text-align: center;
        background-image: url(~imgPath/shop-pod.jpg);
        background-size: 100%;
        &.blured {
          filter: blur(5px);
        }
        .store-item-all-name {
          width: 270px;
          height: 34px;
          position: absolute;
          top: 190px;
          left: 199px;

          background-image: url(~imgPath/polka.png);
          background-size: 100%;
          z-index: 999;
          line-height: 32px;
          color: #632e09;
          font-weight: bold;
          font-size: 14px;
          text-transform: uppercase;
          text-shadow: 0 0 6px #fff8ab;
        }
        .store-item-box {
          width: 140px;
          height: 180px;
          position: relative;
          display: inline-block;
          top: 14px;
          @include prefix(border-radius, 6px);
          @include background-bronze;
          margin: 0 7px 26px 2px;
          box-shadow: 0 2px 6px 0 #413833;
          z-index: 1;
          &:before {
            content: "";
            width: 134px;
            height: 174px;
            position: absolute;
            top: 3px;
            margin-left: -67px;
            @include prefix(border-radius, 4px);
            background: linear-gradient(
              180deg,
              #b59b87 0%,
              #7f6858 100%
            );
            box-shadow: inset 0 0 20px 0 #50463f;
          }
          .color-btn.diamond {
            width: 120px;
            height: 40px;
            position: absolute;
            top: 125px;
            left: 10px;
            .color-btn-text {
              font-size: 14px;
              top: 5px;
            }
            .f-diamond {
              &:before {
                content: "";
                width: 30px;
                height: 30px;
                position: relative;
                display: inline-block;
                background-image: url(~imgPath/ic-diamond.png);
                background-size: 100%;
                margin-right: 4px;
                margin-left: 4px;
                vertical-align: middle;
              }
            }
            &:active {
              .color-btn-text {
                top: 6px;
              }
            }
          }
          .item-box {
            width: 80px;
            height: 80px;
            position: absolute;
            top: 34px;
            left: 30px;
            background: linear-gradient(
              180deg,
              #949699 0%,
              #656769 100%
            );
            @include prefix(border-radius, 8px);
            box-shadow: inset 0 0 0 2px #cfd1d3, 0 2px 4px 0 #50463f;
            img {
              width: 75px;
              position: absolute;
              top: 2px;
              left: 2px;
            }
            .store-timer-box {
              width: 50px;
              height: 50px;
              position: absolute;
              top: -2px;
              left: -4px;
              background-image: url(~imgPath/offer-bk-sm.png);
              background-size: 100%;
              .store-timer-text {
                width: 44px;
                height: 30px;
                position: absolute;
                top: 2px;
                left: 2px;
                text-align: center;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: bold;
                color: #ffcc00;
                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
              }
            }
            .rate {
              background-image: url(~imgPath/ic-abil-redline.png);
              font-size: 18px;
              color: #fff;
              line-height: 18px;
              text-shadow: 0 1px 3px #2f2f2f;
              width: 87px;
              height: 22px;
              position: absolute;
              top: 50px;
              left: -4px;
              &.shards {
                background-image: url(~imgPath/ic-abil-greenline.png);
              }
            }
          }

          .i-ico {
            width: 26px;
            height: 26px;
            position: absolute;
            top: 26px;
            margin-left: 111px;
            background-image: url(~imgPath/i-ico.png);
            background-size: 100%;
          }
          .store-name {
            width: 140px;
            height: 24px;
            position: absolute;
            top: 0px;
            margin-left: 0px;
            line-height: 24px;
            background: linear-gradient(
              180deg,
              #8e7453 0%,
              #e3c7a3 50%,
              #8f7553 70%,
              #ae916a 85%,
              #8f7553 100%
            );
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.35);
            @include prefix(border-radius, 8px 8px 0 0);
            text-shadow: 0 0 4px #fff;
            text-align: center;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            color: #3b291b;
          }
        }
      }
    }
  }
  .attack {
    position: absolute;
    z-index: 1;
    bottom: 165px;
    left: 35px;
    &.cw {
      top: 20px;
      right: 58px;
      left: initial;
      height: 80px;
    }
  }

  .defend {
    position: absolute;
    z-index: 1;
    bottom: 165px;
    left: 745px;
    &.cw {
      top: 20px;
      right: 58px;
      left: initial;
      height: 80px;
    }
  }
}

.color-btn {
  &.action {
    bottom: 26px;
    left: calc(50% - 100px);
    position: absolute;
    width: 200px;
  }
  &.exit {
    top: 10px;
    right: 10px;
    position: absolute;
  }
}
