@charset "utf-8";
@import "sass_commons.scss";

.tab-panel.change-main {
  border-radius: 10px 18px 18px 18px;
  box-shadow: inset 0 4px 0 #9c8b7c;
  border: solid 4px #9e8b7d;
  border-top: none;
  .tab-panel-box-title {
    width: 300px;
    height: 24px;
    position: absolute;
    top: 10px;
    left: 399px;
    background: linear-gradient(
      0deg,
      #ffe199 0%,
      #f4c657 18%,
      #ffe199 60%,
      #f4c557 85%,
      #ffe199 100%
    );
    border-radius: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    color: #3c3737;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    text-align: center;
  }
  .all-content {
    width: 100%;
    height: 507px;
    background: #706054;
    position: absolute;
    left: 0;
    top: 4px;
    border-radius: 6px 14px 14px 14px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    .change-top-menu {
      width: 264px;
      height: 34px;
      position: absolute;
      font-size: 0px;
      z-index: 1000;
      top: 5px;
      left: 4px;
      .color-btn {
        width: 100%;
        height: 100%;
        line-height: 17px;
        .color-btn-text {
          font-size: 16px;
          top: 8px;
          display: flex;
          flex-direction: row;
          &:after {
            content: "";
            width: 20px;
            height: 20px;
            background: url(darkworld-back-arrow.png);
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            transform: scaleX(-1);
            filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
            margin: 1px 0 0 6px;
          }
        }
        &:active {
          .color-btn-text {
            top: 9px;
          }
        }
      }
    }
    .change-main-tags-box-all {
      width: 264px;
      height: 459px;
      position: absolute;
      top: 44px;
      left: 4px;
      z-index: 999;
      .search-box-all {
        width: 100%;
        height: 40px;
        position: absolute;
        top: 0;
        left: 0;
        .search-box {
          width: 263px;
          height: 40px;
          position: absolute;
          background-color: #f0ece9;
          @include prefix(border-radius, 6px);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.45);
          .search {
            width: 208px;
            height: 32px;
            position: absolute;
            top: 4px;
            margin-left: 4px;
            font-size: 20px;
            text-transform: capitalize;
            border: none;
            @include prefix(border-radius, 6px);
            padding: 0 0 0 6px;
            background-color: #f0ece9;
            &::-webkit-input-placeholder {
              color: #9d8a7c;
            }
            &:focus {
              &::-webkit-input-placeholder {
                color: transparent;
              }
            }
          }
          .sbutton {
            width: 40px;
            height: 40px;
            position: absolute;
            right: 0;
            background: linear-gradient(0deg, #cec1b6 0%, #f2e8e0 100%);
            border: none;
            @include prefix(border-radius, 0 6px 6px 0);
            cursor: pointer;
            box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.2);
            transition: ease-in-out 0.04s;
            &:hover {
              filter: brightness(1.1);
              transition: ease-in-out 0.04s;
            }
            &:active {
              img {
                transform: scale(0.9);
                transition: ease-in-out 0.04s;
              }
            }
          }
        }
      }
      .tags-box-all {
        width: 100%;
        height: 412px;
        position: absolute;
        bottom: 0;
        background-color: #8f7a6b;
        border-radius: 10px;
        box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1),
          0 1px 1px rgba(0, 0, 0, 0.2);
        .box-all {
          width: 100%;
          position: relative;
          top: 5px;
          left: 5px;
          .box-all-name {
            width: 254px;
            height: 34px;
            position: relative;
            @include background-silver;
            border-radius: 10px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.45);
            font-size: 16px;
            color: rgba(0, 0, 0, 0.7);
            position: relative;
            text-align: center;
            line-height: 34px;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
            transition: ease-in-out 0.04s;
            &:hover {
              filter: brightness(1.1);
              transition: ease-in-out 0.04s;
            }
            &:active {
              top: 1px;
            }
            &:before {
              content: "";
              display: inline-block;
              width: 8px;
              height: 8px;
              position: absolute;
              left: 14px;
              top: 10px;
              text-shadow: none;
              font-size: 22px;
              border: solid 2px rgba(0, 0, 0, 0.7);
              border-top: none;
              border-left: none;
              transform: rotate(45deg) scaleY(1);
              filter: drop-shadow(0 1px 2px rgba(255, 255, 255, 0.6));
            }
          }
          &.opened .box-all-name {
            font-size: 17px;
            color: #fff;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
            pointer-events: none;
          }
          &.opened .box-all-name:before {
            content: "";
            transform: rotate(315deg) scaleY(-1);
            top: 14px;
            transition: ease-in-out 0.04s;
            border: solid 3px #fff;
            border-top: none;
            border-left: none;
            filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.6));
          }
          &.opened .tags-scroll {
            height: 295px;
            padding: 2px 0;
            transition: ease-in-out 0.1s;
            pointer-events: all;
          }
          &.collected-tags {
            .box-all-name {
              @include background-bronze;
            }
          }
          &.favorite-tags {
            .box-all-name {
              @include background-gold;
            }
          }
        }
        .tags-scroll {
          width: 256px;
          height: 0;
          left: 0px;
          top: 0px;
          bottom: 0px;
          right: 0px;
          overflow-y: scroll;
          font-size: 0px;
          padding: 0;
          transition: ease-in-out 0.1s;
          pointer-events: none;
          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            background-color: #7c665c;
          }
          &::-webkit-scrollbar {
            width: 6px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 3px #796b60;
            background: linear-gradient(
              to right,
              #fff,
              #ffdd53,
              #ffb24c,
              #b26d12
            );
          }
          .tags-line {
            width: 250px;
            height: 24px;
            position: relative;
            display: inline-block;
            background-color: #826e5f;
            cursor: pointer;
            transition: ease-in-out 0.04s;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
            &:hover {
              filter: brightness(1.05);
              transition: ease-in-out 0.04s;
            }
            &:active {
              .tags-name {
                line-height: 26px;
                transition: ease-in-out 0.04s;
              }
              .tags-counter {
                line-height: 26px;
                transition: ease-in-out 0.04s;
              }
            }
            &:nth-child(2n) {
              background-color: #8f7a6b;
            }
            .tags-name,
            .tags-counter {
              width: 220px;
              height: 24px;
              position: absolute;
              margin-left: 4px;
              font-size: 13px;
              font-weight: bold;
              text-transform: capitalize;
              color: #fff;
              line-height: 24px;
            }
            .tags-counter {
              width: 70px;
              margin-left: 178px;
              text-align: right;
              color: #d0c3ba;
            }
            .tags-check {
              width: 24px;
              height: 24px;
              background-image: url(check-box.png);
              background-size: 100%;
              position: absolute;
              left: 225px;
              top: -1px;
              display: none;
            }
            .tags-new {
              width: 47px;
              height: 24px;
              background-image: url(new-box.png);
              background-size: 100%;
              position: absolute;
              margin-left: 156px;
              top: -1px;
              display: none;
            }

            &.color2 {
              background-color: #8f7a6b;
            }
            &.selected {
              // width: 246px;
              background-color: #307ac7;
              box-shadow: 0 2px 0 #595959, 0 -2px 0 #595959,
                inset 2px 0 0 #595959, inset -2px 0 0 #595959;
              // left: 2px;
              z-index: 1;
              transition: ease-in-out 0.06s;
              .tags-name {
                color: #ffea7c;
                margin-left: 6px;
              }
              .tags-counter {
                margin-left: 174px;
                color: #fff;
                transition: ease-in-out 0.06s;
              }
              .tags-check {
                // left: 225px;
              }
            }
            &.check {
              .tags-counter {
                display: none;
              }
              .tags-check {
                display: block;
              }
              .tags-new {
                display: none;
              }
            }
            &.new {
              .tags-counter {
                display: none;
              }
              .tags-check {
                display: none;
              }
              .tags-new {
                display: block;
              }
            }
          }
        }
      }
      &.opened .tags-scroll {
        display: block;
      }
    }
    .change-main-right-side {
      width: 826px;
      height: 507px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 0 0 16px 0;
      .str-nav {
        border-right: 0px;
        position: absolute;
        bottom: 5px;
        background: linear-gradient(0deg, #e9b039 0%, #fffe9a 100%);
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 40px;
        opacity: 0.96;
        box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.4),
          inset 0 -4px 0 rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(0, 0, 0, 0.4),
          0 2px 2px rgba(0, 0, 0, 0.4);
        transition: ease-in-out 0.04s;
        &:hover {
          filter: brightness(1.1);
          transition: ease-in-out 0.04s;
        }
        &:before {
          content: "";
          position: absolute;
          top: 10px;
          filter: drop-shadow(0 1px 2px rgba(255, 255, 255, 0.6));
          transition: ease-in-out 0.04s;
        }
        &.right {
          right: 362px;
          &:before {
            border-right: 16px solid #5e5044;
            border-top: 16px solid transparent;
            right: 16px;
            transform: rotate(-45deg);
          }
        }
        &.left {
          left: 351px;
          &:before {
            border-left: 16px solid #5e5044;
            border-top: 16px solid transparent;
            left: 16px;
            transform: rotate(45deg);
          }
        }
        &:active {
          box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.4),
            inset 0 -2px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px rgba(0, 0, 0, 0.4),
            0 2px 2px rgba(0, 0, 0, 0.4);
          &.right {
            filter: brightness(0.9);
            transition: ease-in-out 0.02s;
            &:before {
              top: 12px;
              transition: ease-in-out 0.02s;
            }
          }
          &.left {
            filter: brightness(0.9);
            transition: ease-in-out 0.02s;
            &:before {
              top: 12px;
              transition: ease-in-out 0.02s;
            }
          }
        }
      }
      .change-main-counter-collection-all {
        width: 816px;
        height: 80px;
        position: absolute;
        top: 4px;
        right: 4px;
        .tag-name {
          width: 552px;
          height: 80px;
          position: absolute;
          text-align: center;
          color: #ffda2d;
          font-size: 20px;
          font-weight: bold;
          text-transform: uppercase;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          line-height: 36px;
          background-color: #8f7a6b;
          border-radius: 6px;
          box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1),
            0 1px 1px rgba(0, 0, 0, 0.2);
        }
        .change-btn-info {
          width: 80px;
          height: 30px;
          position: absolute;
          top: 41px;
          left: 466px;
          cursor: pointer;
          background: linear-gradient(
            0deg,
            #bdee6e 0%,
            #7fa740 23%,
            #bdee6d 50%,
            #d3f699 100%
          );
          border-radius: 6px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.45);
          color: #467717;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;
          line-height: 30px;
          text-shadow: 0 1px 1px #fff;
          &:hover {
            filter: brightness(1.1);
          }
          &:active {
            margin-top: 1px;
          }
        }
        .change-take-all {
          width: 258px;
          height: 80px;
          position: absolute;
          right: 0;
          background-color: #8f7a6b;
          border-radius: 6px;
          box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1),
            0 1px 1px rgba(0, 0, 0, 0.2);
          .change-chest-box {
            width: 80px;
            height: 80px;
            position: absolute;
            @include background-bronze;
            box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1),
              0 2px 4px 0 rgba(0, 0, 0, 0.35);
            border-radius: 6px;
            &:before {
              content: "";
              width: 70px;
              height: 70px;
              position: absolute;
              top: 5px;
              margin-left: 5px;
              @include prefix(border-radius, 4px);
              background: linear-gradient(0deg, #e9b039 0%, #fffe9a 100%);
            }
            &:after {
              content: "";
              width: 70px;
              height: 70px;
              position: absolute;
              top: 5px;
              margin-left: 3px;
              background-image: url(change-sun1.png);
              background-size: 100%;
            }
          }
          .change-chest-text {
            width: 160px;
            height: 28px;
            position: absolute;
            top: 4px;
            margin-left: 89px;
            color: #ffda2d;
            text-align: center;
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
          }
          .color-btn.take {
            width: 160px;
            height: 40px;
            position: absolute;
            top: 34px;
            margin-left: 89px;
            &.disable {
              filter: grayscale(100%);
              cursor: no-drop;
            }
          }
        }
      }
      .right-side-img-wrap {
        height: 412px;
        right: 4px;
        top: 90px;
        width: 816px;
        position: absolute;
        background-color: #5e5044;
        border-radius: 10px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(255, 255, 255, 0.1);
        .img-list {
          position: absolute;
          list-style: none;
          padding: 0;
          overflow: hidden;
          overflow-y: scroll;
          height: 394px;
          left: 8px;
          top: -6px;
          width: 800px;
          border-radius: 6px;
          padding-right: 2px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            background-color: #543f38;
          }
          &::-webkit-scrollbar {
            width: 10px;
            background-color: #543f38;
            border-radius: 10px;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 3px #796b60;
            background: linear-gradient(
              to right,
              #fff,
              #f5de80,
              #f4b766,
              #b26d12
            );
          }
          .img-box {
            list-style: none;
            display: inline-block;
            width: 263px;
            height: 335px;
            background: #9e8b7d;
            float: left;
            position: relative;
            @include prefix(border-radius, 10px);
            border: solid 3px #e4cf76;
            box-shadow: inset 0 0 5px #c87725, 0 1px 3px #000,
              inset 0 77px 7px #bfb6ad;
            cursor: pointer;
            transition: ease-in-out 0.04s;
            transform: scale(0.98);
            &:hover {
              transform: scale(0.99);
              transition: ease-in-out 0.04s;
            }
            &.blocked {
              background-image: url(zagluska.jpg);
              background-size: 223px;
              cursor: default;
              background-position: 50%;
              background-repeat: no-repeat;
              box-shadow: inset 0 0 5px #c87725, 0 1px 3px #000;
            }
            .img {
              transition: ease-in-out 0.04s;
              &:hover {
                filter: brightness(1.05);
              }
              &:active {
                transform: scale(0.984);
                transition: ease-in-out 0.04s;
              }
            }
            .im-text {
              display: block;
              background: #534a41;
              position: absolute;
              margin: 0 26px 0 24px;
              top: calc(50% + 24px);
              font-size: 12px;
              color: #ccc;
              padding: 10px 5px 5px 40px;
              line-height: 12px;
              box-shadow: inset 0 4px 0 #000, inset 0 24px 0 #5e564e;
              min-height: 30px;
              @include prefix(border-radius, 6px);
              &:before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                background-image: url(ic-lamp.png);
                background-size: 24px;
                position: absolute;
                left: 6px;
                top: 10px;
              }
            }

            &.landscape {
              width: 514px;
            }

            .fav-box {
              display: inline-block;
              width: 36px;
              height: 32px;
              position: absolute;
              left: -3px;
              top: -3px;
              box-shadow: 0 3px 0px #c87725, inset 0 3px 2px #ffa,
                0 3px 4px #000;
              background: linear-gradient(
                45deg,
                #e8c34e,
                #ffa,
                #cfa831,
                #fbf1d8
              );
              line-height: 28px;
              color: #453e38;
              font-size: 16px;
              text-shadow: 0 0 1px #000, 0 2px 2px #fff;
              border-radius: 10px;
              border-bottom-right-radius: 20px;
              cursor: pointer;
              transition: ease-in-out 0.04s;
              &:hover {
                &:before {
                  transform: scale(1.04);
                  opacity: 0.6;
                  transition: ease-in-out 0.04s;
                }
              }
              &:active {
                &:before {
                  background-size: 90%;
                }
              }
              &:before {
                content: "";
                display: block;
                width: 21px;
                height: 21px;
                background-image: url(heartB.png);
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                left: 7px;
                top: 6px;
                opacity: 0.4;
                transition: ease-in-out 0.04s;
              }
              &.fav {
                &:hover {
                  &:before {
                    transform: scale(1.04);
                    transition: ease-in-out 0.04s;
                    filter: brightness(1.2);
                  }
                }
              }
              &.fav:before {
                background-image: url(heart1.png);
                opacity: 1;
                transition: ease-in-out 0.04s;
              }
            }
            .price,
            .price:before,
            .price:after {
              content: "";
              display: inline-block;
              width: 28px;
              height: 28px;
              background-image: url(star1.png);
              background-size: 100%;
              position: absolute;
              left: calc(50% - 16px);
              top: 289px;
              pointer-events: none;
              filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
            }
            .price:before {
              position: absolute;
              top: 0;
              left: -28px;
            }
            .price:after {
              position: absolute;
              top: 0;
              left: 28px;
            }
            .price.p1 {
              &:before,
              &:after {
                display: none;
              }
            }
            .price.p2 {
              left: calc(50%);
              &:after {
                display: none;
              }
            }
            &.blocked .price {
              top: calc(50% - 85px);
            }
            .img {
              width: 100%;
              height: 100%;
              @include prefix(border-radius, 8px);
            }

            .info {
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              background: rgba(0, 0, 0, 0.55);
              font-size: 14px;
              color: #fff;
              line-height: 17px;
              padding: 5px 10px;
              @include prefix(border-bottom-left-radius, 8px);
              @include prefix(border-bottom-right-radius, 8px);
              pointer-events: none;
              text-align: center;
              text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
            }
            .btn-fs {
              display: inline-block;
              width: 40px;
              height: 40px;
              position: absolute;
              top: -6px;
              right: -6px;
              background: none;
              background-image: url(chahge-fullscr.png);
              background-size: 98%;
              background-position: center;
              background-repeat: no-repeat;
              cursor: pointer;
              &:hover {
                filter: brightness(1.12);
              }
              &:active {
                transform: scale(0.94);
              }
            }

            .prog {
              display: block;
              height: 18px;
              background: #534a41;
              position: absolute;
              left: 5%;
              right: 5%;
              top: 50%;
              @include prefix(border-radius, 5px "/" 15px);
              box-shadow: inset 0 2px 10px #000;
              border: solid 2px #534a41;
              .prg {
                display: block;
                width: 33%;
                height: 18px;
                background: #d18d0e;
                position: absolute;
                @include prefix(border-radius, 3px "/" 15px);
                box-shadow: inset 0 0 1px #000, inset 0 9px 0 #d8ac55,
                  inset 0 0 5px #6b420c;
              }
            }
            .num {
              display: none;
            }
            .text {
              display: block;
              // height: 18px;
              background: #534a41;
              position: absolute;
              left: 5%;
              right: 5%;
              top: calc(50% + 9px);
              font-size: 14px;
              color: #ccc;
              padding: 16px 5px 5px 40px;
              // padding-top: 15px;
              // padding-bottom: 5px;
              line-height: 17px;
              box-shadow: inset 0 30px 0 #5e564e;
              min-height: 30px;
              &:before {
                content: "i";
                display: block;
                width: 28px;
                height: 28px;
                background: #097bd3;
                @include prefix(border-radius, 100%);
                position: absolute;
                left: 6px;
                top: 17px;
                font-size: 26px;
                color: #fff;
                font-weight: normal;
                font-family: serif;
                text-align: center;
                line-height: 28px;
                text-shadow: 0 0 1px #fff, 0 0 1px #fff;
                box-shadow: inset 0 0 5px #fff, 0 2px 1px #000;
              }
            }
          }
        }
        .change-pic-box-all {
          width: 746px;
          height: 346px;
          position: absolute;
          top: 94px;
          margin-left: 6px;
          background-color: #7d6b5d;
          .change-pic-scroll {
            width: 736px;
            height: 330px;
            position: absolute;
            left: 4px;
            top: 8px;
            bottom: 0px;
            right: 0px;
            overflow-y: scroll;
            font-size: 0px;
            &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
              border-radius: 10px;
              background-color: #7c665c;
            }
            &::-webkit-scrollbar {
              width: 10px;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 10px;
              -webkit-box-shadow: inset 0 0 3px #796b60;
              background: linear-gradient(
                to right,
                #fff,
                #f5de80,
                #f4b766,
                #b26d12
              );
            }
            .change-pic-box {
              width: 232px;
              height: 176px;
              position: relative;
              display: inline-block;
              background-color: #8f7a6b;
              margin: 4px;
              box-shadow: inset 0 0 0 4px #ecd4a6,
                0 2px 4px 0 rgba(0, 0, 0, 0.35);
              .change-pic {
                width: 224px;
                height: 168px;
                position: absolute;
                top: 4px;
                margin-left: 4px;
                overflow: hidden;
                .pic {
                  width: 100%;
                }
              }
              .change-pic-star-box {
                width: 224px;
                height: 40px;
                position: absolute;
                top: 132px;
                margin-left: 4px;
                background-color: rgba(255, 255, 255, 0.8);
                .star1,
                .star2,
                .star3 {
                  width: 41px;
                  height: 39px;
                  position: relative;
                  margin: 0 auto;
                  background-image: url(star1.png);
                  background-size: 100%;
                }
                .star2 {
                  width: 71px;
                  background-image: url(star2.png);
                }
                .star3 {
                  width: 101px;
                  background-image: url(star3.png);
                }
              }
              .tags-new {
                top: -2px;
                margin-left: 182px;
              }
              .change-fav {
                width: 36px;
                height: 36px;
                position: absolute;
                background-color: #ecd4a6;
                @include prefix(border-radius, 0 0 8px 0);
                cursor: pointer;
                box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.25),
                  0 2px 4px 0 rgba(0, 0, 0, 0.5);
                .fav-icon {
                  width: 26px;
                  height: 26px;
                  position: absolute;
                  top: 4px;
                  margin-left: 5px;
                  background-image: url(heartb.png);
                  background-size: 100%;
                  opacity: 0.5;
                }
              }
              &.new {
                .tags-new {
                  display: block;
                }
              }
              &.plus {
                .change-pic {
                  display: none;
                }
                .change-pic-star-box {
                  display: none;
                }
                .tags-new {
                  display: none;
                }
                .change-plus {
                  width: 50px;
                  height: 50px;
                  position: absolute;
                  top: 63px;
                  margin-left: 91px;
                  background-image: url(chahge-plus.png);
                  background-size: 100%;
                  cursor: pointer;
                  &:active {
                    top: 64px;
                  }
                }
                .change-fav {
                  display: none;
                }
              }
              &.check {
                .fav-icon {
                  background-image: url(heart1.png);
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      &.full_album {
        .right-side-img-wrap {
          height: 499px;
          right: 4px;
          top: 4px;
        }
        .img-list {
          height: 480px;
        }
      }
    }
  }
}

.openchest-starbox {
  width: 160px;
  height: 40px;
  position: absolute;
  top: 114px;
  background-color: rgba(255, 255, 255, 0.8);
  .star1,
  .star2,
  .star3 {
    width: 41px;
    height: 39px;
    position: relative;
    display: inline-block;
    background-image: url(star1.png);
    background-size: 100%;
  }
  .star2 {
    width: 71px;
    background-image: url(star2.png);
  }
  .star3 {
    width: 101px;
    background-image: url(star3.png);
  }
}

.change-prgbar-box {
  width: 455px;
  height: 40px;
  position: absolute;
  top: 36px;
  left: 4px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2),
    0 2px 4px 0 rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  @include background-bronze;
  &:before {
    content: "";
    width: 447px;
    height: 32px;
    position: absolute;
    top: 4px;
    left: 4px;
    background: linear-gradient(0deg, #543f38 0%, #412d26 100%);
    border-radius: 3px;
  }
  .prgbar-box {
    width: 445px;
    height: 30px;
    position: absolute;
    top: 5px;
    margin-left: 5px;
    .prgbar {
      width: 100%;
      height: 100%;
      position: relative;
      background: linear-gradient(0deg, #307ac7 0%, #82b4e8 100%);
      border-radius: 2px;
    }
  }
  .prgbar-text {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.75);
  }
}

.tags-new {
  width: 47px;
  height: 24px;
  background-image: url(new-box.png);
  background-size: 100%;
  position: absolute;
  margin-left: 156px;
  top: -1px;
  display: none;
}
