@charset "utf-8";
@import "sass_commons.scss";

.popup-layer .m-popup.rating-rankgo {
    width: 548px;
    height: 550px;
    left: 326px;
    margin-left: 0px;
    top: 36px;
    position: absolute;
    .video-box {
        width: 77px;
        height: 77px;
        left: 253px;
        top: 233px;
        z-index: 0;
        position: absolute;
        &.top-right {
            left: 422px;
        }
        &.bottom-left {
            left: 253px;
            top: 307px;
        }
        &.bottom-right {
            left: 422px;
            top: 307px;
        }
        &.full-size {
            z-index: 5;
            width: 1000px;
            height: 579px;
            left: -245px;
            top: -18px;
            .video-play {
                z-index: 6;
            }
            @include prefix(transition, "width 1s, height 1s, left 1s, top 1s");
        }
    }
    .video-play {
        z-index: 6;
        top: 48%;
    }
    .btn-close-x {
        &.full-size {
            right: -225px;
            top: -30px;
            z-index: 6;
            @include prefix(transition, "right 1s, top 1s");
        }
    }
    .color-box {
        background-image: url(../../img/ts_confirm_bk-1.jpg);
        background-size: 124%;
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
    }
    .rating-pr-line {
        width: 100px;
        height: 30px;
        position: absolute;
        top: 286px;
        margin-left: 150px;
        background-color: #2cc019;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.85);
    }
    .rating-pr-box {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 230px;
        margin-left: 30px;
        background-color: #2cc019;
        @include prefix(border-radius, 10px);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.85);
        .rating-pr-all-box {
            width: 120px;
            height: 120px;
            position: absolute;
            top: 15px;
            margin-left: 15px;
            @include background-silver;
            @include prefix(border-radius, 10px);
            box-shadow: 0 0 8px 0 #ffee2b;
            .rating-pr {
                width: 100px;
                height: 100px;
                position: absolute;
                top: 10px;
                margin-left: -50px;
            }
        }
    }
    .girl-green-box {
        width: 290px;
        height: 450px;
        top: 74px;
        margin-left: 230px;
        position: absolute;
        background-color: #2cc019;
        @include prefix(border-radius, 10px);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.85);
        .rating-card-girl-box {
            margin-left: -115px;
            top: 20px;
            position: absolute;
            &:before {
                content: "";
                margin-left: -122px;
            }
            .rating-slot {
                &:before {
                    content: "";
                    margin-left: -30px;
                }
                &.legendary {
                    &:before {
                        content: "";
                        margin-left: -45px;
                    }
                }
                .rating-video-play {
                    &:before {
                        content: "";
                        margin-left: -4px;
                    }
                }
            }
            .rating-str {
                &:before {
                    content: "";
                    margin-left: -5px;
                }
            }
        }
    }
    &.start {
        .rating-pr-box {
            @include prefix(animation, green-box1 0.45s linear 0s);
            @keyframes green-box1 {
                0% {
                    @include prefix(transform, scale(1));
                }
                50% {
                    @include prefix(transform, scale(0.95));
                    background-color: #fff;
                    box-shadow: 0 0 20px 0 #fff;
                }
                100% {
                    @include prefix(transform, scale(1));
                }
            }
        }
        .rating-pr-line {
            @include prefix(animation, green-box2 0.45s linear 0.45s);
            @keyframes green-box2 {
                0% {
                    @include prefix(transform, scale(1));
                }
                50% {
                    @include prefix(transform, scale(0.95));
                    background-color: #fff;
                    box-shadow: 0 0 20px 0 #fff;
                }
                100% {
                    @include prefix(transform, scale(1));
                }
            }
        }
        .girl-green-box {
            @include prefix(animation, green-box3 0.35s linear 0.7s);
            @keyframes green-box3 {
                0% {
                    @include prefix(transform, scale(1));
                }
                50% {
                    @include prefix(transform, scale(0.98));
                    background-color: #fff;
                    box-shadow: 0 0 20px 0 #fff;
                }
                100% {
                    @include prefix(transform, scale(1));
                }
            }
        }
    }
}
