@font-face {
  font-family: "Roboto Flex";
  src: url("https://assets.codepen.io/2585/RobotoFlex") format("truetype");
}
// COLORS light
$mainColor: #d5d8f6;

$mainColorDark3: darken($mainColor, 3%);
$mainColorDark5: darken($mainColor, 5%);
$mainColorDark10: darken($mainColor, 10%);
$mainColorDark15: darken($mainColor, 15%);
$mainColorDark20: darken($mainColor, 20%);
$mainColorDark25: darken($mainColor, 25%);
$mainColorDark30: darken($mainColor, 30%);
$mainColorDark40: darken($mainColor, 40%);
$mainColorDark50: darken($mainColor, 50%);

$mainColorLight2: lighten($mainColor, 2%);
$mainColorLight4: lighten($mainColor, 4%);
$mainColorLight5: lighten($mainColor, 5%);
$mainColorLight10: lighten($mainColor, 10%);
$mainColorLight15: lighten($mainColor, 15%);

// templateTit
$shadowColor6: inset -1px -1px 3px $mainColorLight5,
  1px 1px 3px $mainColorLight15, inset 1px 1px 3px $mainColorDark10,
  -1px -1px 3px $mainColorDark15;
// scrollbar
$shadowColor1: inset 0 0 3px 3px $mainColor,
  inset 4px 4px 2px 2px $mainColorLight10,
  inset -4px -4px 2px 2px $mainColorDark5;
// pageBox
$shadowColor2: -4px -4px 8px $mainColorLight10,
  inset 1px 1px 2px $mainColorLight10, inset -1px -1px 2px $mainColorDark10,
  4px 4px 8px $mainColorDark10;
// pageBox hover
$shadowColor3: 0 0 2px 1px $mainColorDark15, -5px -5px 10px $mainColorLight15,
  inset 1px 1px 2px $mainColorLight10, inset -1px -1px 2px $mainColorDark10,
  5px 5px 10px $mainColorDark15;
// pageBox active
$shadowColor4: 0 0 2px 1px $mainColorDark15, -2px -2px 4px $mainColorLight10,
  inset 1px 1px 2px $mainColorLight10, inset -1px -1px 2px $mainColorDark10,
  2px 2px 4px $mainColorDark10;
// projectComponent
$shadowColor5: 0 0 0 10px $mainColorDark5, 20px 20px 40px $mainColorDark15,
  -20px -20px 40px $mainColorLight15;
// toggle-btn & searchInput
$shadowColor7: inset -1px -1px 3px $mainColorDark5, 1px 1px 3px $mainColorLight5,
  inset 1px 1px 3px $mainColorDark20, -1px -1px 3px $mainColorDark30;
// toggle-btn before & clearBtn
$shadowColor8: -1px -1px 2px $mainColorLight10,
  inset 1px 1px 2px $mainColorLight2, 1px 1px 2px $mainColorDark20,
  inset -1px -1px 2px $mainColorDark10;
// tooltip
$shadowColor9: inset 1px 1px 2px $mainColorLight15,
  inset -1px -1px 2px $mainColorDark15;

// COLORS dark
$darkMainColor: #25325c;

$darkMainColorDark3: darken($darkMainColor, 3%);
$darkMainColorDark5: darken($darkMainColor, 5%);
$darkMainColorDark10: darken($darkMainColor, 10%);
$darkMainColorDark15: darken($darkMainColor, 15%);
$darkMainColorDark20: darken($darkMainColor, 20%);
$darkMainColorDark25: darken($darkMainColor, 25%);
$darkMainColorDark30: darken($darkMainColor, 30%);
$darkMainColorDark50: darken($darkMainColor, 50%);

$darkMainColorLight2: lighten($darkMainColor, 2%);
$darkMainColorLight4: lighten($darkMainColor, 4%);
$darkMainColorLight5: lighten($darkMainColor, 5%);
$darkMainColorLight10: lighten($darkMainColor, 10%);
$darkMainColorLight15: lighten($darkMainColor, 15%);
$darkMainColorLight30: lighten($darkMainColor, 30%);
$darkMainColorLight40: lighten($darkMainColor, 40%);

// templateTit
$shadowColorDark1: inset -1px -1px 3px $darkMainColorLight5,
  1px 1px 3px $darkMainColorLight15, inset 1px 1px 3px $darkMainColorDark10,
  -1px -1px 3px $darkMainColorDark15;
// scrollbar
$shadowColorDark2: inset 0 0 3px 3px $darkMainColor,
  inset 4px 4px 2px 2px $darkMainColorLight10,
  inset -4px -4px 2px 2px $darkMainColorDark5;
// pageBox
$shadowColorDark3: -4px -4px 8px $darkMainColorLight15,
  inset 1px 1px 2px $darkMainColorLight10,
  inset -1px -1px 2px $darkMainColorDark10, 4px 4px 8px $darkMainColorDark10;
// pageBox hover
$shadowColorDark4: 0 0 2px 1px $mainColorDark20,
  -5px -5px 10px $darkMainColorLight15, inset 1px 1px 2px $darkMainColorLight10,
  inset -1px -1px 2px $darkMainColorDark10, 5px 5px 10px $darkMainColorDark15;
// pageBox active
$shadowColorDark5: 0 0 2px 1px $mainColorDark20,
  -2px -2px 4px $darkMainColorLight10, inset 1px 1px 2px $darkMainColorLight10,
  inset -1px -1px 2px $darkMainColorDark10, 2px 2px 4px $darkMainColorDark10;
// projectComponent
$shadowColorDark6: 0 0 0 10px $darkMainColorDark5,
  20px 20px 40px $darkMainColorDark15, -20px -20px 40px $darkMainColorLight15;
// toggle-btn & searchInput
$shadowColorDark7: inset -1px -1px 3px $mainColorDark10,
  1px 1px 3px $darkMainColorLight15, inset 1px 1px 3px $darkMainColor,
  -1px -1px 3px $darkMainColorDark15;
// toggle-btn before & clearBtn
$shadowColorDark8: -1px -1px 2px $mainColorDark15,
  inset 1px 1px 2px $darkMainColorLight10, 1px 1px 2px $darkMainColorDark10,
  inset -1px -1px 2px $darkMainColorDark5;
// tooltip
$shadowColorDark9: inset 1px 1px 2px $darkMainColorLight30,
  inset -1px -1px 2px $darkMainColor;

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $mainColor;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  .templateTit {
    max-width: 1160px;
    width: calc(100% - 60px);
    margin: 20px;
    position: relative;
    padding: 10px;
    border-radius: 18px;
    background: $mainColorDark3;
    box-shadow: $shadowColor6;
    &.onePageDiasable {
      display: none;
    }
    .searchWrap {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: fit-content;
      height: fit-content;
      #searchInput {
        height: 0;
        width: 0;
        border-radius: 30px;
        padding: 16px;
        transition: 0.1s ease-in-out;
        pointer-events: none;
        background: $mainColorDark10;
        box-shadow: $shadowColor7;
        outline: none;
        border: none;
        color: $mainColorDark50;
        text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.2);
        font-size: 14px;
        &.active {
          width: 184px;
          padding-right: 40px;
          padding-left: 12px;
          pointer-events: all;
        }
        &:focus-visible {
          border: none;
        }
        &::placeholder {
          color: $mainColorDark30;
        }
      }
      #clearBtn {
        width: 26px;
        height: 26px;
        border-radius: 30px;
        border: none;
        position: absolute;
        right: 3px;
        top: 3px;
        cursor: pointer;
        background: $mainColorDark3;
        box-shadow: $shadowColor8;
        transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
        .btnIcn {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          filter: drop-shadow(0.2px 1px 0.4px rgba(255, 255, 255, 0.6));
          &:before,
          &:after {
            content: "";
            position: absolute;
            transition: all 0.3s 0.1s cubic-bezier(0.2, 0.85, 0.32, 1.2);
          }
          &:before {
            left: 4px;
            top: 4px;
            width: 9px;
            height: 9px;
            border-radius: 30px;
            border: 2px solid $mainColorDark15;
          }
          &:after {
            left: 16px;
            top: 13px;
            width: 3px;
            height: 8px;
            border-radius: 2px;
            background: $mainColorDark15;
            transform: rotate(-45deg);
          }
        }
        &:active {
          transform: scale(0.9);
        }
        &:hover {
          background: $mainColor;
        }
        &.active {
          .btnIcn {
            &:before,
            &:after {
              left: 11.4px;
              top: 5px;
              width: 3px;
              height: 15px;
              background: $mainColorDark15;
            }
            &:before {
              border: none;
              border-radius: 2px;
              transform: rotate(45deg);
            }
            &.defined {
              &:before,
              &:after {
                background: rgb(255, 100, 100) !important;
              }
            }
          }
        }
      }
    }
    .title {
      color: $mainColorDark20;
      text-shadow: 1px 1px 2px #fff;
      font-size: 26px;
      font-weight: 700;
      text-align: center;
      line-height: 32px;

      transition-property: opacity, transform;
      font-family: Roboto Flex, "Montserrat", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-stretch: 100%;
      font-variation-settings: "slnt" -10, "GRAD" 0, "XTRA" 444, "YOPQ" 54,
        "YTAS" 758, "YTDE" -303, "YTFI" 738, "YTLC" 514, "YTUC" 712;
      font-optical-sizing: auto;
      transition-duration: 350ms;
    }
    .toggle-btn {
      position: absolute;
      right: 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 61px;
      height: 32px;
      border-radius: 30px;
      cursor: pointer;
      -webkit-appearance: none;
      appearance: none;
      transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
      background: $mainColorDark10;
      box-shadow: $shadowColor7;
      &:hover {
        &:before {
          background: $mainColor;
        }
      }
      &:active {
        &:before {
          background: $mainColor;
          transform: scale(0.9);
        }
        .btnIcn {
          transform: scale(0.8);
        }
      }
      &:before {
        content: "";
        position: absolute;
        left: 3px;
        top: 3px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
        background: $mainColorDark3;
        box-shadow: $shadowColor8;
      }
      .btnIcn {
        box-sizing: border-box;
        position: absolute;
        left: 4px;
        top: 4px;
        display: block;
        transform: scale(0.9);
        width: 24px;
        height: 24px;
        background: linear-gradient(
              to bottom,
              $mainColorDark15 4px,
              transparent 0
            )
            no-repeat 5px -6px/2px 6px,
          linear-gradient(to bottom, $mainColorDark15 4px, transparent 0)
            no-repeat 5px 14px/2px 6px,
          linear-gradient(to bottom, $mainColorDark15 4px, transparent 0)
            no-repeat -8px 5px/6px 2px,
          linear-gradient(to bottom, $mainColorDark15 4px, transparent 0)
            no-repeat 14px 5px/6px 2px;
        border-radius: 100px;
        box-shadow: inset 0 0 0 2px $mainColorDark15;
        border: 6px solid transparent;
        transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
        filter: drop-shadow(0.2px 1px 0.4px rgba(255, 255, 255, 0.6));
        &:before {
          content: "";
          display: block;
          box-sizing: border-box;
          position: absolute;
          width: 24px;
          height: 2px;
          border-right: 4px solid $mainColorDark15;
          border-left: 4px solid $mainColorDark15;
          left: -6px;
          top: 5px;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        &:after {
          content: "";
          display: block;
          box-sizing: border-box;
          position: absolute;
          width: 24px;
          height: 2px;
          border-right: 4px solid $mainColorDark15;
          border-left: 4px solid $mainColorDark15;
          left: -6px;
          top: 5px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      &.on {
        background: saturate($mainColorDark20, 50%);
        box-shadow: $shadowColorDark7;
        &:before {
          transform: translateX(calc(100% + 2px));
          background: $darkMainColorLight2;
          box-shadow: $shadowColorDark8;
        }
        &:hover {
          &:before {
            background: $darkMainColorLight5;
          }
        }
        &:active {
          &:before {
            transform: translateX(calc(100% + 2px)) scale(0.9);
          }
          .btnIcn {
            transform: translateX(calc(100% + 4px)) scale(0.9);
          }
        }
        .btnIcn {
          transform: translateX(calc(100% + 4px));
          background: transparent;
          border: 4px solid transparent;
          box-shadow: inset -4px -4px 0 0px #f5f200;
          filter: drop-shadow(0.2px 1px 0.4px $darkMainColorDark20);
          &:before {
            display: none;
          }
          &:after {
            display: none;
          }
        }
      }
    }
  }
  .template-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100vh - 92px);
    margin: 0 20px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 1186px;
    padding-bottom: 10px;
    &::-webkit-scrollbar-track {
      border-radius: 6px;
      z-index: 999;
    }
    &::-webkit-scrollbar {
      border-radius: 6px;
      width: 24px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: $mainColorLight2;
      box-shadow: $shadowColor1;
    }
    .pageBox {
      border-radius: 18px;
      background: $mainColorLight2;
      box-shadow: $shadowColor2;
      width: 238px;
      height: 154px;
      position: relative;
      transition: width ease-in-out 0.2s 0s, opacity ease-in-out 0.1s 0.2s;
      overflow: hidden;
      margin: 20px;
      &.disabled {
        transition: opacity ease-in-out 0.1s, width ease-in-out 0.3s;
        pointer-events: none;
        opacity: 0;
        width: 0;
        margin: 0;
      }
      &:hover {
        background: $mainColorLight4;
        box-shadow: $shadowColor3;
        z-index: 1;
        .pageBoxLink {
          color: $mainColorDark25;
          filter: saturate(2);
        }
      }
      &:active {
        background: $mainColor;
        box-shadow: $shadowColor4;
        transform: scale(0.99);
      }
      .pageBoxLink {
        position: absolute;
        left: 0;
        top: 0;
        width: 68%;
        height: 100%;
        padding: 0px 16%;
        display: block;
        color: $mainColorDark20;
        font-weight: 700;
        text-shadow: 1px 1px 2px #fff;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        -webkit-text-decoration: none;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .infoPageBox {
        position: absolute;
        top: 6px;
        left: 210px;
        width: 18px;
        height: 18px;
        background: $mainColorDark5;
        box-shadow: $shadowColor7;
        border-radius: 50%;
        color: $mainColorDark25;
        text-align: center;
        line-height: 19px;
        font-size: 16px;
        font-weight: 700;
        text-shadow: 0.5px 0.5px 1px #fff;
        cursor: help;
        transition: all ease-in-out 0.1s;
        &:hover {
          color: $mainColorDark40;
          filter: hue-rotate(290deg) saturate(2);
        }
      }
      .projectComponent {
        -webkit-transform: scale(0.180134);
        transform: scale(0.180134);
        margin: -260px 0px 0px -480px;
        pointer-events: none;
        border: none;
        position: absolute;
        top: 26px;
        border-radius: 40px;
        width: 1200px;
        height: 640px;
        box-shadow: $shadowColor5;
        overflow: hidden;
        background: #fff;
      }
    }
    &.onePage {
      height: 100%;
      width: 100%;
      max-width: none;
      position: absolute;
      top: 0;
      left: 0;
      transform: none;
      background-color: #9f8978;
      padding: 0;
      margin: 0;
      .pageBox {
        width: 100%;
        height: 100%;
        border-radius: 0;
        background: none;
        box-shadow: none;
        transform: none;
        pointer-events: none;
        margin: 0;
        .projectComponent {
          top: 0;
          left: 50%;
          transform: translateX(-50%) scale(1);
          border-radius: 0;
          margin: 0;
          box-shadow: none;
          pointer-events: all;
          overflow: unset;
          background: none;
        }
        #MainScreen00RegComponent {
          background: none;
          box-shadow: none;
          width: 100%;
          height: 100%;
          .screenReg {
            width: 100%;
            height: 100%;
            .wrapStyles {
              width: 100% !important;
              height: 100% !important;
            }
          }
        }
      }
    }
  }
  .tooltipTemplate {
    position: absolute;
    padding: 10px 14px;
    border-radius: 10px;
    background: $mainColor;
    box-shadow: $shadowColor9;
    color: $mainColorDark50;
    text-shadow: 0.5px 0.5px 1px $mainColorLight5;
    transition: opacity 0.15s 0s ease-in-out, transform 0.15s 0s ease-in-out,
      margin 0.15s 0s ease-in-out;
    margin: 0;
    opacity: 0;
    transform: scale(0.9);
    font-size: 13px;
    z-index: 100;
    pointer-events: none;
    filter: drop-shadow(0 1px 3px rgba(4, 3, 52, 0.6));
    &:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      left: 50%;
      bottom: -5px;
      transform: translateX(-50%);
    }
    &.visible {
      opacity: 1;
      transform: scale(1);
    }
    &.top {
      transition: opacity 0.15s 0s ease-in-out, transform 0.15s 0s ease-in-out,
        margin 0.15s 0.15s ease-in-out;
      margin-top: 16px;
      &:after {
        top: -7px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $mainColorLight5;
      }
    }
    &.bottom {
      transition: opacity 0.15s 0s ease-in-out, transform 0.15s 0s ease-in-out,
        margin 0.15s 0.15s ease-in-out;
      margin-top: -16px;
      &:after {
        bottom: -7px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid $mainColorDark5;
      }
    }
    &.left {
      &:after {
        left: 19px;
        transform: none;
      }
    }
    &.right {
      &:after {
        left: unset;
        right: 19px;
        transform: none;
      }
    }
    .icn {
      display: inline-block;
      width: 1em;
      margin: -2px 6px -2px -2px;
      fill: $mainColorDark20;
      filter: drop-shadow(0.5px 0.5px 1px $mainColorLight5);
    }
  }
  &.dark-theme {
    background: $darkMainColor;
    .templateTit {
      background: $darkMainColorDark3;
      box-shadow: $shadowColorDark1;
      .searchWrap {
        #searchInput {
          background: saturate($mainColorDark20, 50%);
          box-shadow: $shadowColorDark7;
          color: $darkMainColorDark20;
          &::placeholder {
            color: $darkMainColorLight5;
          }
        }
        #clearBtn {
          background: $darkMainColorLight2;
          box-shadow: $shadowColorDark8;
          .btnIcn {
            filter: drop-shadow(0.2px 1px 0.4px $darkMainColorDark20);
            &:before {
              border: 2px solid saturate($mainColorDark10, 50%);
            }
            &:after {
              background: saturate($mainColorDark10, 50%);
            }
          }
          &:hover {
            background: $darkMainColorLight5;
          }
          &.active {
            .btnIcn {
              &:before,
              &:after {
                border: none;
                background: saturate($mainColorDark10, 50%);
              }
            }
          }
        }
      }
      .title {
        text-shadow: 1px 1px 2px #000000;
      }
    }
    .template-container {
      &::-webkit-scrollbar-thumb {
        background: $darkMainColorLight2;
        box-shadow: $shadowColorDark2;
      }
      .pageBox {
        background: $darkMainColorLight4;
        box-shadow: $shadowColorDark3;
        &:hover {
          background: $darkMainColorLight5;
          box-shadow: $shadowColorDark4;
          .pageBoxLink {
            color: $mainColorDark10;
          }
        }
        &:active {
          background: $darkMainColor;
          box-shadow: $shadowColorDark5;
        }
        .pageBoxLink {
          text-shadow: 1px 1px 2px rgba(0, 1, 60, 0.6);
        }
        .infoPageBox {
          background: saturate($mainColorDark20, 50%);
          box-shadow: $shadowColorDark7;
          text-shadow: 0.5px 0.5px 1px $darkMainColorLight40;
          color: $darkMainColor;
        }
        .projectComponent {
          box-shadow: $shadowColorDark6;
        }
      }
      &.onePage {
        .pageBox {
          background: none;
          box-shadow: none;
          .projectComponent {
            box-shadow: 0 0 2px #000, 0 0 10px #4d4538, 0 0 10px #4d4538,
              0 0 10px #4d4538, 0 0 25px #4d4538;
          }
        }
      }
    }
    .tooltipTemplate {
      background: $darkMainColorLight15;
      box-shadow: $shadowColorDark9;
      color: saturate($mainColor, 50%);
      text-shadow: 0.5px 0.5px 1px $darkMainColorLight5;
      filter: drop-shadow(0 1px 3px rgba(4, 3, 52, 0.8));
      &.top {
        &:after {
          border-bottom: 8px solid $darkMainColorLight30;
        }
      }
      &.bottom {
        &:after {
          border-top: 8px solid $darkMainColorLight10;
        }
      }
      .icn {
        fill: saturate($mainColorDark10, 50%);
        filter: drop-shadow(0.5px 0.5px 1px $darkMainColorLight5);
      }
    }
  }
}
