@charset "utf-8";
@import "sass_commons.scss";

body .main {
  .left-side {
    .left-panel {
      &.relics {
        .tower-rightside-box-all {
          width: 580px;
          height: 507px;
          position: absolute;
          top: 4px;
          right: 4px;
          background-color: #b7a597;
          border-radius: 0px 14px 14px 0;
          box-shadow:
            inset -1px 1px 1px rgba(255, 255, 255, 0.2),
            inset 2px 0 0 rgba(0, 0, 0, 0.2),
            0 0 4px rgba(0, 0, 0, 0.2),
            4px 0 0 #9c8b7c,
            0 4px 0 #9c8b7c,
            4px 4px 0 #9c8b7c,
            0 -4px 0#9c8b7c,
            4px -4px 0 #9c8b7c;
          .right-side {
            top: -25px;
            right: -9px;
            .skills-wrap {
              left: -17px;
              top: 21px;
              position: absolute;
            }
            .monster {
              top: 1px;
              right: 0;
            }
          }
          .tower-right-wrap {
            position: absolute;
            z-index: 2;
            width: 580px;
            height: 507px;
            background-color: rgb(183, 165, 151);
            border-radius: 0px 14px 14px 0;
            box-shadow:
              inset -1px 1px 1px rgba(255, 255, 255, 0.2),
              inset 2px 0 0 rgba(0, 0, 0, 0.2),
              0 0 4px rgba(0, 0, 0, 0.2),
              4px 0 0 #9c8b7c,
              0 4px 0 #9c8b7c,
              4px 4px 0 #9c8b7c,
              0 -4px 0#9c8b7c,
              4px -4px 0 #9c8b7c;
            .tower-prg-box-all {
              width: 562px;
              height: 50px;
              position: absolute;
              top: 44px;
              left: 10px;
              background-color: #8f7c6e;
              border-radius: 10px;
              box-shadow:
                0 1px 1px rgba(255, 255, 255, 0.1),
                inset 0px 1px 1px rgba(0, 0, 0, 0.1);
              .buy-relics {
                position: absolute;
                left: 310px;
                top: -5px;
                cursor: pointer;
              }
              .tower-prgbar-all {
                width: 300px;
                height: 40px;
                position: absolute;
                top: 5px;
                left: 5px;
                background: linear-gradient(180deg, #3b302f 0%, #584a49 100%);
                .tower-prgbar {
                  width: 85%;
                  height: 40px;
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  background: linear-gradient(
                    0deg,
                    #8cdd55 0%,
                    #43a700 50%,
                    #8cdd55 100%
                  );
                }
                .tower-prgbar-text {
                  width: 300px;
                  height: 40px;
                  position: relative;
                  text-align: center;
                  color: #ffd33c;
                  font-weight: bold;
                  font-size: 16px;
                  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
                  line-height: 40px;
                  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
                  text-transform: uppercase;
                  span {
                    color: #fff;
                    margin-left: 10px;
                    font-size: 18px;
                  }
                }
              }
              .cards-res-box {
                width: 170px;
                height: 36px;
                position: absolute;
                top: 7px;
                left: 206px;
                @include background-resourcebg;
                @include prefix(border-radius, 18px);
                box-shadow:
                  inset 0 -2px 0 0 rgba(160, 79, 0, 0.55),
                  0 2px 4px 0 rgba(0, 0, 0, 0.35);
                &:before {
                  content: "";
                  width: 40px;
                  height: 40px;
                  position: absolute;
                  top: -2px;
                  left: -2px;
                  background-image: url(gold-ticket.png);
                  background-size: 100%;
                  background-repeat: no-repeat;
                }
                .cards-value {
                  width: 100px;
                  height: 28px;
                  position: absolute;
                  top: 3px;
                  left: 38px;
                  background: linear-gradient(
                    90deg,
                    #f4bf87 0%,
                    #d38632 50%,
                    #92581a 100%
                  );
                  box-shadow:
                    inset 0 2px 4px rgba(0, 0, 0, 0.25),
                    inset 0 14px 0 rgba(255, 255, 255, 0.15);
                  @include prefix(border-radius, 6px);
                  color: #fff;
                  font-size: 20px;
                  font-weight: bold;
                  line-height: 28px;
                  text-align: center;
                  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
                }
                .cards-value-btn-add {
                  width: 32px;
                  height: 36px;
                  position: absolute;
                  top: 0;
                  right: 0;
                  @include prefix(border-radius, 0 18px 18px 0);
                  cursor: pointer;
                  filter: drop-shadow(0 1px 0.5px rgba(255, 255, 255, 0.795));
                  &:before {
                    content: "";
                    width: 6px;
                    height: 22px;
                    position: absolute;
                    top: 7px;
                    left: 12px;
                    background-color: #4f4646;
                    border-radius: 2px;
                  }
                  &:after {
                    content: "";
                    width: 22px;
                    height: 6px;
                    position: absolute;
                    top: 15px;
                    left: 4px;
                    background-color: #4f4646;
                    border-radius: 2px;
                  }
                  &:hover {
                    &:before {
                      background-color: #3c3737;
                    }
                    &:after {
                      background-color: #3c3737;
                    }
                  }
                  &:active {
                    &:before {
                      width: 4px;
                      height: 20px;
                      top: 8px;
                      left: 13px;
                    }
                    &:after {
                      width: 20px;
                      height: 4px;
                      top: 16px;
                      left: 5px;
                    }
                  }
                }
                &.relicset {
                  left: 6px;
                  &:before {
                    content: "";
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    background-image: url(card-ic-koloda.png);
                    background-size: 100%;
                    background-repeat: no-repeat;
                  }
                }
              }
              .relics-pop-event-btn {
                width: 70px;
                height: 70px;
                position: absolute;
                top: -10px;
                left: 5px;
                cursor: pointer;
                background-image: url(offer-bk-sm1.png);
                background-size: 100%;
                background-repeat: no-repeat;
                .relics-pop-event-btn-text {
                  width: 100%;
                  height: auto;
                  position: relative;
                  top: 24px;
                  text-align: center;
                  color: #fff;
                  font-weight: bold;
                  font-size: 14px;
                  text-transform: uppercase;
                  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
                }
                &:active {
                  top: -9px;
                }
              }
            }
            .tower-box-all {
              .tower-relics-box-scroll {
                width: 550px;
                height: 396px;
                position: absolute;
                top: 7px;
                left: 7px;
                overflow: hidden;
                overflow-y: auto;
                font-size: 0;
                border-radius: 6px;
                display: flex;
                flex-wrap: wrap;
                gap: 9px;
                justify-content: center;
                align-items: center;
                align-content: flex-start;
                padding-bottom: 4px;
                scrollbar-width: thin;
                scrollbar-color: #f4b766 #584941;
                &::-webkit-scrollbar-track {
                  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
                  border-radius: 10px;
                  background-color: #7c665c;
                }
                &::-webkit-scrollbar {
                  width: 10px;
                }
                &::-webkit-scrollbar-thumb {
                  border-radius: 10px;
                  -webkit-box-shadow: inset 0 0 3px #796b60;
                  background: linear-gradient(
                    to right,
                    #fff,
                    #f5de80,
                    #f4b766,
                    #b26d12
                  );
                }
                .textWrap {
                  width: 100%;
                  height: 52px;
                  border-radius: 6px 6px 0 0;
                  background: rgba(0, 0, 0, 0.2);
                  box-shadow:
                    0 1px 1px rgba(255, 255, 255, 0.1),
                    inset 0px 1px 1px rgba(0, 0, 0, 0.1);
                  display: flex;
                  justify-content: center;
                  .vanish-text {
                    color: #fff;
                    font-size: 18px;
                    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
                    text-align: center;
                    width: 40%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .color-btn {
                      width: 116px;
                    }
                  }
                }
                .tower-relics-box {
                  width: 98px;
                  height: 144px;
                  position: relative;
                  display: inline-block;
                  background-color: green;
                  border-radius: 4px;
                  overflow: hidden;
                  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
                  &:hover {
                    filter: brightness(1.05);
                  }
                  &.gold {
                    background-image: url(v2-rb-card-bg-gold.jpg);
                    background-size: 100%;
                    background-repeat: no-repeat;
                  }
                  &.silver {
                    background-image: url(v2-rb-card-bg-silver.jpg);
                    background-size: 100%;
                    background-repeat: no-repeat;
                  }
                  &.bronze {
                    background-image: url(v2-rb-card-bg-bronze.jpg);
                    background-size: 100%;
                    background-repeat: no-repeat;
                  }
                  .tower-relics-pic {
                    width: 80px;
                    height: 80px;
                    position: absolute;
                    top: 10px;
                    left: 9px;
                    img {
                      width: 80px;
                    }
                  }
                  .tower-relics-text-box {
                    width: 90px;
                    height: 50px;
                    position: absolute;
                    bottom: 4px;
                    left: 4px;
                    background-color: rgba(0, 0, 0, 0.35);
                    border-radius: 3px;
                    box-shadow:
                      inset 0 1px 2px rgba(0, 0, 0, 0.2),
                      0 1px 2px rgba(255, 255, 255, 0.2);
                    .tower-relics-text {
                      width: calc(100% - 8px);
                      top: 50%;
                      left: 4px;
                      transform: translateY(-50%);
                      position: relative;
                      text-align: center;
                      color: #fff;
                      font-size: 8px;
                      font-weight: bold;
                    }
                  }
                }
              }
            }
          }
        }
        .tab-loading-wrapper {
          height: 511px;
        }
      }
    }
  }
}
