@charset "utf-8";
@import "sass_commons.scss";

.popup-layer .m-popup.unipop-pse-pop {
    display: block;
    width: 900px;
    height: 600px;
    position: absolute;
    left: 62px;
    top: 20px;
    .title {
        background: linear-gradient(to right, #fad488, #dd9200, #fad488);
        color: #fff;
    }
    .color-box {
        background-image: url(../../img/ts_confirm_bk-1.jpg);
        background-size: 100%;
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
    }
    .color-box-decor {
        width: 170px;
        height: 620px;
        position: absolute;
        top: -10px;
        left: -46px;
        background-image: url(../../img/unipop-bg1.png);
        background-size: 100%;
        &:before {
            content: "";
            width: 168px;
            height: 86px;
            position: absolute;
            top: 540px;
            left: 190px;
            background-image: url(../../img/unipop-bg2.png);
            background-size: 100%;
        }
        &:after {
            content: "";
            width: 200px;
            height: 540px;
            position: absolute;
            top: 90px;
            left: 800px;
            background-image: url(../../img/unipop-bg3.png);
            background-size: 100%;
        }
    }
    .unipop-box-content-all {
        width: 850px;
        height: 500px;
        position: absolute;
        top: 74px;
        left: 24px;
        background: rgba(255, 238, 200, 0.8);
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.55);
        .unipop-box-left-box {
            width: 190px;
            height: 500px;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(230, 181, 84, 0.7);
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.35);
            .unipop-scroll-box {
                width: 185px;
                height: 490px;
                position: absolute;
                top: 5px;
                left: 5px;
                font-size: 0;
                overflow: hidden;
                overflow-y: scroll;
                transform: rotateY(180deg);
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
                    border-radius: 10px;
                    background-color: #7c665c;
                }
                &::-webkit-scrollbar {
                    width: 10px;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    box-shadow: inset 0 0 3px #796b60;
                    background: linear-gradient(
                        to left,
                        #fff,
                        #f5de80,
                        #f4b766,
                        #b26d12
                    );
                }
                .unipop-box {
                    width: 150px;
                    height: 80px;
                    position: relative;
                    display: inline-block;
                    margin: 2px 0 2px 0;
                    transform: rotateY(180deg);
                    top: 0;
                    left: 4px;
                    cursor: pointer;
                    @include prefix(border-radius, 10px);
                    @include background-bronze;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
                    &:before {
                        content: "";
                        width: 146px;
                        height: 76px;
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        background: linear-gradient(
                            0deg,
                            #8e7453 0%,
                            #e3c7a3 100%
                        );
                        @include prefix(border-radius, 8px);
                    }
                    .text {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        color: #fff;
                        font-size: 20px;
                    }
                    .unipop-gold-arrow {
                        width: 20px;
                        height: 62px;
                        position: absolute;
                        top: 9px;
                        left: 148px;
                        background-image: url(../../img/unipop-gold-arrow.png);
                        background-size: 100%;
                        visibility: hidden;
                    }
                    .unipop-box-pic {
                        width: 140px;
                        height: 70px;
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        @include prefix(border-radius, 6px);
                        overflow: hidden;
                        img {
                            width: 140px;
                        }
                    }
                    &.select {
                        @include background-gold;
                        &:before {
                            content: "";
                            background: linear-gradient(
                                0deg,
                                #e9b039 0%,
                                #fffe9a 100%
                            );
                        }
                        .unipop-gold-arrow {
                            visibility: visible;
                        }
                    }
                    &:active {
                        top: 1px;
                    }
                }
            }
        }
        .unipop-box-right-box {
            width: 640px;
            height: 480px;
            position: absolute;
            top: 10px;
            left: 200px;
            .right-box-f {
                width: 640px;
                height: 480px;
                position: absolute;
                top: 0;
                left: 0;
                background-image: url(../../img/ts_confirm_bk-1.jpg);
                background-size: 100%;
                background-position-y: bottom;
                @include prefix(border-radius, 10px);
                .right-box-f-name-box {
                    width: 640px;
                    height: 50px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include background-gold;
                    @include prefix(border-radius, 10px 10px 0 0);
                    color: #3c3934;
                    font-weight: bold;
                    font-size: 26px;
                    line-height: 50px;
                    text-transform: uppercase;
                    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
                }
                .red-timer-box {
                    width: 110px;
                    height: 50px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url(../../img/timer-back-50.png);
                    background-size: 100%;
                    .time-text,
                    .time {
                        color: #fff000;
                        text-shadow: 0 1px 2px #680000;
                        font-size: 16px;
                        font-weight: bold;
                        position: relative;
                        top: 8px;
                    }
                    .time {
                        color: #fff;
                        font-size: 14px;
                        top: 5px;
                        font-weight: normal;
                    }
                }
                .sexped-center-box {
                    width: 190px;
                    height: 360px;
                    position: absolute;
                    top: 60px;
                    left: 225px;
                    background-image: url(../../img/v2-sexped-pse.jpg);
                    .sexped-center-box-name {
                        width: 220px;
                        height: 30px;
                        position: absolute;
                        top: -5px;
                        left: -15px;
                        background-image: url(../../img/wpck-ram.png);
                        background-size: 100%;
                        background-repeat: no-repeat;
                        color: #fff;
                        font-size: 12px;
                        font-weight: bold;
                        text-transform: uppercase;
                        line-height: 24px;
                    }
                }
                .sexped-girl-left-box {
                    width: 215px;
                    height: 420px;
                    position: absolute;
                    top: 60px;
                    left: 0;
                    .sexped-girl {
                        position: absolute;
                        right: -38px;
                    }
                    .sexped-girl-buble {
                        width: auto;
                        height: auto;
                        position: absolute;
                        top: 170px;
                        right: -40px;
                        background-color: #fff;
                        @include prefix(border-radius, 20px);
                        border: 2px solid #000;
                        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.35);
                        color: #000;
                        font-size: 14px;
                        font-weight: bold;
                        text-transform: uppercase;
                        padding: 10px 20px;
                    }
                    .sexped-reward-box-all {
                        width: 205px;
                        height: 180px;
                        position: absolute;
                        bottom: 5px;
                        left: 5px;
                        font-size: 0;
                        .sexped-reward {
                            width: 80px;
                            height: 80px;
                            position: relative;
                            display: inline-block;
                            @include background-gold;
                            @include prefix(border-radius, 6px);
                            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.55);
                            margin: 5px;
                            &:before {
                                content: "";
                                width: 76px;
                                height: 76px;
                                position: absolute;
                                top: 2px;
                                left: 2px;
                                @include prefix(border-radius, 6px);
                                background: linear-gradient(
                                    0deg,
                                    #e9b039 0%,
                                    #fffe9a 100%
                                );
                                box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.55);
                            }
                            .sexped-pic {
                                width: 70px;
                                height: 70px;
                                position: absolute;
                                top: 5px;
                                left: 5px;
                            }
                            .sexped-num {
                                width: 60px;
                                height: 20px;
                                position: absolute;
                                bottom: 2px;
                                left: 10px;
                                background: linear-gradient(
                                    0deg,
                                    #e9b039 0%,
                                    #fffe9a 100%
                                );
                                @include prefix(border-radius, 20px);
                                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35);
                                color: #000;
                                font-size: 12px;
                                font-weight: bold;
                                text-align: center;
                                line-height: 20px;
                            }
                        }
                    }
                }
                .sexped-girl-right-box {
                    width: 215px;
                    height: 420px;
                    position: absolute;
                    top: 60px;
                    right: 0;
                    .sexped-girl {
                        position: absolute;
                        right: -22px;
                    }
                    .sexped-girl-buble {
                        width: auto;
                        height: auto;
                        position: absolute;
                        top: 150px;
                        left: -55px;
                        background-color: #fff;
                        @include prefix(border-radius, 20px);
                        border: 2px solid #000;
                        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.35);
                        color: #000;
                        font-size: 14px;
                        font-weight: bold;
                        text-transform: uppercase;
                        padding: 10px 20px;
                    }
                    .sexped-reward-box-all {
                        width: 205px;
                        height: 180px;
                        position: absolute;
                        bottom: 5px;
                        left: 5px;
                        font-size: 0;
                        .sexped-reward {
                            width: 80px;
                            height: 80px;
                            position: relative;
                            display: inline-block;
                            @include background-gold;
                            @include prefix(border-radius, 6px);
                            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.55);
                            margin: 5px;
                            &:before {
                                content: "";
                                width: 76px;
                                height: 76px;
                                position: absolute;
                                top: 2px;
                                left: 2px;
                                @include prefix(border-radius, 6px);
                                background: linear-gradient(
                                    0deg,
                                    #e9b039 0%,
                                    #fffe9a 100%
                                );
                                box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.55);
                            }
                            .sexped-pic {
                                width: 70px;
                                height: 70px;
                                position: absolute;
                                top: 5px;
                                left: 5px;
                            }
                            .sexped-num {
                                width: 60px;
                                height: 20px;
                                position: absolute;
                                bottom: 2px;
                                left: 10px;
                                background: linear-gradient(
                                    0deg,
                                    #e9b039 0%,
                                    #fffe9a 100%
                                );
                                @include prefix(border-radius, 20px);
                                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35);
                                color: #000;
                                font-size: 12px;
                                font-weight: bold;
                                text-align: center;
                                line-height: 20px;
                            }
                        }
                    }
                }
                .color-btn.green {
                    width: 200px;
                    top: 428px;
                    .color-btn-text {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.color-btn {
    width: 90px;
    height: 50px;
    position: relative;
    display: inline-block;
    @include prefix(border-radius, 6px);
    background: linear-gradient(0deg, #e9b039 0%, #fffe9a 100%);
    box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.25),
        0 2px 4px 0 rgba(0, 0, 0, 0.55);
    cursor: pointer;
    .color-btn-text {
        top: 10px;
        position: relative;
        color: #fff;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
    }
    &:active {
        box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.2),
            inset 0 2px 2px rgba(0, 0, 0, 0.2);
        .color-btn-text {
            top: 12px;
        }
    }
    &.blue {
        background: linear-gradient(0deg, #62a3e5 0%, #b4d7fa 100%);
    }
    &.green {
        background: linear-gradient(0deg, #7cbc30 0%, #baf279 100%);
    }
    &.orage {
        background: linear-gradient(0deg, #d67503 0%, #fdd2a0 100%);
    }
    &.purple {
        background: linear-gradient(0deg, #aa5eca 0%, #d992f7 100%);
    }
}
