.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 {
  overflow-y: scroll;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer {
  height: 356px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-off {
  display: block;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer:before {
  content: "";
  display: block;
  background: #ccc;
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner {
  display: block;
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 78px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner img,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner img {
  width: 100%;
  height: 100%;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner .ban-back,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .ban-back {
  height: 256px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner .clock,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .clock {
  top: 16px;
  margin-left: 174px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.clock .rate,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.clock .rate {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.clock .rate-text,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.clock .rate-text {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.clock .gold-shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.clock .gold-shards {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner .reborn,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .reborn {
  width: 140px;
  height: 140px;
  background-image: url(../../img/ic-abil-reborn@2x.png);
  background-size: 140spx;
  position: absolute;
  top: 112px;
  margin-left: 24px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner .reborn .instant,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .reborn .instant {
  background-color: rgba(60, 57, 52, 0.9);
  position: relative;
  top: 140px;
  padding: 8px;
  left: 0;
  font-size: 30px;
  color: #fff;
  line-height: 20px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner .reborn .instant:before,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .reborn .instant:before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  vertical-align: middle;
  position: relative;
  background-image: url(../../img/reb-rub.png);
  background-size: 26px;
  margin-right: 5px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner .balancer,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .balancer {
  width: 140px;
  height: 140px;
  background-image: url(../../img/ic-abil-rubin@2x.png);
  background-size: 140px;
  position: absolute;
  top: 112px;
  margin-left: 24px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner .gold,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .gold {
  width: 75px;
  height: 75px;
  background-image: url(../../img/ic-abil-gold.png);
  background-size: 75px;
  position: absolute;
  top: 112px;
  margin-left: 188px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner .gold:before,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .gold:before {
  content: "";
  width: 75px;
  height: 75px;
  display: block;
  background-image: url(../../img/ic-abil-gold.png);
  position: absolute;
  top: 4px;
  margin-left: 55px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner .gold:after,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .gold:after {
  content: "";
  width: 75px;
  height: 75px;
  display: block;
  background-image: url(../../img/ic-abil-gold.png);
  position: absolute;
  top: 5px;
  margin-left: -53px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner .gold-shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .gold-shards {
  width: 75px;
  height: 75px;
  background-image: url(../../img/ic-abil-gold-but.png);
  background-size: 75px;
  position: absolute;
  top: 112px;
  margin-left: 188px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner .gems,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .gems {
  width: 75px;
  height: 75px;
  background-image: url(../../img/ic-abil-rubin.png);
  background-size: 75px;
  position: absolute;
  top: 112px;
  margin-left: 188px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner .shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .shards {
  top: 112px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold .gold-shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold .gold-shards {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold .shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold .shards {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold .gems,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold .gems {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold .reborn,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold .reborn {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold .balancer,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold .balancer {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.rate .gold,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.rate .gold {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.rate .shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.rate .shards {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.rate .gems,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.rate .gems {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.rate .reborn,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.rate .reborn {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.rate .balancer,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.rate .balancer {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .count1,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .count2,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .count1,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .count2 {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .gold-shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .gold-shards {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .gems,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .gems {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .reborn,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .reborn {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .balancer,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .balancer {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .gold,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .gold,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .shards {
  margin-left: 80px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .gold:before,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .shards:before,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .gold:before,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .shards:before {
  display: block;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .gold:after,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .shards:after,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .gold:after,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .shards:after {
  display: block;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .gold .g-count,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .gold .s-count,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .shards .g-count,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .shards .s-count,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .gold .g-count,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .gold .s-count,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .shards .g-count,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .shards .s-count {
  top: 91px;
  width: 150px;
  position: absolute;
  margin-left: -40px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock .shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock .shards {
  margin-left: 298px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock.old .counter,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock.old .counter {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock.old .g-count,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock.old .g-count {
  display: inline-block;
  text-decoration: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock.old .g-count.oldprice,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock.old .s-count.oldprice,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock.old .g-count.oldprice,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock.old .s-count.oldprice {
  text-decoration: line-through;
  color: red;
  font-size: 16px;
  position: relative;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold-shards.clock.old .newprice,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold-shards.clock.old .newprice {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  margin: 0 4px 0 4px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.shards.clock .g-count,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.shards.clock .g-count {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.shards.clock .s-count,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.shards.clock .s-count {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold.clock .g-count,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold.clock .g-count {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gold.clock .s-count,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gold.clock .s-count {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.shards .gold,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.shards .gold {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.shards .gold-shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.shards .gold-shards {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.shards .gems,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.shards .gems {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.shards .reborn,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.shards .reborn {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.shards .balancer,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.shards .balancer {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gems .gold,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gems .gold {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gems .gold-shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gems .gold-shards {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gems .shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gems .shards {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gems .reborn,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gems .reborn {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.gems .balancer,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.gems .balancer {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.reborn .gold,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.reborn .gold {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.reborn .gold-shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.reborn .gold-shards {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.reborn .shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.reborn .shards {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.reborn .gems,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.reborn .gems {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.reborn .clock,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.reborn .clock {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.reborn .counter,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.reborn .counter {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.reborn .rate,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.reborn .rate {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.reborn .balancer,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.reborn .balancer {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.balancer .gold,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.balancer .gold {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.balancer .gold-shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.balancer .gold-shards {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.balancer .shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.balancer .shards {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.balancer .gems,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.balancer .gems {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.balancer .clock,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.balancer .clock {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.balancer .counter,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.balancer .counter {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.balancer .rate,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.balancer .rate {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.balancer .reborn,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.balancer .reborn {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner .rate,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .rate {
  width: 200px;
  height: 34px;
  background-color: #b9171d;
  position: absolute;
  top: 148px;
  left: 130px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 1px 3px #2f2f2f;
  line-height: 34px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .gold,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .gold-shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .gems,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .reborn,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .balancer,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .gold,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .gold-shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .gems,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .reborn,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .balancer {
  width: 140px;
  height: 140px;
  background-size: 140px;
  position: absolute;
  top: 6px;
  margin-left: 160px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .gold:before,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .gold-shards:before,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .shards:before,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .gems:before,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .reborn:before,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .balancer:before,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .gold:before,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .gold-shards:before,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .shards:before,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .gems:before,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .reborn:before,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .balancer:before {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .gold:after,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .gold-shards:after,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .shards:after,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .gems:after,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .reborn:after,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .balancer:after,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .gold:after,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .gold-shards:after,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .shards:after,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .gems:after,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .reborn:after,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .balancer:after {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .gold,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .gold {
  background-image: url(../../img/ic-abil-gold@2x.png);
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .shards {
  background-image: url(../../img/ic-abil-butil@2x.png);
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .gems,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .gems {
  background-image: url(../../img/ic-abil-rubin@2x.png);
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .gold-shards,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .gold-shards {
  background-image: url(../../img/ic-abil-gold-but@2x.png);
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .clock,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .clock {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .counter,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .counter {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .g-count,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .g-count {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.rate .s-count,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.rate .s-count {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner .rate-text,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .rate-text {
  width: 400px;
  height: 40px;
  position: absolute;
  top: 204px;
  left: 32px;
  font-size: 22px;
  color: #0b2d70;
  text-shadow: 0 2px 1px #fff;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.old .counter,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.old .counter {
  background-color: rgba(60, 57, 52, 0.9);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  height: 38px;
  top: 204px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.old .count1,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.old .count1 {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 24px;
  top: 0px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .banner.old .count1.oldprice,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner.old .count1.oldprice {
  text-decoration: line-through;
  color: red;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0px;
  top: 0px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .counter {
  top: 190px;
  width: 200px;
  height: 60px;
  position: absolute;
  margin-left: 130px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .count1,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .count2,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .g-count,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .s-count {
  background-color: rgba(60, 57, 52, 0.9);
  position: relative;
  top: 12px;
  padding: 8px;
  font-size: 30px;
  color: #fff;
  line-height: 20px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner {
  top: 260px;
  bottom: 4px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .text {
  display: block;
  position: absolute;
  left: 15px;
  top: 25px;
  right: 150px;
  font-size: 16px;
  color: #ffdf7f;
  font-weight: bold;
  line-height: 20px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .text .title,
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .text .txt {
  margin: 0;
  padding: 0;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .text .title {
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 0 2px 0 #400;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .text .txt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 6px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .btn-box {
  bottom: 18px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .btn-buy {
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .btn-buy .txt {
  display: inline-block;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .btn-buy .price-old {
  display: inline-block;
  font-size: 13px;
  text-shadow: none;
  color: #333;
  margin-left: 10px;
  height: 17px;
  line-height: 17px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .sale-banner .btn-buy .price-old:after {
  content: "";
  display: block;
  width: calc(100% + 20px);
  height: 2px;
  background: rgba(255, 0, 0, 0.55);
  position: relative;
  left: -10px;
  top: -10px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer .timer {
  right: 12px;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer.empty {
  background: #615048;
  box-shadow: 0 0 10px #9e8b7d;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer.empty:before {
  background: #766459;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer.empty .banner {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer.empty .sale-banner {
  display: none;
}
.left-side .left-panel .tab-panel.bank-panel .bank-subwin.sale .bs-pack-scroll.panels-2 .sale-offer.empty .timer {
  display: none;
}

.sale-off {
  width: 114px;
  height: 107px;
  position: absolute;
  top: 4px;
  margin-left: 4px;
  background-image: url(../../img/saleoff.png);
  background-size: 114px;
}
.sale-off .saletext {
  width: 80px;
  height: 60px;
  font-size: 28px;
  color: #ffdf7f;
  font-weight: bold;
  line-height: 30px;
  position: absolute;
  top: 10px;
  margin-left: 8px;
  text-shadow: 0 2px 0 #400;
}

.newtime {
  width: 55px;
  height: 40px;
  position: absolute;
  top: 44px;
  left: 30px;
  background-size: 55px;
  background-image: url(../../img/ic-clock-all.png);
}
.newtime .newclocktime {
  width: 20px;
  height: 10px;
  color: #fff;
  position: absolute;
  top: 26px;
  margin-left: 18px;
  font-size: 10px;
  line-height: 10px;
  font-weight: bold;
}