body .main.world1 .popup-layer .m-popup.sale-event-pop,
body .main.world2 .popup-layer .m-popup.sale-event-pop,
body .main.world3 .popup-layer .m-popup.sale-event-pop {
  width: 1006px;
  height: 580px;
  left: 97px;
  top: 30px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop.bf-event,
body .main.world2 .popup-layer .m-popup.sale-event-pop.bf-event,
body .main.world3 .popup-layer .m-popup.sale-event-pop.bf-event {
  background: linear-gradient(-22deg, #595959, #303030, #595959, #7a7a7a);
  box-shadow: 0 1px 10px #392d26, inset 0 1px 2px #505050, 0 0 10px #000, 0 0 15px #000;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop.bf-event:before,
body .main.world2 .popup-layer .m-popup.sale-event-pop.bf-event:before,
body .main.world3 .popup-layer .m-popup.sale-event-pop.bf-event:before {
  background: linear-gradient(0deg, #000000 0%, #282828 100%);
  background-image: url(../../img/v2-bf-pop-bg.jpg);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6);
  background-size: 100%;
  background-repeat: no-repeat;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop.bf-event .title,
body .main.world2 .popup-layer .m-popup.sale-event-pop.bf-event .title,
body .main.world3 .popup-layer .m-popup.sale-event-pop.bf-event .title {
  background: linear-gradient(to right, #595959, #303030, #595959);
  border: solid 4px #3e3e3e;
  box-shadow: 0 1px 10px #303030, inset 0 2px 10px rgba(189, 189, 189, 0.15), inset 0 28px 5px rgba(189, 189, 189, 0.15);
  color: #fff;
  text-shadow: 0 1px 2px rgb(0, 0, 0), 0 0 1px #413753, 0 1px 1px #fff, 0 1px 10px #ffffff;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop.bf-event .v2-bf-sale,
body .main.world2 .popup-layer .m-popup.sale-event-pop.bf-event .v2-bf-sale,
body .main.world3 .popup-layer .m-popup.sale-event-pop.bf-event .v2-bf-sale {
  background-image: url(../../img/v2-bf-sale.png);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop.vl-event,
body .main.world2 .popup-layer .m-popup.sale-event-pop.vl-event,
body .main.world3 .popup-layer .m-popup.sale-event-pop.vl-event {
  background: linear-gradient(-22deg, #ffccc7, #e43a3a, #ff6161, #ffdbdb);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop.vl-event .title,
body .main.world2 .popup-layer .m-popup.sale-event-pop.vl-event .title,
body .main.world3 .popup-layer .m-popup.sale-event-pop.vl-event .title {
  background: linear-gradient(to right, #ffa6a6, #ff6262, #ffb9b9);
  border: solid 4px #ff3e3e;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop.vl-event:before,
body .main.world2 .popup-layer .m-popup.sale-event-pop.vl-event:before,
body .main.world3 .popup-layer .m-popup.sale-event-pop.vl-event:before {
  background-image: url(../../img/v2-vl-pop-bg.jpg);
  background-size: 100%;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop:before,
body .main.world2 .popup-layer .m-popup.sale-event-pop:before,
body .main.world3 .popup-layer .m-popup.sale-event-pop:before {
  content: "";
  box-shadow: 0 0 2px #fff, inset 0 0 5px rgba(0, 0, 0, 0.55);
  background: linear-gradient(0deg, #000000 0%, #282828 100%);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6);
  background-size: 100%;
  background-repeat: no-repeat;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .wpck-timer-box,
body .main.world2 .popup-layer .m-popup.sale-event-pop .wpck-timer-box,
body .main.world3 .popup-layer .m-popup.sale-event-pop .wpck-timer-box {
  width: 184px;
  height: 84px;
  position: absolute;
  top: -10px;
  margin-left: -10px;
  background-image: url(../../img/timer-back.png);
  background-size: 100%;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .wpck-timer-box .time-left,
body .main.world1 .popup-layer .m-popup.sale-event-pop .wpck-timer-box .time-sec,
body .main.world2 .popup-layer .m-popup.sale-event-pop .wpck-timer-box .time-left,
body .main.world2 .popup-layer .m-popup.sale-event-pop .wpck-timer-box .time-sec,
body .main.world3 .popup-layer .m-popup.sale-event-pop .wpck-timer-box .time-left,
body .main.world3 .popup-layer .m-popup.sale-event-pop .wpck-timer-box .time-sec {
  width: 150px;
  height: 26px;
  position: absolute;
  top: 18px;
  margin-left: 18px;
  color: #fff000;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .wpck-timer-box .time-sec,
body .main.world2 .popup-layer .m-popup.sale-event-pop .wpck-timer-box .time-sec,
body .main.world3 .popup-layer .m-popup.sale-event-pop .wpck-timer-box .time-sec {
  top: 34px;
  color: #fff;
  font-size: 24px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .v2-bf-keys,
body .main.world2 .popup-layer .m-popup.sale-event-pop .v2-bf-keys,
body .main.world3 .popup-layer .m-popup.sale-event-pop .v2-bf-keys {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 80px;
  left: 76px;
  background: linear-gradient(0deg, #f8b669 0%, #f99820 18%, #f8b76c 60%, #f78500 85%, #f8b568 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.8);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .v2-bf-keys:before,
body .main.world2 .popup-layer .m-popup.sale-event-pop .v2-bf-keys:before,
body .main.world3 .popup-layer .m-popup.sale-event-pop .v2-bf-keys:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 92px;
  height: 92px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: linear-gradient(0deg, #fede92 0%, #f4c558 18%, #ffe098 60%, #f5c85d 85%, #fddd90 100%);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .v2-bf-keys__image,
body .main.world2 .popup-layer .m-popup.sale-event-pop .v2-bf-keys__image,
body .main.world3 .popup-layer .m-popup.sale-event-pop .v2-bf-keys__image {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 92px;
  height: 92px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .v2-bf-keys__image img,
body .main.world2 .popup-layer .m-popup.sale-event-pop .v2-bf-keys__image img,
body .main.world3 .popup-layer .m-popup.sale-event-pop .v2-bf-keys__image img {
  position: relative;
  width: 100%;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .v2-bf-keys__count,
body .main.world2 .popup-layer .m-popup.sale-event-pop .v2-bf-keys__count,
body .main.world3 .popup-layer .m-popup.sale-event-pop .v2-bf-keys__count {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  padding: 4px 7px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  background: linear-gradient(0deg, #7dbd32 0%, #bbee7f 100%);
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.8);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .v2-bf-sale,
body .main.world2 .popup-layer .m-popup.sale-event-pop .v2-bf-sale,
body .main.world3 .popup-layer .m-popup.sale-event-pop .v2-bf-sale {
  width: 180px;
  height: 355px;
  position: absolute;
  top: 204px;
  left: 34px;
  background-image: url(../../img/v2-event-sale.png);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all {
  width: 760px;
  height: 390px;
  position: absolute;
  top: 80px;
  right: 20px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box {
  width: 230px;
  height: 390px;
  position: relative;
  display: inline-block;
  margin: 0 10px;
  background: linear-gradient(0deg, #8e7453 0%, #e3c7a3 50%, #8f7553 70%, #ae916a 85%, #8e7453 100%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 0 #bd9c42, 0 2px 6px rgba(0, 0, 0, 0.8);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .lhero-pic,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .lhero-pic,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .lhero-pic {
  width: 222px;
  height: 330px;
  position: absolute;
  top: 42px;
  left: 4px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .lhero-pic img,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .lhero-pic img,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .lhero-pic img {
  width: 222px;
  background-size: 100%;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box {
  width: 100%;
  height: 48px;
  position: absolute;
  background: linear-gradient(180deg, #d4b354 0%, #f3d88d 91%, #c3a246 92%, #b9993f 100%);
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 6px 6px rgba(0, 0, 0, 0.5);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .sh2-icon.left,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .sh2-icon.left,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .sh2-icon.left {
  width: 38px;
  height: 49px;
  position: absolute;
  top: -2px;
  left: 6px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .sh2-icon.left img,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .sh2-icon.left img,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .sh2-icon.left img {
  width: 38px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .sh2-icon-forgirl.right,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .sh2-icon-forgirl.right,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .sh2-icon-forgirl.right {
  width: 38px;
  height: 49px;
  position: absolute;
  top: -2px;
  left: unset;
  right: 6px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .sh2-icon-forgirl.right img,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .sh2-icon-forgirl.right img,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .sh2-icon-forgirl.right img {
  width: 38px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .lhero-name-box,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .lhero-name-box,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .lhero-name-box {
  width: 134px;
  height: 38px;
  position: absolute;
  left: 48px;
  top: 3px;
  display: table;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .lhero-name-box .lhero-name,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .lhero-name-box .lhero-name,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .topname-box .lhero-name-box .lhero-name {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  text-shadow: 0 1px 2px #000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box {
  width: 230px;
  height: 34px;
  position: absolute;
  top: 356px;
  left: 0;
  background: linear-gradient(180deg, #d4b354 0%, #f3d88d 100%);
  border-radius: 0 0 10px 10px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all {
  width: 178px;
  height: 26px;
  position: absolute;
  top: 4px;
  left: 48px;
  background: linear-gradient(0deg, #735657 0%, #453434 100%);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 0 1px #453434, 0 1px 1px 1px rgba(255, 255, 255, 0.4);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all .sh2-prgbar,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all .sh2-prgbar,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all .sh2-prgbar {
  width: 85%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #585a5c 0%, #d5d8da 50%, #585a5b 70%, #a1a4a6 85%, #585a5b 100%);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all .sh2-prgbar-text,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all .sh2-prgbar-text,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all .sh2-prgbar-text {
  width: 182px;
  height: 26px;
  position: relative;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  line-height: 26px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45), 0 1px 1px rgba(0, 0, 0, 0.2);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all .bonus,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all .bonus,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all .bonus {
  color: #ffe000;
  margin-left: 10px;
  padding: 0 4px 0 3px;
  background: #ff63ec;
  border-radius: 4px;
  font-weight: 700;
  position: relative;
  top: -2px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.6));
  display: inline-block;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all .bonus:before,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all .bonus:before,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all .bonus:before {
  content: "";
  border: 8px solid transparent;
  border-right: 8px solid #ff63ec;
  border-radius: 2px;
  position: absolute;
  top: 1px;
  left: -15px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all.gold .sh2-prgbar,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all.gold .sh2-prgbar,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .sh2-prgbar-all.gold .sh2-prgbar {
  background: linear-gradient(180deg, #c68300 0%, #f4dfb6 50%, #c68200 70%, #fad489 85%, #c78302 100%);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .girl-bonus-box,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .girl-bonus-box,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .girl-bonus-box {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -3px;
  left: 4px;
  display: block;
  background: linear-gradient(180deg, #c68300 0%, #f4dfb6 50%, #c68200 70%, #fad489 85%, #c78302 100%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.4), inset 0 1px 1px rgba(255, 255, 255, 0.5);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .girl-bonus-box .girl-bonus-pic,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .girl-bonus-box .girl-bonus-pic,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .girl-bonus-box .girl-bonus-pic {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .girl-bonus-box .girl-bonus-pic:after,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .girl-bonus-box .girl-bonus-pic:after,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .girl-bonus-box .girl-bonus-pic:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .girl-bonus-box .girl-bonus-pic img,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .girl-bonus-box .girl-bonus-pic img,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .bottom-star-box-girl-count-box .girl-bonus-box .girl-bonus-pic img {
  width: 34px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all {
  width: 210px;
  height: 60px;
  position: absolute;
  top: 288px;
  left: 10px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box {
  width: 100px;
  height: 60px;
  position: absolute;
  left: 1px;
  top: 0;
  background-color: #a69283;
  border-radius: 4px;
  box-shadow: 0 2px 0 #8b7b6e, 0 1px 2px rgba(0, 0, 0, 0.2);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .lvlbox-name,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .lvlbox-name,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .lvlbox-name {
  width: 100px;
  height: 18px;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  line-height: 18px;
  background-color: #705d4e;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .bonus-lvl-box-bonus-box,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .bonus-lvl-box-bonus-box,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .bonus-lvl-box-bonus-box {
  width: 100%;
  height: 42px;
  position: absolute;
  top: 18px;
  display: table;
  border-radius: 0 0 4px 4px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .bonus-lvl-box-bonus-box .bonus-lvl-box-bonus,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .bonus-lvl-box-bonus-box .bonus-lvl-box-bonus,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .bonus-lvl-box-bonus-box .bonus-lvl-box-bonus {
  width: 100%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #4d3e33;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .bonus-lvl-box-bonus-box .bonus-lvl-box-bonus .ff-sh2-icon,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .bonus-lvl-box-bonus-box .bonus-lvl-box-bonus .ff-sh2-icon,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .bonus-lvl-box-bonus-box .bonus-lvl-box-bonus .ff-sh2-icon {
  width: 17px;
  height: 22px;
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .bonus-lvl-box-bonus-box .bonus-lvl-box-bonus .ff-sh2-icon img,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .bonus-lvl-box-bonus-box .bonus-lvl-box-bonus .ff-sh2-icon img,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .bonus-lvl-box-bonus-box .bonus-lvl-box-bonus .ff-sh2-icon img {
  width: 17px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .bonus-lvl-box-bonus-box .bonus-lvl-box-bonus .ff-sh2-icon.gold,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .bonus-lvl-box-bonus-box .bonus-lvl-box-bonus .ff-sh2-icon.gold,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box .bonus-lvl-box-bonus-box .bonus-lvl-box-bonus .ff-sh2-icon.gold {
  width: 22px;
  height: 22px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  top: -3px;
  background-image: url(../../img/ico-gold.png);
  background-size: 100%;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box.second,
body .main.world2 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box.second,
body .main.world3 .popup-layer .m-popup.sale-event-pop .bf-hero-box-all .lhero-box .sv-sale-bonus-box-all .acbonus-box.second {
  left: unset;
  right: 2px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .store-button,
body .main.world2 .popup-layer .m-popup.sale-event-pop .store-button,
body .main.world3 .popup-layer .m-popup.sale-event-pop .store-button {
  width: 220px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  left: 393px;
  top: initial;
  background: linear-gradient(45deg, #e8c34e, #f1da7c, #cfa831, #fbf1d8);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin: 0 10px 0 10px;
  box-shadow: inset 0 -20px 5px rgba(200, 119, 37, 0.59), inset 0 -3px 0px #c87725, 0 0 3px #3d3737, 0 2px 4px rgba(0, 0, 0, 0.35), inset 0 0 3px #603806;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #4a3a08;
  text-shadow: 0 0 1px #0d0a01, 0 2px 1px #fff;
  line-height: 21px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .store-button:active,
body .main.world2 .popup-layer .m-popup.sale-event-pop .store-button:active,
body .main.world3 .popup-layer .m-popup.sale-event-pop .store-button:active {
  box-shadow: 0 0 2px 1.5px rgba(0, 0, 0, 0.4), inset 0 -18px 5px rgba(200, 119, 37, 0.59), inset 0 -1px 0 #c87725, 0 0 12px #ff0, 0 0 5px #ffc, inset 0 0 10px #ffc, inset 0 0 3px #603806 !important;
  bottom: 29px;
  filter: brightness(0.9);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .store-button:active .but-price,
body .main.world2 .popup-layer .m-popup.sale-event-pop .store-button:active .but-price,
body .main.world3 .popup-layer .m-popup.sale-event-pop .store-button:active .but-price {
  top: 3px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .store-button:active .but-price-text,
body .main.world2 .popup-layer .m-popup.sale-event-pop .store-button:active .but-price-text,
body .main.world3 .popup-layer .m-popup.sale-event-pop .store-button:active .but-price-text {
  top: 3px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .store-button:hover,
body .main.world2 .popup-layer .m-popup.sale-event-pop .store-button:hover,
body .main.world3 .popup-layer .m-popup.sale-event-pop .store-button:hover {
  box-shadow: 0 0 2px 1.5px rgba(0, 0, 0, 0.4), inset 0 -20px 5px rgba(200, 119, 37, 0.59), inset 0 -3px 0 #c87725, 0 0 12px #ff0, 0 0 5px #ffc, inset 0 0 10px #ffc, inset 0 0 3px #603806;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .store-button .but-price,
body .main.world2 .popup-layer .m-popup.sale-event-pop .store-button .but-price,
body .main.world3 .popup-layer .m-popup.sale-event-pop .store-button .but-price {
  position: relative;
  display: inline-block;
  font-size: 20px;
  top: 2px;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .store-button .but-price.old,
body .main.world2 .popup-layer .m-popup.sale-event-pop .store-button .but-price.old,
body .main.world3 .popup-layer .m-popup.sale-event-pop .store-button .but-price.old {
  color: #ef0000;
  font-size: 16px;
  text-decoration: line-through;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .store-button .but-price-text,
body .main.world2 .popup-layer .m-popup.sale-event-pop .store-button .but-price-text,
body .main.world3 .popup-layer .m-popup.sale-event-pop .store-button .but-price-text {
  width: 220px;
  font-size: 16px;
  position: relative;
  top: 2px;
}

body .main.world1 .popup-layer .m-popup.sale-event-pop .title,
body .main.world2 .popup-layer .m-popup.sale-event-pop .title,
body .main.world3 .popup-layer .m-popup.sale-event-pop .title {
  line-height: 58px;
  font-size: 22px;
  left: 0px;
  right: 0px;
  top: 0px;
  width: unset;
  transform: none;
  border-radius: 10px;
  height: 52px;
  text-shadow: 0 0 1px #413753, 0 1px 1px #fff, 0 1px 10px #ffc;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .title:before, body .main.world1 .popup-layer .m-popup.sale-event-pop .title:after,
body .main.world2 .popup-layer .m-popup.sale-event-pop .title:before,
body .main.world2 .popup-layer .m-popup.sale-event-pop .title:after,
body .main.world3 .popup-layer .m-popup.sale-event-pop .title:before,
body .main.world3 .popup-layer .m-popup.sale-event-pop .title:after {
  content: none;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop .btn-close-x,
body .main.world2 .popup-layer .m-popup.sale-event-pop .btn-close-x,
body .main.world3 .popup-layer .m-popup.sale-event-pop .btn-close-x {
  box-shadow: 0 0 7px #000;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop.bf-event .btn-close-x,
body .main.world2 .popup-layer .m-popup.sale-event-pop.bf-event .btn-close-x,
body .main.world3 .popup-layer .m-popup.sale-event-pop.bf-event .btn-close-x {
  background: linear-gradient(22deg, #7a7a7a, #949494, #595959, #7a7a7a);
  border: solid 4px #3e3e3e;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop.bf-event .btn-close-x:before, body .main.world1 .popup-layer .m-popup.sale-event-pop.bf-event .btn-close-x:after,
body .main.world2 .popup-layer .m-popup.sale-event-pop.bf-event .btn-close-x:before,
body .main.world2 .popup-layer .m-popup.sale-event-pop.bf-event .btn-close-x:after,
body .main.world3 .popup-layer .m-popup.sale-event-pop.bf-event .btn-close-x:before,
body .main.world3 .popup-layer .m-popup.sale-event-pop.bf-event .btn-close-x:after {
  color: #000;
}
body .main.world1 .popup-layer .m-popup.sale-event-pop.vl-event .title,
body .main.world2 .popup-layer .m-popup.sale-event-pop.vl-event .title,
body .main.world3 .popup-layer .m-popup.sale-event-pop.vl-event .title {
  color: #413753;
  text-shadow: 0 0 1px #413753, 0 1px 1px #fff, 0 1px 10px #ffc;
  box-shadow: 0 1px 10px #392d26, inset 0 2px 10px #fff, inset 0 28px 5px rgba(255, 255, 0, 0.15);
}
body .main.world1 .popup-layer .m-popup.sale-event-pop.vl-event .btn-close-x,
body .main.world2 .popup-layer .m-popup.sale-event-pop.vl-event .btn-close-x,
body .main.world3 .popup-layer .m-popup.sale-event-pop.vl-event .btn-close-x {
  background: linear-gradient(22deg, #fffbc7, #ffe3ab, #ffb229, #fffbc7);
  border: solid 4px #ffbe43;
}