.popup-layer .m-popup.change-collpop {
  width: 876px;
  height: 548px;
  left: 162px;
  top: 46px;
}
.popup-layer .m-popup.change-collpop .title {
  color: #572f14;
}
.popup-layer .m-popup.change-collpop .color-box {
  background: linear-gradient(136deg, #8e7453 0%, #e3c7a3 50%, #ae916a 85%, #8f7553 100%);
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
.popup-layer .m-popup.change-collpop .color-box:before {
  display: none;
}
.popup-layer .m-popup.change-collpop .color-box:after {
  display: none;
}
.popup-layer .m-popup.change-collpop .close-btn-box {
  width: 840px;
  height: 70px;
  position: absolute;
  top: 460px;
  margin-left: 18px;
  background-color: #b09573;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.45);
}
.popup-layer .m-popup.change-collpop .close-btn-box .color-btn.close {
  width: 180px;
  height: 50px;
  top: 10px;
}
.popup-layer .m-popup.change-collpop .close-btn-box .color-btn.close .color-btn-text {
  top: 14px;
  font-size: 16px;
}
.popup-layer .m-popup.change-collpop .close-btn-box .color-btn.close:active .color-btn-text {
  top: 15px;
}
.popup-layer .m-popup.change-collpop .collpop-cont {
  width: 840px;
  height: 304px;
  position: absolute;
  top: 68px;
  margin-left: 18px;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all {
  width: 752px;
  height: 386px;
  position: absolute;
  margin-left: 44px;
  font-size: 0px;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll {
  width: 150px;
  height: 100%;
  position: relative;
  display: inline-block;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll .openchest-in {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  background: linear-gradient(0deg, #e9b039 0%, #fffe9a 100%);
  margin: 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll .openchest-in:before {
  content: "";
  width: 3px;
  height: 60px;
  position: absolute;
  top: 100px;
  background-color: #fefa95;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45);
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll .openchest-in .inchest-pic {
  width: 120px;
  height: 120px;
  top: -20px;
  left: -8px;
  position: absolute;
  margin: unset;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll .openchest-in .openchest-in-count {
  width: 100%;
  height: 26px;
  position: absolute;
  top: 72px;
  text-align: center;
  color: #572f14;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll .openchest-in .openchest-in-check {
  width: 84px;
  height: 84px;
  position: absolute;
  top: 8px;
  margin-left: 8px;
  background-image: url("../../img/paycheck.png");
  background-size: 100%;
  display: none;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll .openchest-in .openchest-bonus-pic {
  width: 90px;
  height: 90px;
  margin-left: 5px;
  overflow: hidden;
  top: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  display: none;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll .openchest-in .openchest-pic {
  height: 90px;
  width: auto;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll .openchest-in.check .openchest-in-check {
  display: block;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll .openchest-in.picture .inchest-pic {
  display: none;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll .openchest-in.picture .openchest-in-count {
  display: none;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll .openchest-in.picture .openchest-bonus-pic {
  display: block;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll .box-coll-name {
  width: 100%;
  height: 40px;
  position: relative;
  top: 222px;
  text-align: right;
  color: #5a4a3d;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 6px #fff;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll .change-chest {
  width: 120px;
  height: 120px;
  position: relative;
  top: -20px;
  margin: 0 auto;
  background-image: url("../../img/change-sun1.png");
  background-size: 100%;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll .change-chest.open {
  background-image: url("../../img/change-sun3.png");
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll .change-line {
  width: 15px;
  height: 64px;
  position: absolute;
  top: 256px;
  margin-left: 142px;
  background-image: url("../../img/change-line.png");
  background-size: 100%;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all .box-coll.five .change-line {
  display: none;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all.coll3 .box-coll {
  width: 250px;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all.coll3 .box-coll .change-line {
  margin-left: 242px;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all.coll3 .box-coll.three .change-line {
  display: none;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all.coll3 .box-coll.four {
  display: none;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all.coll3 .box-coll.five {
  display: none;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all.coll4 .box-coll {
  width: 188px;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all.coll4 .box-coll .change-line {
  margin-left: 180px;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all.coll4 .box-coll.four .change-line {
  display: none;
}
.popup-layer .m-popup.change-collpop .collpop-cont .box-coll-all.coll4 .box-coll.five {
  display: none;
}
.popup-layer .m-popup.change-collpop .box-top {
  width: 100px;
  height: 250px;
  position: absolute;
  background-color: green;
}
.popup-layer .m-popup.change-collpop .coll-prg-box-all {
  width: 840px;
  height: 74px;
  position: absolute;
  top: 250px;
  background: linear-gradient(180deg, #8e7453 0%, #e3c7a3 50%, #8f7553 70%, #ae916a 85%, #8f7553 100%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.45);
}
.popup-layer .m-popup.change-collpop .coll-prg-box-all .col-prg-box-ff {
  width: 20px;
  height: 40px;
  position: absolute;
  top: 17px;
  margin-left: 800px;
  background-image: url("../../img/change-prgbar-ff1.png");
  background-size: 100%;
}
.popup-layer .m-popup.change-collpop .coll-prg-box-all .col-prg-box-ff:before {
  content: "";
  width: 20px;
  height: 40px;
  position: absolute;
  margin-left: -790px;
  transform: scaleX(-1);
  background-image: url("../../img/change-prgbar-ff1.png");
  background-size: 100%;
}
.popup-layer .m-popup.change-collpop .coll-prg-box-all .col-prg-box {
  width: 760px;
  height: 44px;
  position: absolute;
  top: 15px;
  margin-left: 40px;
  background: linear-gradient(180deg, #8e7453 0%, #e3c7a3 50%, #8f7553 70%, #ae916a 85%, #8f7553 100%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.45);
}
.popup-layer .m-popup.change-collpop .coll-prg-box-all .col-prg-box:before {
  content: "";
  width: 752px;
  height: 36px;
  position: absolute;
  top: 4px;
  margin-left: -376px;
  background: linear-gradient(0deg, #543f38 0%, #412d26 100%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.popup-layer .m-popup.change-collpop .coll-prg-box-all .col-prg-box .prg-box {
  width: 748px;
  height: 32px;
  position: absolute;
  top: 6px;
  margin-left: 6px;
}
.popup-layer .m-popup.change-collpop .coll-prg-box-all .col-prg-box .prgbar {
  width: 100%;
  height: 32px;
  position: relative;
  background: linear-gradient(0deg, #307ac7 0%, #82b4e8 100%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.popup-layer .m-popup.change-collpop .addchest-box-all {
  width: 600px;
  height: 330px;
  position: absolute;
  top: 86px;
  margin-left: 30px;
  font-size: 0px;
}
.popup-layer .m-popup.change-collpop .addchest-box-all .addchest-box {
  width: 180px;
  height: 330px;
  position: relative;
  display: inline-block;
  margin: 0 10px 0 10px;
  background: linear-gradient(180deg, #8e7453 0%, #e3c7a3 50%, #8f7553 70%, #ae916a 85%, #8f7553 100%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.35);
}
.popup-layer .m-popup.change-collpop .addchest-box-all .addchest-box .chest-icon {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 15px;
  margin-left: 15px;
}
.popup-layer .m-popup.change-collpop .addchest-box-all .addchest-box .chest-icon img {
  width: 150px;
  height: 150px;
}
.popup-layer .m-popup.change-collpop .addchest-box-all .addchest-box .value-text-box {
  width: 160px;
  height: 70px;
  position: absolute;
  top: 180px;
  margin-left: 10px;
}
.popup-layer .m-popup.change-collpop .addchest-box-all .addchest-box .value-text-box .value-text-main,
.popup-layer .m-popup.change-collpop .addchest-box-all .addchest-box .value-text-box .value-text-free {
  width: 100%;
  height: 40px;
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.popup-layer .m-popup.change-collpop .addchest-box-all .addchest-box .value-text-box .value-text-free {
  font-size: 16px;
  color: #ffd455;
}
.popup-layer .m-popup.change-collpop .addchest-box-all .addchest-box .buy-btn {
  width: 160px;
  height: 50px;
  position: absolute;
  top: 266px;
  margin-left: 10px;
  background: linear-gradient(32deg, #d9b342 0%, #eac558 25%, #d9b342 50%, #eac558 75%, #d9b342 100%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.25), 0 2px 4px 0 rgba(0, 0, 0, 0.45);
}
.popup-layer .m-popup.change-collpop .addchest-box-all .addchest-box .buy-btn:active {
  top: 267px;
}
.popup-layer .m-popup.change-collpop .addchest-box-all .addchest-box .buy-btn .text-box {
  width: 152px;
  height: 22px;
  position: absolute;
  top: 4px;
  margin-left: 4px;
  background-color: #615144;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.popup-layer .m-popup.change-collpop .addchest-box-all .addchest-box .buy-btn .text-box .crown-icon {
  width: 26px;
  height: 26px;
  position: relative;
  display: inline-block;
  top: -2px;
  background-image: url("../../img/ico-real.png");
  background-size: 100%;
  margin-right: 4px;
}
.popup-layer .m-popup.change-collpop .addchest-box-all .addchest-box .buy-btn .text-box .crown-text {
  height: 26px;
  position: relative;
  color: #fedf87;
  display: inline-block;
  top: -9px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  font-size: 18px;
  font-weight: bold;
}
.popup-layer .m-popup.change-collpop .addchest-box-all .addchest-box .buy-btn .btn-text {
  width: 100%;
  height: 20px;
  position: relative;
  top: 25px;
  color: #615144;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}