.popup-layer .m-popup.store-diamonds {
  width: 1028px;
  height: 550px;
  left: 86px;
  top: 45px;
}
.popup-layer .m-popup.store-diamonds .title {
  color: #572f14;
}
.popup-layer .m-popup.store-diamonds .color-box {
  background: linear-gradient(0deg, #645143 0%, #8e8177 100%);
}
.popup-layer .m-popup.store-diamonds .color-box:before {
  display: none;
}
.popup-layer .m-popup.store-diamonds .color-box:after {
  display: none;
}
.popup-layer .m-popup.store-diamonds .store-menu-box {
  width: 118px;
  height: 450px;
  position: absolute;
  top: 75px;
  left: 20px;
}
.popup-layer .m-popup.store-diamonds .store-menu-box .menu-box-all {
  width: 118px;
  height: 90px;
  position: relative;
  background-image: url(../../img/shop-menu1.png);
  background-size: 100%;
  cursor: pointer;
}
.popup-layer .m-popup.store-diamonds .store-menu-box .menu-box-all:active {
  top: 1px;
}
.popup-layer .m-popup.store-diamonds .store-menu-box .menu-box-all.select {
  background-image: url(../../img/shop-menu2.png);
}
.popup-layer .m-popup.store-diamonds .store-menu-box .menu-box-all .menu-pic {
  width: 80px;
  height: 60px;
  position: absolute;
  left: 19px;
}
.popup-layer .m-popup.store-diamonds .store-menu-box .menu-box-all .menu-text {
  width: 104px;
  height: 18px;
  position: absolute;
  top: 60px;
  left: 8px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  color: #30261f;
  text-shadow: 0 0 6px #fff;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box {
  width: 870px;
  height: 450px;
  position: absolute;
  top: 75px;
  left: 145px;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all {
  width: 700px;
  height: 450px;
  position: absolute;
  background: linear-gradient(180deg, #b9aba1 0%, #9e8b7d 100%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 #5e544c;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll {
  width: 686px;
  height: 430px;
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
  top: 10px;
  margin-left: 10px;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #7c665c;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll::-webkit-scrollbar {
  width: 10px;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 3px #796b60;
  background: linear-gradient(to right, #fff, #f5de80, #f4b766, #b26d12);
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll .store-item-add {
  width: 668px;
  height: 348px;
  position: relative;
  font-size: 0;
  background-image: url(../../img/shop-pod2.jpg);
  background-size: 100%;
  text-align: center;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll .store-item-add.main-shelf {
  z-index: 1;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll .store-item-add .store-item-add-box {
  width: 204px;
  height: 320px;
  position: relative;
  display: inline-block;
  background: #c78302;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin: 6px;
  margin-top: 11px;
  margin-bottom: 24px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.65);
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll .store-item-add .store-item-add-box:before {
  content: "";
  width: 196px;
  height: 312px;
  position: absolute;
  top: 4px;
  margin-left: -98px;
  background: linear-gradient(0deg, #c68300 0%, #f4dfb6 40%, #c78302 65%, #fad489 85%, #c78302 100%);
  box-shadow: inset 0 0 20px 0 #f3dbab;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll .store-item-add .store-item-add-box .store-item-point-bonus {
  width: 170px;
  height: 40px;
  position: absolute;
  top: 20px;
  margin-left: 20px;
  background-color: #9b6a0c;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll .store-item-add .store-item-add-box .store-item-diamon {
  width: 170px;
  height: 110px;
  position: absolute;
  top: 52px;
  margin-left: 20px;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll .store-item-add .store-item-add-box .store-prize-box {
  width: 170px;
  height: 80px;
  position: absolute;
  top: 170px;
  margin-left: 20px;
  color: #443307;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 2px #fff;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll .store-item-add .store-item-add-box .store-prize-box .prize1 {
  width: 100%;
  height: 46px;
  position: relative;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll .store-item-add .store-item-add-box .store-prize-box .prize2 {
  width: 100%;
  height: 30px;
  position: relative;
  font-size: 20px;
  color: #c50000;
  text-decoration: line-through;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll .store-item-add .store-item-add-box .store-prize-box .free-prize {
  width: 100%;
  height: 30px;
  position: relative;
  font-size: 20px;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll .store-item-add .store-item-add-box .store-button {
  width: 170px;
  height: 42px;
  position: relative;
  text-align: center;
  top: 260px;
  background: linear-gradient(45deg, #e8c34e, #f1da7c, #cfa831, #fbf1d8);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  box-shadow: inset 0 -20px 5px rgba(200, 119, 37, 0.59), inset 0 -3px 0px #c87725, 0 0 3px #3d3737, 0 0 7px #000, inset 0 0 3px #603806;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #4a3a08;
  text-shadow: 0 0 1px #0d0a01, 0 2px 1px #fff;
  line-height: 42px;
  margin: auto;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll .store-item-add .store-item-add-box .store-button:active {
  top: 261px;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll .store-item-add .store-item-add-box .store-button:hover {
  box-shadow: inset 0 -20px 5px rgba(200, 119, 37, 0.59), inset 0 -3px 0 #c87725, 0 0 12px #ff0, 0 0 5px #ffc, inset 0 0 10px #ffc, inset 0 0 3px #603806;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll .store-item-add .store-item-add-box .x2-first-buy {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 166px;
  right: -5px;
  background: linear-gradient(0deg, #2585d4, #69d5f0);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-item-box-all .store-item-box-scroll .store-item-add .store-item-add-box .x2-first-buy .x2-first-buy-text {
  width: 40px;
  height: auto;
  position: absolute;
  top: 3px;
  left: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-sale-box {
  width: 150px;
  height: 450px;
  position: absolute;
  left: 710px;
  background: linear-gradient(180deg, #585a5c 0%, #d5d8da 50%, #585a5b 70%, #a1a4a6 85%, #585a5b 100%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 #5e544c;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-sale-box:before {
  content: "";
  width: 146px;
  height: 446px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-image: url(../../img/ts_confirm_bk-1.jpg);
  background-size: 412%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-sale-box .store-sale-box-name {
  width: 150px;
  height: 36px;
  position: absolute;
  background: linear-gradient(180deg, #585a5c 0%, #d5d8da 50%, #585a5b 70%, #a1a4a6 85%, #585a5b 100%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #3b291b;
  text-shadow: 0 0 10px #fff;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-sale-box .store-sale-all-box {
  width: 146px;
  height: 408px;
  position: absolute;
  top: 40px;
  left: 2px;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-sale-box .store-sale-all-box .store-sale {
  width: 146px;
  height: 204px;
  position: relative;
  display: inline-block;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-sale-box .store-sale-all-box .store-sale .store-item-point-bonus-vip {
  width: 120px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 13px;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #443307;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-sale-box .store-sale-all-box .store-sale .store-sale-pic-vip {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 26px;
  left: 13px;
  background: linear-gradient(180deg, #c68300 0%, #f4dfb6 50%, #c68200 70%, #fad489 85%, #c78302 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 #3b291b;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-sale-box .store-sale-all-box .store-sale .store-sale-pic-vip:before {
  content: "";
  width: 116px;
  height: 116px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: linear-gradient(180deg, #c68300 0%, #f4dfb6 50%, #c78302 70%, #fad489 85%, #c78302 100%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.35);
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-sale-box .store-sale-all-box .store-sale .store-sale-pic-vip img {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 110px;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-sale-box .store-sale-all-box .store-sale .store-sale-pic-vip .store-timer-box {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -2px;
  left: -4px;
  background-image: url(../../img/offer-bk-sm.png);
  background-size: 100%;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-sale-box .store-sale-all-box .store-sale .store-sale-pic-vip .store-timer-box .store-timer-text {
  width: 44px;
  height: 30px;
  position: absolute;
  top: 2px;
  left: 2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #ffcc00;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-sale-box .store-sale-all-box .store-sale .store-sale-pic-vip .store-prize-box {
  width: 120px;
  height: 40px;
  position: absolute;
  top: 82px;
  color: #443307;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 2px #fff;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-sale-box .store-sale-all-box .store-sale .store-sale-pic-vip .store-prize-box .prize1 {
  width: 100%;
  height: 18px;
  position: relative;
  top: -10px;
  font-size: 25px;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-sale-box .store-sale-all-box .store-sale .store-sale-pic-vip .store-prize-box .prize2 {
  width: 100%;
  height: 16px;
  position: relative;
  font-size: 14px;
  color: #c50000;
  text-decoration: line-through;
}
.popup-layer .m-popup.store-diamonds .store-content-right-box .store-sale-box .store-sale-all-box .store-sale .store-sale-pic-vip .store-prize-box .free-prize {
  width: 100%;
  height: 16px;
  position: relative;
  font-size: 14px;
}

.color-btn {
  width: 90px;
  height: 40px;
  position: relative;
  display: inline-block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: linear-gradient(0deg, #e9b039 0%, #fffe9a 100%);
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.25), 0 2px 4px 0 rgba(0, 0, 0, 0.55);
  cursor: pointer;
}
.color-btn .color-btn-text {
  top: 10px;
  position: relative;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}
.color-btn:active {
  box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.2), inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
.color-btn:active .color-btn-text {
  top: 12px;
}
.color-btn.blue {
  background: linear-gradient(0deg, #62a3e5 0%, #b4d7fa 100%);
}
.color-btn.green {
  background: linear-gradient(0deg, #7cbc30 0%, #BAF279 100%);
}
.color-btn.orage {
  background: linear-gradient(0deg, #d67503 0%, #fdd2a0 100%);
}
.color-btn.diamond {
  background: linear-gradient(0deg, #4b97bf 0%, #7AE2FF 100%);
}

.store-button {
  width: 170px;
  height: 42px;
  position: relative;
  text-align: center;
  top: 300px;
  background: linear-gradient(45deg, #e8c34e, #f1da7c, #cfa831, #fbf1d8);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  box-shadow: inset 0 -20px 5px rgba(200, 119, 37, 0.59), inset 0 -3px 0px #c87725, 0 0 3px #3d3737, 0 0 7px #000, inset 0 0 3px #603806;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #4a3a08;
  text-shadow: 0 0 1px #0d0a01, 0 2px 1px #fff;
  line-height: 42px;
  margin: auto;
}
.store-button:active {
  top: 261px;
}
.store-button:hover {
  box-shadow: inset 0 -20px 5px rgba(200, 119, 37, 0.59), inset 0 -3px 0 #c87725, 0 0 12px #ff0, 0 0 5px #ffc, inset 0 0 10px #ffc, inset 0 0 3px #603806;
}
.store-button .but-price {
  position: relative;
  display: inline-block;
  margin: 0 2px 0 2px;
  font-size: 24px;
}
.store-button .but-price.old {
  color: #ef0000;
  text-decoration: line-through;
  font-size: 16px;
  top: -2px;
}
.store-button.sale {
  width: 128px;
  height: 44px;
  top: 154px;
}
.store-button.sale:active {
  top: 155px;
}
.store-button.sale .but-price {
  position: relative;
  display: inline-block;
  margin: 0 2px 0 2px;
  font-size: 24px;
}
.store-button.sale .but-price.old {
  color: #ef0000;
  text-decoration: line-through;
  font-size: 16px;
}