@charset "UTF-8";
.likeBody .main .left-side {
  width: 620px;
  height: 555px;
  position: absolute;
  left: 5px;
  bottom: 5px;
}
.likeBody .main .left-side .tabs-all-box {
  width: 500px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}
.likeBody .main .left-side .tabs-all-box .tabs-all {
  width: 118px;
  height: 40px;
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 0 2px 0 0;
  cursor: pointer;
  background-color: #9c8b7c;
  -webkit-border-radius: 24px 24px 0 0;
  -moz-border-radius: 24px 24px 0 0;
  -ms-border-radius: 24px 24px 0 0;
  -o-border-radius: 24px 24px 0 0;
  border-radius: 24px 24px 0 0;
}
.likeBody .main .left-side .tabs-all-box .tabs-all:before {
  content: "";
  width: 110px;
  height: 36px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #544746;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.15);
}
.likeBody .main .left-side .tabs-all-box .tabs-all .tabs-name {
  width: 60px;
  height: 40px;
  position: absolute;
  right: 14px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 44px;
  text-align: center;
}
.likeBody .main .left-side .tabs-all-box .tabs-all .tabs-pic {
  width: 50px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.likeBody .main .left-side .tabs-all-box .tabs-all .tabs-pic img {
  width: 50px;
}
.likeBody .main .left-side .tabs-all-box .tabs-all.selected:before {
  content: "";
  background-color: #9c8b7c;
}
.likeBody .main .left-side .left-panel {
  width: 620px;
  height: 515px;
  position: absolute;
  left: 0;
  top: 40px;
}
.likeBody .main .left-side .left-panel:before {
  content: "";
  width: 620px;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9c8b7c;
  z-index: 999;
}
.likeBody .main .left-side .left-panel.wide {
  width: 1106px;
}
.likeBody .main .left-side .left-panel.wide:before {
  content: "";
  width: 1102px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main {
  width: 1098px;
  height: 511px;
  position: absolute;
  top: 0;
  left: 0;
  background: #b7a597;
  border: solid 4px #9c8b7c;
  border-top: none;
  box-shadow: inset 0 0 7px #5f4f4e;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .tab-panel-box-title {
  width: 300px;
  height: 24px;
  position: absolute;
  top: 10px;
  left: 399px;
  background: linear-gradient(0deg, #ffe199 0%, #f4c657 18%, #ffe199 60%, #f4c557 85%, #ffe199 100%);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  color: #3c3737;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box {
  width: 1078px;
  height: 250px;
  position: absolute;
  top: 42px;
  left: 10px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl {
  width: 350px;
  height: 250px;
  position: absolute;
  background-color: #9c8b7c;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl .fw-main-bl-name {
  width: 160px;
  height: 30px;
  position: absolute;
  top: 6px;
  left: 95px;
  background: linear-gradient(0deg, #3fbae7 0%, #007aa7 50%, #3fbae7 100%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  text-align: center;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl .fw-main-bl-pic {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 40px;
  left: 100px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl .fw-main-bl-pic img {
  width: 150px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl .color-btn {
  width: 160px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  left: 95px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl.fraction {
  right: 0;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl.shop {
  left: 364px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl.shop .cw-map-name-box-all {
  width: 344px;
  height: 80px;
  position: absolute;
  top: 5px;
  left: 3px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl.shop .cw-map-name-box-all .cw-map-name-box {
  width: 344px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../img/red-lenta.png");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl.shop .cw-map-name-box-all .cw-map-name-box .cw-map-name,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl.shop .cw-map-name-box-all .cw-map-name-box .cw-map-date {
  width: 250px;
  height: auto;
  position: relative;
  top: 5px;
  display: inline-block;
  color: #ffc000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl.shop .cw-map-name-box-all .cw-map-name-box .cw-map-date {
  color: #fff;
  font-size: 16px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl.shop .cw-map-name-box-all .cw-map-time-box {
  width: 190px;
  height: 36px;
  position: absolute;
  bottom: 0;
  left: 77px;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl.shop .cw-map-name-box-all .cw-map-time-box .cw-map-time1,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl.shop .cw-map-name-box-all .cw-map-time-box .cw-map-time2 {
  width: 180px;
  height: 10px;
  position: absolute;
  left: 5px;
  top: 5px;
  color: #ffc000;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl.shop .cw-map-name-box-all .cw-map-time-box .cw-map-time2 {
  top: 18px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl.shop .fw-main-bl-pic {
  top: 75px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl.shop .color-btn.clans {
  left: 10px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-main-bl-box .fw-main-bl.shop .color-btn.shop {
  left: auto;
  right: 10px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all {
  width: 1078px;
  height: 200px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #8f7c6e;
  text-align: center;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-sim-el-box {
  width: 100px;
  height: 190px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-sim-el-box .fw-simple {
  width: 100px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #ffe199 0%, #f4c657 18%, #ffe199 60%, #f4c557 85%, #ffe199 100%);
  color: #3c3737;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 70px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-sim-el-box .fw-level {
  width: 100px;
  height: 20px;
  position: absolute;
  top: 75px;
  left: 0;
  background-color: #b7a597;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-sim-el-box .fw-elite {
  width: 100px;
  height: 70px;
  position: absolute;
  top: 100px;
  left: 0;
  background: linear-gradient(0deg, #f8b76c 0%, #f78500 18%, #f8b76c 60%, #f9981f 85%, #f8b76b 100%);
  color: #3c3737;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 70px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll {
  width: 962px;
  height: 186px;
  position: absolute;
  top: 5px;
  right: 5px;
  overflow: hidden;
  overflow-x: scroll;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll::-webkit-scrollbar-track {
  background-color: #524544;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll::-webkit-scrollbar {
  height: 8px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #ffe199 0%, #f4c657 18%, #ffe199 60%, #f4c557 85%, #ffe199 100%);
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite {
  width: 2000px;
  height: 70px;
  position: relative;
  text-align: left;
  background-color: #766457;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box {
  width: 60px;
  height: 60px;
  position: relative;
  display: inline-block;
  background: linear-gradient(0deg, #e9c44f 0%, #f7eec7 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  margin: 5px;
  text-align: center;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box .fw-level-rew-pic,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box .fw-level-rew-pic {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 0;
  left: 7px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box .fw-level-rew-pic img,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box .fw-level-rew-pic img {
  width: 46px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box .fw-level-rew-num,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box .fw-level-rew-num {
  width: 60px;
  height: 12px;
  position: absolute;
  bottom: 5px;
  color: #3c3737;
  font-size: 12px;
  font-weight: bold;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box .fw-level-rew-num-check,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box .fw-level-rew-num-check {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-image: url("../../img/paycheck.png");
  background-size: 100%;
  background-repeat: no-repeat;
  visibility: hidden;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box .fw-level-rew-good,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box .fw-level-rew-good {
  width: 64px;
  height: 64px;
  position: absolute;
  top: -2px;
  left: -2px;
  background-image: url("../../img/fortuna-good.png");
  background-size: 100%;
  visibility: hidden;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box .color-btn.green,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box .color-btn.green {
  width: 54px;
  height: 16px;
  position: absolute;
  bottom: 3px;
  left: 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  visibility: hidden;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.55);
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box .color-btn.green .color-btn-text,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box .color-btn.green .color-btn-text {
  font-size: 8px;
  top: 2px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box .color-btn.green:active,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box .color-btn.green:active {
  box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.2), inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box .color-btn.green:active .color-btn-text,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box .color-btn.green:active .color-btn-text {
  top: 3px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box .fw-level-rew-num-block,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box .fw-level-rew-num-block {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  visibility: hidden;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box.collect .fw-level-rew-num,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box.collect .fw-level-rew-num {
  visibility: hidden;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box.collect .color-btn.green,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box.collect .color-btn.green {
  visibility: visible;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box.check .fw-level-rew-num-check,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box.check .fw-level-rew-num-check {
  visibility: visible;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box.block .fw-level-rew-num-block,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box.block .fw-level-rew-num-block {
  visibility: visible;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box.empty,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box.empty {
  background: #3d342d;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.35);
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box.empty .fw-level-rew-num,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box.empty .fw-level-rew-num {
  visibility: hidden;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box.empty .color-btn.green,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box.empty .color-btn.green {
  visibility: hidden;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box.empty .fw-level-rew-num-check,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box.empty .fw-level-rew-num-check {
  visibility: hidden;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box.empty .fw-level-rew-pic,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box.empty .fw-level-rew-pic {
  visibility: hidden;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box.girl .fw-level-rew-pic,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box.girl .fw-level-rew-pic {
  width: 58px;
  height: 58px;
  position: absolute;
  top: 1px;
  left: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box.girl .fw-level-rew-pic img,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box.girl .fw-level-rew-pic img {
  width: 58px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box.girl .fw-level-rew-num,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box.girl .fw-level-rew-num {
  visibility: hidden;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-simple .fw-level-rew-box.girl .fw-level-rew-good,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite .fw-level-rew-box.girl .fw-level-rew-good {
  visibility: visible;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-level {
  width: 2000px;
  height: 20px;
  position: relative;
  top: 5px;
  background: linear-gradient(0deg, #584a49 0%, #3b302f 100%);
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-level .fw-level-level-prg {
  width: 10%;
  height: 100%;
  position: relative;
  background: linear-gradient(0deg, #8cdd55 0%, #43a700 50%, #8cdd55 100%);
  transition: width 0.3s;
  text-align: left;
  font-size: 0;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-level .fw-level-level-num-box {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-level .fw-level-level-num-box .fw-level-level-num {
  width: 70px;
  height: 20px;
  position: relative;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-level .fw-level-level-num-box .fw-level-level-num:before {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #8f7c6e;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-level-box-all .fw-level-simple-box-scroll .fw-level-elite {
  top: 10px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .btn-close-x {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -6px;
  right: -6px;
  background: linear-gradient(30deg, #876b56, #aa9383, #dfceba);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0 7px #000;
  cursor: pointer;
  z-index: 999;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .btn-close-x:before {
  content: "✖";
  font-size: 28px;
  font-weight: bold;
  color: #600;
  line-height: 30px;
  text-shadow: 0 0 2px #fff;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .btn-close-x:after {
  content: "";
  width: 24px;
  height: 7px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-btlpass-buy-box-all {
  width: 170px;
  height: 200px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: none;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-btlpass-buy-box-all .fw-btlpass-girl {
  width: 170px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../img/v2-fw-girl.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-btlpass-buy-box-all .fw-btlpass-info {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-image: url("../../img/i-ico.png");
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-btlpass-buy-box-all .fw-btlpass-info:active {
  top: 6px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-btlpass-buy-box-all .color-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 170px;
  height: 50px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main .fw-btlpass-buy-box-all .color-btn .color-btn-text {
  font-size: 16px;
  line-height: 26px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main.btlpass-buy-box .fw-btlpass-buy-box-all {
  display: block;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main.btlpass-buy-box .fw-level-box-all {
  width: 900px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.fw-main.btlpass-buy-box .fw-level-box-all .fw-level-simple-box-scroll {
  width: 785px;
}