body .main.world1 .left-side .left-panel.tower.fight,
body .main.world2 .left-side .left-panel.tower.fight,
body .main.world3 .left-side .left-panel.tower.fight {
  box-shadow: none;
}
body .main.world1 .left-side .left-panel.tower.fight .tab-loading-wrapper,
body .main.world2 .left-side .left-panel.tower.fight .tab-loading-wrapper,
body .main.world3 .left-side .left-panel.tower.fight .tab-loading-wrapper {
  display: none;
}
body .main.world1 .left-side .left-panel.tower.fight .heroes-list-all-box,
body .main.world2 .left-side .left-panel.tower.fight .heroes-list-all-box,
body .main.world3 .left-side .left-panel.tower.fight .heroes-list-all-box {
  width: 620px;
  box-shadow: inset 0 0 0 4px #9c8b7c, inset 0 0 6px rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.4), 0 0 2px rgba(0, 0, 0, 0.2);
}
body .main.world1 .left-side .left-panel.tower .tab-loading-wrapper,
body .main.world2 .left-side .left-panel.tower .tab-loading-wrapper,
body .main.world3 .left-side .left-panel.tower .tab-loading-wrapper {
  height: 511px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all {
  width: 580px;
  height: 507px;
  position: absolute;
  top: 4px;
  right: 4px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .right-side,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .right-side,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .right-side {
  top: -25px;
  right: -9px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .right-side .skills-wrap,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .right-side .skills-wrap,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .right-side .skills-wrap {
  left: -17px;
  top: 21px;
  position: absolute;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .right-side .monster,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .right-side .monster,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .right-side .monster {
  top: 1px;
  right: 0;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap {
  position: absolute;
  z-index: 2;
  width: 580px;
  height: 507px;
  background-color: rgb(183, 165, 151);
  border-radius: 0px 14px 14px 0;
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 0 0 rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.2), 4px 0 0 #9c8b7c, 0 4px 0 #9c8b7c, 4px 4px 0 #9c8b7c, 0 -4px 0 #9c8b7c, 4px -4px 0 #9c8b7c;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tab-panel-box-title,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tab-panel-box-title,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tab-panel-box-title {
  width: 300px;
  height: 24px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(0deg, #ffe199 0%, #f4c657 18%, #ffe199 60%, #f4c557 85%, #ffe199 100%);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  color: #3c3737;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all {
  width: 562px;
  height: 50px;
  position: absolute;
  top: 44px;
  left: 10px;
  background-color: #8f7c6e;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1), inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .buy-relics,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .buy-relics,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .buy-relics {
  position: absolute;
  left: 310px;
  top: -5px;
  cursor: pointer;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .tower-prgbar-all,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .tower-prgbar-all,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .tower-prgbar-all {
  width: 300px;
  height: 40px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: linear-gradient(180deg, #3b302f 0%, #584a49 100%);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .tower-prgbar-all .tower-prgbar,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .tower-prgbar-all .tower-prgbar,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .tower-prgbar-all .tower-prgbar {
  width: 85%;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(0deg, #8cdd55 0%, #43a700 50%, #8cdd55 100%);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .tower-prgbar-all .tower-prgbar-text,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .tower-prgbar-all .tower-prgbar-text,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .tower-prgbar-all .tower-prgbar-text {
  width: 300px;
  height: 40px;
  position: relative;
  text-align: center;
  color: #ffd33c;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  line-height: 40px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  text-transform: uppercase;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .tower-prgbar-all .tower-prgbar-text span,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .tower-prgbar-all .tower-prgbar-text span,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .tower-prgbar-all .tower-prgbar-text span {
  color: #fff;
  margin-left: 10px;
  font-size: 18px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box {
  width: 170px;
  height: 36px;
  position: absolute;
  top: 7px;
  left: 206px;
  background: linear-gradient(0deg, #ffe199 0%, #f4c657 18%, #ffe199 60%, #f4c557 85%, #ffe199 100%);
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  box-shadow: inset 0 -2px 0 0 rgba(160, 79, 0, 0.55), 0 2px 4px 0 rgba(0, 0, 0, 0.35);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box:before,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box:before,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: -2px;
  left: -2px;
  background-image: url(../../img/gold-ticket.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value {
  width: 100px;
  height: 28px;
  position: absolute;
  top: 3px;
  left: 38px;
  background: linear-gradient(90deg, #f4bf87 0%, #d38632 50%, #92581a 100%);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 14px 0 rgba(255, 255, 255, 0.15);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add {
  width: 32px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 0 18px 18px 0;
  -moz-border-radius: 0 18px 18px 0;
  -ms-border-radius: 0 18px 18px 0;
  -o-border-radius: 0 18px 18px 0;
  border-radius: 0 18px 18px 0;
  cursor: pointer;
  filter: drop-shadow(0 1px 0.5px rgba(255, 255, 255, 0.795));
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:before,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:before,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:before {
  content: "";
  width: 6px;
  height: 22px;
  position: absolute;
  top: 7px;
  left: 12px;
  background-color: #4f4646;
  border-radius: 2px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:after,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:after,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:after {
  content: "";
  width: 22px;
  height: 6px;
  position: absolute;
  top: 15px;
  left: 4px;
  background-color: #4f4646;
  border-radius: 2px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:hover:before,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:hover:before,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:hover:before {
  background-color: #3c3737;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:hover:after,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:hover:after,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:hover:after {
  background-color: #3c3737;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:active:before,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:active:before,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:active:before {
  width: 4px;
  height: 20px;
  top: 8px;
  left: 13px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:active:after,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:active:after,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box .cards-value-btn-add:active:after {
  width: 20px;
  height: 4px;
  top: 16px;
  left: 5px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box.relicset,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box.relicset,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box.relicset {
  left: 6px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box.relicset:before,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box.relicset:before,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .cards-res-box.relicset:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: -2px;
  left: -2px;
  background-image: url(../../img/card-ic-koloda.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .relics-pop-event-btn,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .relics-pop-event-btn,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .relics-pop-event-btn {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -10px;
  left: 5px;
  cursor: pointer;
  background-image: url(../../img/offer-bk-sm1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .relics-pop-event-btn .relics-pop-event-btn-text,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .relics-pop-event-btn .relics-pop-event-btn-text,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .relics-pop-event-btn .relics-pop-event-btn-text {
  width: 100%;
  height: auto;
  position: relative;
  top: 24px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .relics-pop-event-btn:active,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .relics-pop-event-btn:active,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-prg-box-all .relics-pop-event-btn:active {
  top: -9px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all {
  width: 440px;
  height: 395px;
  position: absolute;
  bottom: 8px;
  left: 132px;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box {
  width: 440px;
  height: 395px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url(../../img/tower-sky-bg2.jpg);
  background-size: 100%;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-bg,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-bg,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-bg {
  width: 440px;
  height: 154px;
  position: absolute;
  bottom: 0;
  background-image: url(../../img/tower-bg2.png);
  background-size: 100%;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll {
  width: 320px;
  height: 800px;
  position: absolute;
  left: 60px;
  bottom: 0;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.next .tower-wall.a1,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.next .tower-wall.a1,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.next .tower-wall.a1 {
  -webkit-animation: next 1s 0s ease-in-out 1 forwards;
  -moz-animation: next 1s 0s ease-in-out 1 forwards;
  -ms-animation: next 1s 0s ease-in-out 1 forwards;
  -o-animation: next 1s 0s ease-in-out 1 forwards;
  animation: next 1s 0s ease-in-out 1 forwards;
}
@keyframes next {
  0% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 6px);
    -moz-transform: translate(0, 6px);
    -ms-transform: translate(0, 6px);
    -o-transform: translate(0, 6px);
    transform: translate(0, 6px);
  }
  80% {
    -webkit-transform: translate(0, -3px);
    -moz-transform: translate(0, -3px);
    -ms-transform: translate(0, -3px);
    -o-transform: translate(0, -3px);
    transform: translate(0, -3px);
  }
  100% {
    -webkit-transform: translate(0, 150px);
    -moz-transform: translate(0, 150px);
    -ms-transform: translate(0, 150px);
    -o-transform: translate(0, 150px);
    transform: translate(0, 150px);
  }
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a2,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a2,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a2 {
  -webkit-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -moz-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -ms-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -o-animation: nextwall 2s 0s ease-in-out 1 forwards;
  animation: nextwall 2s 0s ease-in-out 1 forwards;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a3,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a3,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a3 {
  -webkit-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -moz-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -ms-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -o-animation: nextwall 2s 0s ease-in-out 1 forwards;
  animation: nextwall 2s 0s ease-in-out 1 forwards;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a4,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a4,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a4 {
  -webkit-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -moz-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -ms-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -o-animation: nextwall 2s 0s ease-in-out 1 forwards;
  animation: nextwall 2s 0s ease-in-out 1 forwards;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a5,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a5,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a5 {
  -webkit-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -moz-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -ms-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -o-animation: nextwall 2s 0s ease-in-out 1 forwards;
  animation: nextwall 2s 0s ease-in-out 1 forwards;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a6,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a6,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a6 {
  -webkit-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -moz-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -ms-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -o-animation: nextwall 2s 0s ease-in-out 1 forwards;
  animation: nextwall 2s 0s ease-in-out 1 forwards;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a7,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a7,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .all-tower-scroll.nextwall .tower-wall.a7 {
  -webkit-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -moz-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -ms-animation: nextwall 2s 0s ease-in-out 1 forwards;
  -o-animation: nextwall 2s 0s ease-in-out 1 forwards;
  animation: nextwall 2s 0s ease-in-out 1 forwards;
}
@keyframes nextwall {
  0% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 6px);
    -moz-transform: translate(0, 6px);
    -ms-transform: translate(0, 6px);
    -o-transform: translate(0, 6px);
    transform: translate(0, 6px);
  }
  80% {
    -webkit-transform: translate(0, 3px);
    -moz-transform: translate(0, 3px);
    -ms-transform: translate(0, 3px);
    -o-transform: translate(0, 3px);
    transform: translate(0, 3px);
  }
  100% {
    -webkit-transform: translate(0, 92px);
    -moz-transform: translate(0, 92px);
    -ms-transform: translate(0, 92px);
    -o-transform: translate(0, 92px);
    transform: translate(0, 92px);
  }
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall {
  width: 320px;
  height: 94px;
  position: absolute;
  bottom: 50px;
  background-image: url(../../img/tower-p1.png);
  background-size: 100%;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.lock .tower-lock-bg,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.lock .tower-lock-bg,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.lock .tower-lock-bg {
  width: 254px;
  height: 72px;
  position: absolute;
  top: 16px;
  left: 34px;
  background-color: rgba(0, 0, 0, 0.65);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.lock .tower-lock,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.lock .tower-lock,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.lock .tower-lock {
  width: 40px;
  height: 60px;
  position: absolute;
  top: 22px;
  left: 140px;
  background-image: url(../../img/tower-lock.png);
  background-size: 100%;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.lock .color-btn,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.lock .color-btn,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.lock .color-btn {
  display: none;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.chest .tower-chest-box,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.chest .tower-chest-box,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.chest .tower-chest-box {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 20px;
  left: 38px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: linear-gradient(180deg, #8e7453 0%, #e3c7a3 50%, #8f7553 70%, #ae916a 85%, #8f7553 100%);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.chest .tower-chest,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.chest .tower-chest,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.chest .tower-chest {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-image: url(../../img/change-sun1.png);
  background-size: 100%;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.completed .tower-lock-bg,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.completed .tower-lock-bg,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.completed .tower-lock-bg {
  width: 254px;
  height: 72px;
  position: absolute;
  top: 16px;
  left: 34px;
  background-color: rgba(0, 0, 0, 0.65);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.completed .tower-completed,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.completed .tower-completed,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.completed .tower-completed {
  width: 150px;
  height: 40px;
  position: absolute;
  top: 34px;
  left: 86px;
  background-image: url(../../img/tower-completed.png);
  background-size: 100%;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.completed .color-btn,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.completed .color-btn,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.completed .color-btn {
  display: none;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall .tower-counter,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall .tower-counter,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall .tower-counter {
  width: 60px;
  height: 12px;
  position: absolute;
  top: 72px;
  left: 226px;
  color: #d0c199;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.a2,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.a2,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.a2 {
  bottom: 144px;
  background-image: url(../../img/tower-p2.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.a3,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.a3,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.a3 {
  bottom: 238px;
  background-image: url(../../img/tower-p3.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.a4,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.a4,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.a4 {
  bottom: 332px;
  background-image: url(../../img/tower-p4.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.a5,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.a5,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.a5 {
  bottom: 426px;
  background-image: url(../../img/tower-p5.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.a6,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.a6,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-wall.a6 {
  bottom: 520px;
  background-image: url(../../img/tower-p3.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .color-btn,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .color-btn,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .color-btn {
  width: 150px;
  height: 50px;
  position: absolute;
  top: 28px;
  left: 86px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .color-btn .color-btn-text,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .color-btn .color-btn-text,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .color-btn .color-btn-text {
  top: 14px;
  font-size: 18px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .color-btn:active .color-btn-text,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .color-btn:active .color-btn-text,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .color-btn:active .color-btn-text {
  top: 15px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-block-box,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-block-box,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-block-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-block-box .tower-timer-box,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-block-box .tower-timer-box,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-block-box .tower-timer-box {
  width: 200px;
  height: 100px;
  position: relative;
  top: 150px;
  margin: 0 auto;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-block-box .tower-timer-box .tower-timer,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-block-box .tower-timer-box .tower-timer,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all .all-tower-box .tower-block-box .tower-timer-box .tower-timer {
  width: 100%;
  height: 36px;
  position: relative;
  top: 10px;
  color: #ffdf4a;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box {
  background-image: url(../../img/tower-sky-bg2-xmas.jpg);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-bg,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-bg,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-bg {
  background-image: url(../../img/tower-bg2-xmas.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a1,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a1,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a1 {
  background-image: url(../../img/tower-p1-ny2019.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a2,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a2,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a2 {
  background-image: url(../../img/tower-p2-ny2019.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a3,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a3,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a3 {
  background-image: url(../../img/tower-p3-ny2019.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a4,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a4,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a4 {
  background-image: url(../../img/tower-p4-ny2019.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a5,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a5,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a5 {
  background-image: url(../../img/tower-p5-ny2019.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a6,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a6,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.xmas .all-tower-box .all-tower-scroll .tower-wall.a6 {
  background-image: url(../../img/tower-p3-ny2019.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box {
  background-image: url(../../img/tower-sky-bg2-hw.jpg);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-bg,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-bg,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-bg {
  background-image: url(../../img/tower-bg2-hw.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a1,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a1,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a1 {
  background-image: url(../../img/tower-p1-hw.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a2,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a2,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a2 {
  background-image: url(../../img/tower-p2-hw.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a3,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a3,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a3 {
  background-image: url(../../img/tower-p4-hw.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a4,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a4,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a4 {
  background-image: url(../../img/tower-p5-hw.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a5,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a5,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a5 {
  background-image: url(../../img/tower-p1-hw.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a6,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a6,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-box-all.hw .all-tower-box .all-tower-scroll .tower-wall.a6 {
  background-image: url(../../img/tower-p3-hw.png);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-btn-box-all,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-btn-box-all,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-btn-box-all {
  width: 122px;
  height: 395px;
  position: absolute;
  bottom: 8px;
  left: 10px;
  background-color: #8f7c6e;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1), inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-btn-box-all .color-btn,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-btn-box-all .color-btn,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-btn-box-all .color-btn {
  width: 100px;
  height: 60px;
  top: 7px;
  margin: 8px 11px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-btn-box-all .color-btn .color-btn-text,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-btn-box-all .color-btn .color-btn-text,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-btn-box-all .color-btn .color-btn-text {
  top: 20px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-btn-box-all .color-btn:active .color-btn-text,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-btn-box-all .color-btn:active .color-btn-text,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-btn-box-all .color-btn:active .color-btn-text {
  top: 21px;
}
body .main.world1 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-btn-box-all .color-btn.select,
body .main.world2 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-btn-box-all .color-btn.select,
body .main.world3 .left-side .left-panel.tower .tower-rightside-box-all .tower-right-wrap .tower-btn-box-all .color-btn.select {
  background: linear-gradient(0deg, #7cbc30 0%, #baf279 100%);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.25), 0 2px 4px 0 rgba(0, 0, 0, 0.55);
}

.color-btn.bordo {
  background: linear-gradient(0deg, #9a1f39 0%, #f6547a 100%);
}
.color-btn.bordo.magic {
  background: linear-gradient(0deg, #1f399a 0%, #f6547a 100%);
}
.color-btn.bordo .color-btn-text {
  width: 110px;
  right: 0;
  position: absolute;
}
.color-btn.bordo .domik {
  position: absolute;
  left: -4px;
  top: -4px;
  width: 52px;
  height: 52px;
  z-index: 1;
}
.color-btn.bordo:active .domik {
  top: -3px;
}

.color-btn.gblue {
  background: linear-gradient(0deg, #419ad3 0%, #2c739f 18%, #419ad3 60%, #2c739f 85%, #419ad3 100%);
}
.color-btn.gblue:active .domik {
  top: -3px;
}
.color-btn.gblue.rb-koi {
  position: absolute;
  right: 6px;
  top: 5px;
  width: 150px;
  box-shadow: inset 0 16px 4px rgba(255, 255, 255, 0.2), inset 0 -4px 0 0 rgba(0, 0, 0, 0.4), 0 2px 4px 0 rgba(0, 0, 0, 0.55);
}
.color-btn.gblue.rb-koi .domik {
  top: -6px;
}
.color-btn.gblue.rb-koi:active {
  background: linear-gradient(0deg, #419ad3 0%, #2c739f 14%, #419ad3 56%, #2c739f 81%, #419ad3 100%);
  box-shadow: inset 0 18px 4px rgba(255, 255, 255, 0.2), inset 0 -2px 0 0 rgba(0, 0, 0, 0.4), 0 2px 4px 0 rgba(0, 0, 0, 0.55);
}
.color-btn.gblue.rb-koi:active .domik {
  top: -5px;
}
.color-btn.gblue.koi-rb {
  right: 9px;
  top: 24px;
  width: 150px;
}
.color-btn.gblue .color-btn-text {
  width: 110px;
  right: 0;
  position: absolute;
}
.color-btn.gblue .domik {
  position: absolute;
  left: -4px;
  top: -4px;
  width: 52px;
  height: 52px;
}
.color-btn.gblue.fp:active .domik {
  top: -3px;
}
.color-btn.gblue.fp .color-btn-text {
  width: 128px;
}
.color-btn.gblue.fp .domik {
  left: -4px;
  top: -4px;
}