@charset "UTF-8";
.popup-layer .m-popup.bf-event__chests-pop {
  width: 990px;
  height: 600px;
  left: 105px;
  top: 20px;
  background: linear-gradient(-22deg, #595959, #303030, #595959, #7a7a7a);
  box-shadow: 0 1px 10px #392d26, inset 0 1px 2px #505050, 0 0 10px #000, 0 0 15px #000;
}
.popup-layer .m-popup.bf-event__chests-pop:before {
  content: "";
  box-shadow: 0 0 2px #fff, inset 0 0 5px rgba(0, 0, 0, 0.55);
}
.popup-layer .m-popup.bf-event__chests-pop .title {
  background: linear-gradient(to right, #595959, #303030, #595959);
  border: solid 4px #3e3e3e;
  box-shadow: 0 1px 10px #303030, inset 0 2px 10px rgba(189, 189, 189, 0.15), inset 0 28px 5px rgba(189, 189, 189, 0.15);
  color: #fff;
  text-shadow: 0 0 1px #413753, 0 1px 1px #fff, 0 1px 10px #ffffff;
}
.popup-layer .m-popup.bf-event__chests-pop .color-box {
  background-color: #000;
  background-image: url(../../img/v2-bf-pop-bg.jpg);
  background-position: center;
}
.popup-layer .m-popup.bf-event__chests-pop .color-box:before {
  display: none;
}
.popup-layer .m-popup.bf-event__chests-pop .color-box:after {
  display: none;
}
.popup-layer .m-popup.bf-event__chests-pop .btn-close-x {
  background: linear-gradient(22deg, #7a7a7a, #949494, #595959, #7a7a7a);
  border: solid 4px #3e3e3e;
}
.popup-layer .m-popup.bf-event__chests-pop .btn-close-x:before {
  content: "✖";
  color: #000;
  text-shadow: 0 0 2px #808080, 0 0 2px #808080, 0 0 2px #808080, 0 0 2px #808080, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff;
}
.popup-layer .m-popup.bf-event__chests-pop .wpck-timer-box {
  width: 184px;
  height: 84px;
  position: absolute;
  top: -10px;
  margin-left: -10px;
  background-image: url(../../img/timer-back.png);
  background-size: 100%;
}
.popup-layer .m-popup.bf-event__chests-pop .wpck-timer-box .time-left, .popup-layer .m-popup.bf-event__chests-pop .wpck-timer-box .time-sec {
  width: 150px;
  height: 26px;
  position: absolute;
  top: 18px;
  margin-left: 18px;
  color: #fff000;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.popup-layer .m-popup.bf-event__chests-pop .wpck-timer-box .time-sec {
  top: 34px;
  color: #fff;
  font-size: 24px;
}
.popup-layer .m-popup.bf-event__chests-pop .bf-chests-all {
  font-size: 0;
  width: 700px;
  height: 310px;
  position: absolute;
  top: 101px;
  left: 28px;
}
.popup-layer .m-popup.bf-event__chests-pop .chest {
  display: inline-block;
  position: relative;
  width: 310px;
  height: 310px;
  margin: 0 20px;
  background: linear-gradient(0deg, #f8b669 0%, #f99820 18%, #f8b76c 60%, #f78500 85%, #f8b568 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}
.popup-layer .m-popup.bf-event__chests-pop .chest:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 302px;
  height: 302px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: linear-gradient(0deg, #fede92 0%, #f4c558 18%, #ffe098 60%, #f5c85d 85%, #fddd90 100%);
}
.popup-layer .m-popup.bf-event__chests-pop .chest .color-btn {
  background: linear-gradient(0deg, #47bfed, #74ecfc);
}
.popup-layer .m-popup.bf-event__chests-pop .chest__image {
  cursor: pointer;
  position: absolute;
  top: 42px;
  left: 51px;
  width: 200px;
  height: 200px;
}
.popup-layer .m-popup.bf-event__chests-pop .chest__image img {
  width: 100%;
}
.popup-layer .m-popup.bf-event__chests-pop .chest__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 40px;
  background: rgba(110, 59, 0, 0.5);
}
.popup-layer .m-popup.bf-event__chests-pop .chest__count,
.popup-layer .m-popup.bf-event__chests-pop .key__count {
  position: absolute;
  top: 46px;
  left: 11px;
  width: 50px;
  height: 50px;
  color: #fff;
  background: linear-gradient(0deg, #585858 0%, #303030 50%, #585858 100%);
  border-radius: 100%;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}
.popup-layer .m-popup.bf-event__chests-pop .chest__info {
  position: absolute;
  top: 47px;
  right: 9px;
  width: 26px;
  height: 26px;
  background-image: url(../../img/i-ico.png);
  background-size: 100%;
  cursor: pointer;
}
.popup-layer .m-popup.bf-event__chests-pop .chest__info:hover {
  filter: brightness(1.2);
}
.popup-layer .m-popup.bf-event__chests-pop .chest__info:active {
  filter: brightness(0.9);
}
.popup-layer .m-popup.bf-event__chests-pop .bf-keys-all {
  font-size: 0;
  width: 700px;
  height: 156px;
  position: absolute;
  top: 426px;
  left: 28px;
}
.popup-layer .m-popup.bf-event__chests-pop .key {
  display: inline-block;
  position: relative;
  width: 310px;
  height: 156px;
  margin: 0 20px;
}
.popup-layer .m-popup.bf-event__chests-pop .key .key__count {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  left: 222px;
  top: 40px;
}
.popup-layer .m-popup.bf-event__chests-pop .key__image {
  position: absolute;
  top: -20px;
  left: 89px;
  width: 132px;
  height: 76px;
}
.popup-layer .m-popup.bf-event__chests-pop .key__image img {
  width: 100%;
}
.popup-layer .m-popup.bf-event__chests-pop .chest .color-btn,
.popup-layer .m-popup.bf-event__chests-pop .key .color-btn {
  position: absolute;
  bottom: 15px;
  left: 65px;
  width: 180px;
  height: 50px;
}
.popup-layer .m-popup.bf-event__chests-pop .chest .color-btn .color-btn-text,
.popup-layer .m-popup.bf-event__chests-pop .key .color-btn .color-btn-text {
  font-size: 18px;
  line-height: 25px;
}
.popup-layer .m-popup.bf-event__chests-pop .bf-progress {
  position: absolute;
  bottom: 15px;
  right: 174px;
  width: 50px;
  height: 438px;
  background: linear-gradient(to right, #595959 10%, #303030 45%, #303030 55%, #595959 90%);
}
.popup-layer .m-popup.bf-event__chests-pop .bf-progress__step {
  background: linear-gradient(to top, #fff091 0%, #ffbe27 50%, #fff091 100%);
  line-height: 26px;
  width: 60px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: -5px;
  font-weight: bold;
}
.popup-layer .m-popup.bf-event__chests-pop .bf-progress__step.step25 {
  bottom: 31%;
}
.popup-layer .m-popup.bf-event__chests-pop .bf-progress__step.step50 {
  bottom: 52%;
}
.popup-layer .m-popup.bf-event__chests-pop .bf-progress__step.step75 {
  bottom: 74%;
}
.popup-layer .m-popup.bf-event__chests-pop .bf-progress__step.step100 {
  bottom: 96%;
}
.popup-layer .m-popup.bf-event__chests-pop .bf-progress__bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  background: linear-gradient(to right, #41d355 0%, #039117 17%, #41d355 60%, #0ca621 85%, #41d355 100%);
  transition: height 0.3s;
}
.popup-layer .m-popup.bf-event__chests-pop .bf-rewards {
  width: 120px;
  height: 520px;
  position: absolute;
  bottom: 15px;
  right: 44px;
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background: linear-gradient(to right, #419ad3 0%, #2c739f 17%, #419ad3 60%, #2c739f 85%, #419ad3 100%);
}
.popup-layer .m-popup.bf-event__chests-pop .bf-rewards__label {
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
.popup-layer .m-popup.bf-event__chests-pop .bf-rewards__items {
  height: 398px;
  background: linear-gradient(to right, #d3d3d3 0%, #979797 17%, #d3d3d3 60%, #979797 85%, #d3d3d2 100%);
  font-size: 0;
  padding-top: 16px;
  box-sizing: border-box;
}
.popup-layer .m-popup.bf-event__chests-pop .equip-item {
  width: 80px;
  height: 80px;
  position: relative;
  display: inline-block;
  background: linear-gradient(180deg, #c68300 0%, #f4dfb6 50%, #c68200 70%, #fad489 85%, #c78302 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: #fffe9a;
  box-shadow: inset 0px -50px 50px -25px #e9b13a, 0px 1px 3px -1px rgba(0, 0, 0, 0.4);
  background: linear-gradient(0deg, #e9b039 0%, #fffe9a 100%);
}
.popup-layer .m-popup.bf-event__chests-pop .equip-item:before {
  content: "";
  width: 76px;
  height: 76px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: linear-gradient(0deg, #fede92 0%, #f4c558 18%, #ffe098 60%, #f5c85d 85%, #fddd90 100%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.popup-layer .m-popup.bf-event__chests-pop .equip-item + .equip-item {
  margin-top: 15px;
}
.popup-layer .m-popup.bf-event__chests-pop .equip-item__picture {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.popup-layer .m-popup.bf-event__chests-pop .equip-item__picture img {
  width: 100%;
}
.popup-layer .m-popup.bf-event__chests-pop .equip-item__count {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  padding: 4px 7px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border-radius: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  background: linear-gradient(0deg, #7dbd32 0%, #bbee7f 100%);
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.4);
}
.popup-layer .m-popup.bf-event__chests-pop .bf-rewards__collected {
  text-transform: uppercase;
  color: #fff;
}
.popup-layer .m-popup.bf-event__chests-pop .collected__img {
  width: 52px;
  height: 52px;
  margin: 0 auto;
}
.popup-layer .m-popup.bf-event__chests-pop .collected__img img {
  width: 100%;
}
.popup-layer .m-popup.bf-event__chests-pop .collected__label {
  font-size: 10px;
  margin-top: 5px;
}
.popup-layer .m-popup.bf-event__chests-pop .collected__count {
  font-size: 18px;
  line-height: 18px;
}