body .main.world1 .popup-layer .m-popup.xmas-pop3,
body .main.world2 .popup-layer .m-popup.xmas-pop3,
body .main.world3 .popup-layer .m-popup.xmas-pop3 {
  top: 25px;
  height: 590px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .color-box,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .color-box,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .color-box {
  background-size: cover;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .color-box:before,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .color-box:before,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .color-box:before {
  content: none;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all {
  width: 866px;
  height: 130px;
  position: absolute;
  top: 70px;
  left: 20px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-bar-box,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-bar-box,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-bar-box {
  width: 866px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-bar-box .xmas-prg-name-pic,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-bar-box .xmas-prg-name-pic,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-bar-box .xmas-prg-name-pic {
  width: 150px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #3fbae7 0%, #007aa7 50%, #3fbae7 100%);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  line-height: 30px;
  border-radius: 20px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -2px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px #11597a, 0 1px 4px rgba(0, 0, 0, 0.4);
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-bar-box .xmas-prg-name-pic:before,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-bar-box .xmas-prg-name-pic:before,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-bar-box .xmas-prg-name-pic:before {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  top: 2px;
  left: 4px;
  background-image: url(../../img/ic-dildo-gold.png);
  background-size: 100%;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-bar-box .xmas-prg-bar,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-bar-box .xmas-prg-bar,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-bar-box .xmas-prg-bar {
  width: 670px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 156px;
  background-color: #11597a;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #0d445d, 0 1px 3px 2px rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-bar-box .xmas-prg-bar .xmas-prg,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-bar-box .xmas-prg-bar .xmas-prg,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-bar-box .xmas-prg-bar .xmas-prg {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #5ef265 0%, #47b548 12%, #6bff66 60%, #9bff91 70%, #59db56 100%);
  transition: width 0.3s;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-girl,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-girl,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-prg-girl {
  width: 150px;
  height: 158px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../../img/break-girl-mas-event-pass-02.png);
  background-position: -100px -30px;
  background-size: 364px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 469px;
  background: linear-gradient(0deg, #e9c44f 0%, #f7eec7 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  text-align: center;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box:hover,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box:hover,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box:hover {
  background: linear-gradient(0deg, #fed95f 0%, #fff8d9 100%);
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box:hover .xmas-level-rew-pic,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box:hover .xmas-level-rew-pic,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box:hover .xmas-level-rew-pic {
  filter: brightness(1.1);
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-level-rew-pic,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-level-rew-pic,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-level-rew-pic {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-level-rew-pic img,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-level-rew-pic img,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-level-rew-pic img {
  width: 60px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-level-rew-num,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-level-rew-num,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-level-rew-num {
  width: 60px;
  height: 12px;
  position: absolute;
  bottom: 5px;
  color: #3c3737;
  font-size: 12px;
  font-weight: bold;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-level-rew-num-check,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-level-rew-num-check,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-level-rew-num-check {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url(../../img/paycheck.png);
  background-size: 100%;
  background-repeat: no-repeat;
  visibility: hidden;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-level-rew-good,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-level-rew-good,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-level-rew-good {
  width: 64px;
  height: 64px;
  position: absolute;
  top: -2px;
  left: -2px;
  background-image: url(../../img/fortuna-good.png);
  background-size: 100%;
  visibility: hidden;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .color-btn.green,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .color-btn.green,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .color-btn.green {
  width: 74px;
  height: 16px;
  position: absolute;
  bottom: 3px;
  left: 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  visibility: hidden;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.55);
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .color-btn.green .color-btn-text,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .color-btn.green .color-btn-text,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .color-btn.green .color-btn-text {
  font-size: 8px;
  top: 2px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .color-btn.green:active,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .color-btn.green:active,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .color-btn.green:active {
  box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.2), inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .color-btn.green:active .color-btn-text,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .color-btn.green:active .color-btn-text,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .color-btn.green:active .color-btn-text {
  top: 3px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box.collect .xmas-level-rew-num,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box.collect .xmas-level-rew-num,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box.collect .xmas-level-rew-num {
  visibility: hidden;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box.collect .color-btn.green,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box.collect .color-btn.green,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box.collect .color-btn.green {
  visibility: visible;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box.check .xmas-level-rew-num-check,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box.check .xmas-level-rew-num-check,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box.check .xmas-level-rew-num-check {
  visibility: visible;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box.v2,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box.v2,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box.v2 {
  right: 201px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box.v3,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box.v3,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box.v3 {
  right: 0px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-prg-bar-num-line,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-prg-bar-num-line,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-prg-bar-num-line {
  width: 4px;
  height: 50px;
  position: absolute;
  bottom: -50px;
  right: 38px;
  background-color: #103463;
  border-radius: 0 0 2px 2px;
  pointer-events: none;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-prg-bar-num-line .xmas-prg-bar-num,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-prg-bar-num-line .xmas-prg-bar-num,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-prg-bar-num-line .xmas-prg-bar-num {
  width: 34px;
  height: 22px;
  position: absolute;
  bottom: 4px;
  right: -38px;
  background: #f7cc65;
  border-radius: 6px;
  color: #3c3737;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  filter: drop-shadow(0 -0.5px 0 #f7eec7) drop-shadow(0 -0.5px 0 #f7eec7) drop-shadow(0 1px 2px rgba(0, 0, 0, 0.6));
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-prg-bar-num-line .xmas-prg-bar-num:before,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-prg-bar-num-line .xmas-prg-bar-num:before,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-prg-box-all .xmas-reward-chest-box .xmas-prg-bar-num-line .xmas-prg-bar-num:before {
  content: "";
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-top: 8px solid #f7cc65;
  position: absolute;
  top: 2px;
  transform: rotate(90deg);
  left: -16.4px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all {
  width: 866px;
  position: absolute;
  left: 20px;
  top: 90px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all.xmas,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all.xmas,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all.xmas {
  top: 207px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box {
  width: 100%;
  position: absolute;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box {
  width: 429px;
  height: 90px;
  position: relative;
  display: inline-block;
  background-color: #26789e;
  margin-bottom: 8px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-text,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-text,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-text {
  width: 188px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #f5da6d;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-prgbar-all,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-prgbar-all,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-prgbar-all {
  width: 186px;
  height: 18px;
  position: absolute;
  bottom: 11px;
  left: 11px;
  background: linear-gradient(#11597a, #136084, #11597a);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 0 1px #11597a, 0 1px 2px rgba(255, 255, 255, 0.4);
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-prgbar-all .daily-prgbar,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-prgbar-all .daily-prgbar,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-prgbar-all .daily-prgbar {
  width: 80%;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(0deg, #5eb0f2, #4783b5 12%, #66c4ff 60%, #91d5ff 70%, #569fdb);
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-prgbar-all .daily-prgbar-text,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-prgbar-all .daily-prgbar-text,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-prgbar-all .daily-prgbar-text {
  width: 185px;
  height: 20px;
  position: relative;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box {
  width: 220px;
  height: 90px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #11597a;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .daily-reward,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .daily-reward,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .daily-reward {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: linear-gradient(180deg, #c68300 0%, #f4dfb6 50%, #c68200 70%, #fad489 85%, #c78302 100%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .daily-reward .daily-reward-pic,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .daily-reward .daily-reward-pic,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .daily-reward .daily-reward-pic {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 4px;
  left: 10px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .daily-reward .daily-reward-pic img,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .daily-reward .daily-reward-pic img,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .daily-reward .daily-reward-pic img {
  width: 50px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .daily-reward .daily-reward-count,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .daily-reward .daily-reward-count,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .daily-reward .daily-reward-count {
  width: 60px;
  height: auto;
  position: relative;
  top: 52px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .color-btn,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .color-btn,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .color-btn {
  width: 120px;
  height: 40px;
  position: absolute;
  top: 25px;
  right: 10px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .color-btn .color-btn-text,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .color-btn .color-btn-text,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box .daily-parth-box .daily-parth-claim-box .color-btn .color-btn-text {
  color: #3e342d;
  text-shadow: 0 0 0;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box.right,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box.right,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-daily-box-all .xmas-daily-box.right {
  right: 0px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-btn-box,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-btn-box,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-btn-box {
  width: 886px;
  height: 68px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 0;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-btn-box .color-btn,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-btn-box .color-btn,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-btn-box .color-btn {
  width: 180px;
  height: 50px;
  margin: 0 8px;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-btn-box .color-btn .color-btn-text,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-btn-box .color-btn .color-btn-text,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-btn-box .color-btn .color-btn-text {
  top: 12px;
  position: relative;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  flex-direction: row;
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-btn-box .color-btn .color-btn-text:before,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-btn-box .color-btn .color-btn-text:before,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-btn-box .color-btn .color-btn-text:before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../../img/darkworld-back-arrow.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  transform: translateX(-10px);
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
}
body .main.world1 .popup-layer .m-popup.xmas-pop3 .xmas-btn-box .color-btn:active .color-btn-text,
body .main.world2 .popup-layer .m-popup.xmas-pop3 .xmas-btn-box .color-btn:active .color-btn-text,
body .main.world3 .popup-layer .m-popup.xmas-pop3 .xmas-btn-box .color-btn:active .color-btn-text {
  top: 13px;
}