.popup-layer .m-popup.goddess-picture {
  width: 706px;
  height: 640px;
  left: 247px;
  top: 0px;
}
.popup-layer .m-popup.goddess-picture:before {
  top: 10px;
  content: "";
  background: linear-gradient(136deg, #8e7453 0%, #e3c7a3 50%, #ae916a 85%, #8f7553 100%);
}
.popup-layer .m-popup.goddess-picture .btn-close-x {
  z-index: 1;
  right: 0;
  top: 0;
}
.popup-layer .m-popup.goddess-picture .img-goddess-picture {
  position: absolute;
  left: 15px;
  top: 15px;
  height: 610px;
  width: 676px;
}
.popup-layer .m-popup.goddess-picture.narrow {
  width: 440px;
  left: 380px;
}
.popup-layer .m-popup.goddess-picture.narrow .img-goddess-picture {
  width: 410px;
}