.popup-layer .m-popup.guildmanage {
  width: 590px;
  height: 530px;
  left: 305px;
  top: 25px;
}
.popup-layer .m-popup.guildmanage .title {
  color: #572f14;
}
.popup-layer .m-popup.guildmanage .color-box {
  background: linear-gradient(136deg, #8e7453 0%, #e3c7a3 50%, #ae916a 85%, #8f7553 100%);
}
.popup-layer .m-popup.guildmanage .color-box:before {
  display: none;
}
.popup-layer .m-popup.guildmanage .color-box:after {
  display: none;
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all {
  width: 530px;
  height: 420px;
  position: absolute;
  top: 80px;
  left: 30px;
  background-color: #cbaa81;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll {
  width: 510px;
  height: 400px;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
  overflow-y: scroll;
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll::-webkit-scrollbar-track {
  background-color: #524544;
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll::-webkit-scrollbar {
  width: 8px;
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #ffe199 0%, #f4c657 18%, #ffe199 60%, #f4c557 85%, #ffe199 100%);
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll .cw-main-right-b-av {
  width: 380px;
  height: 80px;
  position: relative;
  display: inline-block;
  left: -60px;
  background-color: #f3d6b0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll .cw-main-right-b-av .cw-main-girl-ava {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: linear-gradient(0deg, #f28e26 0%, #fd644f 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll .cw-main-right-b-av .cw-main-girl-ava .cw-main-girl-ava-img {
  width: 66px;
  height: 66px;
  position: absolute;
  top: 2px;
  left: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll .cw-main-right-b-av .cw-main-girl-ava .cw-main-girl-ava-img img {
  width: 66px;
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll .cw-main-right-b-av .cw-girl-num-big {
  width: 50px;
  height: 20px;
  position: absolute;
  top: 30px;
  left: 80px;
  background-color: #544746;
  color: #d8bb96;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll .cw-main-right-b-av .cw-main-right-b-name-box {
  width: 144px;
  height: 70px;
  position: absolute;
  top: 5px;
  left: 135px;
  border-left: 1px solid #cbaa81;
  border-right: 1px solid #cbaa81;
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll .cw-main-right-b-av .cw-main-right-b-name-box .cw-main-right-b-name, .popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll .cw-main-right-b-av .cw-main-right-b-name-box .cw-main-right-b-rank {
  width: 130px;
  height: auto;
  position: absolute;
  top: 5px;
  left: 7px;
  color: #544746;
  font-size: 14px;
  font-weight: bold;
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll .cw-main-right-b-av .cw-main-right-b-name-box .cw-main-right-b-rank {
  font-size: 12px;
  font-style: italic;
  top: 50px;
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll .cw-main-right-b-av .cw-main-right-b-at-box {
  width: 90px;
  height: 70px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll .cw-main-right-b-av .cw-main-right-b-at-box .cw-main-right-b-at-pic {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 24px;
  top: 5px;
  background-image: url("../../img/v2-fw-icon-w3.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll .cw-main-right-b-av .cw-main-right-b-at-box .cw-main-right-b-at-text {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 5px;
  text-align: center;
  color: #544746;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.popup-layer .m-popup.guildmanage .cw-clan-manage-box-all .cw-main-right-b-box-scroll .cw-main-right-b-av .cw-main-right-btn-box {
  position: absolute;
  top: 0px;
  right: -110px;
  width: 100px;
  height: 80px;
}

.color-btn {
  width: 90px;
  height: 50px;
  position: relative;
  display: inline-block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: linear-gradient(0deg, #e9b039 0%, #fffe9a 100%);
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.25), 0 2px 4px 0 rgba(0, 0, 0, 0.55);
  cursor: pointer;
}
.color-btn .color-btn-text {
  top: 10px;
  position: relative;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}
.color-btn:active {
  box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.2), inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
.color-btn:active .color-btn-text {
  top: 12px;
}
.color-btn.blue {
  background: linear-gradient(0deg, #62a3e5 0%, #b4d7fa 100%);
}
.color-btn.green {
  background: linear-gradient(0deg, #7cbc30 0%, #BAF279 100%);
}
.color-btn.orage {
  background: linear-gradient(0deg, #d67503 0%, #fdd2a0 100%);
}
.color-btn.diamond {
  background: linear-gradient(0deg, #4b97bf 0%, #7AE2FF 100%);
}

.cw-clan-logo-bg, .cw-clan-logo {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 5px;
  left: 92px;
}
.cw-clan-logo-bg img, .cw-clan-logo img {
  width: 70px;
}
.cw-clan-logo-bg .cw-clan-logo, .cw-clan-logo .cw-clan-logo {
  top: 0;
  left: 0;
}