@charset "UTF-8";
.popup-layer .m-popup.bf-event__buy-keys-pop {
  width: 1000px;
  height: auto;
  top: calc(50% - 16px);
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 74px 0 22px 0;
}
.popup-layer .m-popup.bf-event__buy-keys-pop:before {
  content: "";
  background-color: #b7a497;
  bottom: 76px;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .timer-text {
  background: linear-gradient(0deg, #ffd07c 0%, #ffc330 100%);
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #50402a;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 20px 20px 100% 100%;
  box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.3);
  width: 400px;
  line-height: 18px;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .update-timer-wrap {
  width: 282px;
  height: 40px;
  position: absolute;
  bottom: -34px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-image: url(../../img/update-timer-bg.svg);
  background-size: cover;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.8));
  background-position: center;
  z-index: -1;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .update-timer-wrap .timer {
  color: #50402a;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .update-timer-wrap .timer:before {
  content: "—";
  font-size: 11px;
  position: absolute;
  top: 46%;
  left: -14px;
  transform: translate(0%, -50%);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .update-timer-wrap .timer:after {
  content: "—";
  font-size: 11px;
  position: absolute;
  top: 46%;
  right: -14px;
  transform: translate(0%, -50%);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap {
  width: auto;
  height: auto;
  position: relative;
  padding: 0 24px 0 24px;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap {
  display: flex;
  justify-content: space-between;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap {
  width: 180px;
  height: 352px;
  position: relative;
  display: inline-block;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keys-card-box {
  width: 180px;
  height: 300px;
  position: relative;
  top: 0px;
  left: 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  transition: ease-in-out 0.1s;
  background: linear-gradient(0deg, #8e7453 0%, #e3c7a3 50%, #8f7553 70%, #ae916a 85%, #8e7453 100%);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keys-card-box:before {
  content: "";
  width: 174px;
  height: 274px;
  position: absolute;
  top: 2.8px;
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background: linear-gradient(0deg, #af946f 0%, #dbbf9c 31%, #8f7553 100%);
  box-shadow: inset 0 0 6px #5a472f;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keys-card-box .card-header {
  width: 128px;
  height: 22px;
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #50402a;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  background-image: url(../../img/portal-card-header-bg.svg);
  background-repeat: no-repeat;
  filter: brightness(100%) drop-shadow(0 4px 2px rgba(0, 0, 0, 0.2));
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keys-card-box .card-info-btn {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 5.5px;
  right: 7px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
  background-image: url(../../img/info.svg);
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
  box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.5), 0 0px 3px rgba(255, 255, 255, 0.5);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keys-card-box .keys-but-box {
  width: 140px;
  height: 208px;
  position: absolute;
  top: 51px;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;
  border-radius: 6px;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keys-card-box .keys-but-box img {
  width: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
  color: #e3c7a3;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keys-card-box .essence-quantity {
  position: absolute;
  right: 10px;
  font-weight: 700;
  color: #50402a;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
  font-size: 16px;
  transition: ease-in-out 0.1s;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100px;
  text-align: center;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keys-card-box .offer-attributes {
  position: absolute;
  top: 202px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 140px;
  display: flex;
  justify-content: space-around;
  height: 56px;
  align-items: center;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keys-card-box .offer-attributes .squad-color,
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keys-card-box .offer-attributes .squad-class {
  width: auto;
  height: 56px;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keys-card-box .offer-attributes .settings-offer-btn {
  width: 100%;
  height: 28px;
  border-radius: 5px;
  background: linear-gradient(0deg, #daba8e 40%, #ffeabf 100%);
  box-shadow: inset 0 -3px 0px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.59);
  font-size: 12px;
  color: #50402a;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
  line-height: 25px;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keys-card-box .offer-attributes .settings-offer-btn:active {
  line-height: 28px;
  box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.59);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keys-card-box .limit {
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 15px;
  color: #50402a;
  font-weight: 700;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keybtn-box {
  width: 100%;
  height: 38px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(45deg, #e8c34e, #f1da7c, #cfa831, #fbf1d8);
  border-radius: 8px;
  box-shadow: inset 0 -20px 5px rgba(200, 119, 37, 0.59), inset 0 -4px 0px #c87725, 0 0 3px #3d3737, inset 0 0 3px rgb(200, 119, 37);
  line-height: 38px;
  z-index: 1;
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keybtn-box .keybtn {
  bottom: 2px;
  position: relative;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keybtn-box .keybtn:after {
  content: "";
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  background-size: 100%;
  margin-right: 4px;
  margin-left: 4px;
  vertical-align: middle;
  margin-bottom: 2px;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keybtn-box .keybtn.wheel_res:after {
  background-image: url(../../img/v2-f-e1.png);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keybtn-box .keybtn.diamonds:after {
  background-image: url(../../img/ic-diamond.png);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keybtn-box .quantity {
  bottom: 2px;
  position: relative;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keybtn-box:hover {
  box-shadow: inset 0 -20px 5px rgba(200, 119, 37, 0.59), inset 0 -4px 0 #c87725, 0 0 12px #ff0, 0 0 5px rgba(255, 255, 204, 0.5), inset 0 0 10px rgba(255, 255, 204, 0.5), inset 0 0 3px rgb(96, 56, 6);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keybtn-box:hover + .keys-card-box {
  transform: translateY(-4px) scale(1.01);
  transition: ease-in-out 0.1s;
  filter: brightness(110%);
  box-shadow: inset 0 -20px 5px rgba(200, 119, 37, 0.3), inset 0 -4px 0 #c87725, 0 0 12px #ff0, 0 0 5px rgba(255, 255, 204, 0.3), inset 0 0 10px rgba(255, 255, 204, 0.2), inset 0 0 3px rgb(96, 56, 6);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keybtn-box:active {
  box-shadow: inset 0 -16px 5px rgba(200, 119, 37, 0.59), inset 0 -1px 0 #c87725, 0 0 12px #ff0, 0 0 5px rgba(255, 255, 204, 0.5), inset 0 0 10px rgba(255, 255, 204, 0.5), inset 0 0 3px rgb(96, 56, 6);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keybtn-box:active .keybtn,
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .cards-wrap .keys-card-wrap .keybtn-box:active .quantity {
  bottom: 0px;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .bottom-block-wrap {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 28px;
  padding: 0 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .bottom-block-wrap .passed-text {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  text-align: left;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 800px;
  height: 40px;
  border-radius: 8px;
  padding: 0 9px;
  box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.3);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .bottom-block-wrap .passed-text .passed-levels {
  color: #4c3a25;
  display: flex;
  align-items: center;
  width: 60px;
  border-radius: 5px;
  background: linear-gradient(0deg, #ffb229 0%, #ffe3ab 100%);
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.59);
  text-align: right;
  padding: 0 8px;
  font-size: 14px;
  color: #50402a;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
  line-height: 26px;
  justify-content: space-between;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .bottom-block-wrap .passed-text .passed-levels:before {
  content: "";
  background-image: url(../../img/v2-fw-icon-w3.png);
  width: 20px;
  height: 20px;
  position: relative;
  left: 0px;
  background-size: 22px;
  background-position: center;
  display: inline-block;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .bottom-block-wrap .passed-text .levels-essence-quantity {
  color: #4c3a25;
  display: flex;
  align-items: center;
  width: 60px;
  border-radius: 5px;
  background: linear-gradient(0deg, #ffb229 0%, #ffe3ab 100%);
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.59);
  text-align: right;
  padding: 0 8px;
  font-size: 14px;
  color: #50402a;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
  line-height: 26px;
  justify-content: space-between;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .bottom-block-wrap .passed-text .levels-essence-quantity:before {
  content: "";
  width: 20px;
  height: 20px;
  position: relative;
  left: 0px;
  background-size: 25px;
  background-position: center;
  top: -1px;
  display: inline-block;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .bottom-block-wrap .passed-text .levels-essence-quantity.wheel_res:before {
  background-image: url(../../img/v2-f-e1.png);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .bottom-block-wrap .passed-text .levels-essence-quantity.essence_pack:before {
  background-image: url(../../img/change-ic-essence.png);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .bottom-block-wrap .passed-text .levels-essence-quantity.spirit2_res:before {
  background-image: url(../../img/ic-yellow-butil.png);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .bottom-block-wrap .passed-text .levels-essence-quantity.cw_ct_res:before {
  background-image: url(../../img/ic-green-butil.png);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .bottom-block-wrap .passed-text .levels-essence-quantity.cw_gd_res:before {
  background-image: url(../../img/ic-blue-butil.png);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .bottom-block-wrap .passed-text .levels-essence-quantity.chaos_res:before {
  background-image: url(../../img/v2-icon-chaos.png);
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .bottom-block-wrap .reward-btn {
  width: 120px;
  height: 38px;
  position: relative;
  background: linear-gradient(0deg, #82c138, #b7ef76);
  border-radius: 8px;
  box-shadow: inset 0 -4px 0px rgba(0, 0, 0, 0.26), 0 1px 4px rgba(0, 0, 0, 0.2);
  line-height: 34px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.popup-layer .m-popup.bf-event__buy-keys-pop .popup-wrap .bottom-block-wrap .reward-btn:active {
  box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.26), 0 1px 4px rgba(0, 0, 0, 0.2);
  line-height: 38px;
}

.card-block {
  filter: grayscale(100%);
  pointer-events: none;
}