@charset "UTF-8";
body .main .left-side {
  width: 620px;
  height: 555px;
  position: absolute;
  left: 5px;
  bottom: 5px;
}
body .main .left-side .tabs-all-box {
  width: 500px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}
body .main .left-side .tabs-all-box .tabs-all {
  width: 118px;
  height: 40px;
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 0 2px 0 0;
  cursor: pointer;
  background-color: #9c8b7c;
  -webkit-border-radius: 24px 24px 0 0;
  -moz-border-radius: 24px 24px 0 0;
  -ms-border-radius: 24px 24px 0 0;
  -o-border-radius: 24px 24px 0 0;
  border-radius: 24px 24px 0 0;
}
body .main .left-side .tabs-all-box .tabs-all:before {
  content: "";
  width: 110px;
  height: 36px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #544746;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.15);
}
body .main .left-side .tabs-all-box .tabs-all .tabs-name {
  width: 60px;
  height: 40px;
  position: absolute;
  right: 14px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 44px;
  text-align: center;
}
body .main .left-side .tabs-all-box .tabs-all .tabs-pic {
  width: 50px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 5px;
}
body .main .left-side .tabs-all-box .tabs-all .tabs-pic img {
  width: 50px;
}
body .main .left-side .tabs-all-box .tabs-all.selected:before {
  content: "";
  background-color: #9c8b7c;
}
body .main .left-side .left-panel {
  width: 620px;
  height: 515px;
  position: absolute;
  left: 0;
  top: 40px;
}
body .main .left-side .left-panel:before {
  content: "";
  width: 620px;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9c8b7c;
  z-index: 999;
}
body .main .left-side .left-panel.wide {
  width: 1106px;
}
body .main .left-side .left-panel.wide:before {
  content: "";
  width: 1102px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main {
  width: 1098px;
  height: 511px;
  position: absolute;
  top: 0;
  left: 0;
  border: solid 4px #9c8b7c;
  border-top: none;
  background-color: #9c8b7c;
  box-shadow: inset 0 0 7px #5f4f4e, inset 0 6px 7px #5f4f4e;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main:before {
  content: "";
  position: absolute;
  width: 1080px;
  height: 490px;
  top: 13px;
  left: 9px;
  background-image: url(../../img/titans_bg.jpg);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-left,
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-center,
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-right,
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats {
  position: absolute;
  top: 23px;
  left: 19px;
  width: 350px;
  height: 432px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-left {
  top: 63px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-center {
  top: 63px;
  left: 389px;
  width: 389px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-center .color-btn {
  position: absolute;
  left: 110px;
  top: 24px;
  width: 170px;
  background: linear-gradient(0deg, #47bfed, #74ecfc);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-center .color-btn .color-btn-text {
  font-size: 16px;
  top: 9px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-center .color-btn:active .color-btn-text {
  top: 10px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-right {
  left: 790px;
  width: 290px;
  height: 472px;
  background: linear-gradient(0deg, #ffe199 0%, #f4c657 18%, #ffe199 60%, #f4c557 85%, #ffe199 100%);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-right:before {
  content: "";
  position: absolute;
  width: 286px;
  height: 468px;
  top: 2px;
  left: 2px;
  background-image: url(../../img/titans_enemy_bg.jpg);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-right .boss {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 286px;
  height: 468px;
  overflow: hidden;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-right .boss .boss-wrapper {
  position: absolute;
  left: -32px;
  top: 59px;
  width: 350px;
  height: 350px;
  text-align: center;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-right .boss-timer {
  position: absolute;
  left: 51px;
  top: 0;
  width: 190px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-right .boss-timer .time {
  color: #ffb70a;
  font-size: 16px;
  text-transform: initial;
  line-height: 10px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-right .boss-name {
  position: absolute;
  left: 2px;
  top: 364px;
  width: 286px;
  height: 60px;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75), 0 1px 6px rgb(0, 0, 0);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-right .boss-name .lvl {
  font-size: 18px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-right .color-btn {
  position: absolute;
  top: 286px;
  left: 56px;
  width: 180px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-right .color-btn .color-btn-text {
  font-size: 24px;
  line-height: 20px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-right .color-btn .color-btn-text .attempts {
  font-size: 12px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-right .hp-bar-bg {
  position: absolute;
  top: 425px;
  left: 17px;
  width: 260px;
  height: 36px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: linear-gradient(0deg, #cbcbcb, #979797 18%, #d3d3d3, #d3d3d3 74%, #989898, #d3d3d2);
  padding: 4px;
  box-sizing: border-box;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-right .hp-bar-bg:before {
  content: "";
  background-color: #232e45;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 256px;
  height: 32px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 0 2px 8px 0 #000;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-right .hp-bar-bg .hp-bar {
  width: 85%;
  height: 28px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  background: linear-gradient(90deg, #007aa7, #3fbae7);
  box-shadow: inset 0 14px 0 0 rgba(255, 255, 255, 0.1);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-right .hp-bar-bg .hp-text {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 256px;
  height: 32px;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats {
  width: 760px;
  height: 40px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .color-btn {
  position: absolute;
  width: 170px;
  top: 0;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .color-btn .color-btn-text {
  top: 9px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .color-btn:active .color-btn-text {
  top: 10px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .color-btn.leaderbord {
  left: 0;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .color-btn.upgrade {
  left: 180px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .color-btn .color-btn-text {
  font-size: 16px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics {
  position: absolute;
  top: 0;
  left: 370px;
  width: 389px;
  height: 40px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .q-counter,
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .mech-stats {
  position: absolute;
  top: 0;
  font-size: 0;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .q-counter .stat,
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .mech-stats .stat {
  display: inline-block;
  position: relative;
  width: 93px;
  height: 40px;
  font-size: 14px;
  padding: 12px 11px 0px 36px;
  text-align: center;
  box-sizing: border-box;
  color: #544746;
  font-weight: bold;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .q-counter .stat:before,
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .mech-stats .stat:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .q-counter .stat + .stat:after,
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .mech-stats .stat + .stat:after {
  content: "";
  position: absolute;
  left: -1px;
  top: 6px;
  width: 1px;
  height: 30px;
  background-color: #5c4b46;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .q-counter .stat.qq,
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .mech-stats .stat.qq {
  width: 104px;
  font-size: 18px;
  padding: 10px 11px 0 36px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .q-counter .stat.qq:before,
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .mech-stats .stat.qq:before {
  background-image: url(../../img/v2_at_gear.png);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .q-counter .stat.atk:before,
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .mech-stats .stat.atk:before {
  background-image: url(../../img/v2_at_magicgun.png);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .q-counter .stat.hp:before,
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .mech-stats .stat.hp:before {
  background-image: url(../../img/v2_at_magic_plate.png);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .q-counter .stat.pow:before,
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .mech-stats .stat.pow:before {
  background-image: url(../../img/v2_at_manabomb.png);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .q-counter {
  left: 0;
  width: 104px;
  height: 40px;
  background: linear-gradient(0deg, #ffe199 0%, #f4c657 18%, #ffe199 60%, #f4c557 85%, #ffe199 100%);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titans-stats .titan-characteristics .mech-stats {
  right: 0;
  width: 280px;
  height: 40px;
  background: linear-gradient(0deg, #e9b13a, #fffd99);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .stars {
  position: absolute;
  width: 350px;
  top: 13px;
  text-align: center;
  font-size: 0;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .stars .star {
  display: inline-block;
  background-image: url(../../img/./star1.png);
  background-size: 100%;
  width: 24px;
  height: 23px;
  filter: grayscale(1);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .stars .star.checked {
  filter: grayscale(0);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titan-screen {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 44px;
  left: 0;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titan-screen img {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  display: block;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .titan-label {
  background: linear-gradient(0deg, #e9b039 0%, #fffe9a 100%);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  width: 210px;
  height: 30px;
  color: #5c4b46;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  font-weight: bold;
  top: 402px;
  left: 70px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .team {
  font-size: 0;
  position: absolute;
  top: 86px;
  left: 5px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .team .t-slot {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(120, 120, 120, 0.3);
  display: inline-block;
  position: relative;
  width: 98px;
  height: 158px;
  box-sizing: border-box;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-right: 41px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .team .t-slot.active {
  background-color: transparent;
  border: none;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .team .t-slot:nth-child(3n) {
  margin-right: 0;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .team .t-slot:nth-child(n+4) {
  margin-top: 30px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .team .t-slot:before {
  content: "";
  background-image: url(../../img/v2-lock-ic-2.png);
  width: 30px;
  height: 44px;
  position: absolute;
  top: 54px;
  left: 32px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .team .t-slot .specialization {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 98px;
  font-size: 14px;
  line-height: 24px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  background: linear-gradient(180deg, #8e7453, #ae916a, #8f7553, #e3c7a3 60%);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .team .t-slot .ava {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 98px;
  height: 111px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 0 4px #000;
  background: linear-gradient(0deg, #8f7554, #e1c5a2, #8f7554);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .team .t-slot .ava img {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 90px;
  height: 103px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .team .t-slot .stars {
  position: absolute;
  top: initial;
  left: 0;
  bottom: 0;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  width: 98px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px 0px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .team .t-slot .stars .star {
  width: 18px;
  height: 17px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .team .t-slot .pwr {
  position: absolute;
  height: 29px;
  width: 98px;
  left: 0;
  bottom: 0;
  font-size: 12px;
  line-height: 32px;
  color: #544746;
  background: linear-gradient(0deg, #fddd8e, #f4c658, #ffe198 60%);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .btn-close-x {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -6px;
  right: -6px;
  background: linear-gradient(30deg, #876b56, #aa9383, #dfceba);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0 7px #000;
  cursor: pointer;
  z-index: 999;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .btn-close-x:before {
  content: "✖";
  font-size: 28px;
  font-weight: bold;
  color: #600;
  line-height: 30px;
  text-shadow: 0 0 2px #fff;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .btn-close-x:after {
  content: "";
  width: 24px;
  height: 7px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .trophy-res-box-all {
  width: 370px;
  height: 45px;
  position: absolute;
  top: -42px;
  right: 36px;
  background-color: #9c8b7c;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .trophy-res-box-all .trophy-res-box {
  width: 170px;
  height: 36px;
  position: absolute;
  top: 4px;
  left: 10px;
  background: linear-gradient(0deg, #ffe199 0%, #f4c657 18%, #ffe199 60%, #f4c557 85%, #ffe199 100%);
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  box-shadow: inset 0 -2px 0 0 rgba(160, 79, 0, 0.55), 0 2px 4px 0 rgba(0, 0, 0, 0.35);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .trophy-res-box-all .trophy-res-box .trophy-value {
  width: 100px;
  height: 28px;
  position: absolute;
  top: 3px;
  left: 38px;
  background: linear-gradient(90deg, #f4bf87 0%, #d38632 50%, #92581a 100%);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 14px 0 rgba(255, 255, 255, 0.15);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .trophy-res-box-all .trophy-res-box .trophy-value-btn-add {
  width: 32px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 0 18px 18px 0;
  -moz-border-radius: 0 18px 18px 0;
  -ms-border-radius: 0 18px 18px 0;
  -o-border-radius: 0 18px 18px 0;
  border-radius: 0 18px 18px 0;
  cursor: pointer;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .trophy-res-box-all .trophy-res-box .trophy-value-btn-add:before {
  content: "";
  width: 6px;
  height: 22px;
  position: absolute;
  top: 7px;
  left: 12px;
  background-color: #3c3737;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .trophy-res-box-all .trophy-res-box .trophy-value-btn-add:after {
  content: "";
  width: 22px;
  height: 6px;
  position: absolute;
  top: 15px;
  left: 4px;
  background-color: #3c3737;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .trophy-res-box-all .trophy-res-box.gems:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: -2px;
  left: -2px;
  background-image: url(../../img/trophy-bonus-gems.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .trophy-res-box-all .trophy-res-box.mithril {
  left: 190px;
}
body .main .left-side .left-panel.wide .tab-panel-box.at-titans-main .trophy-res-box-all .trophy-res-box.mithril:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: -2px;
  left: -2px;
  background-image: url(../../img/trophy-bonus-gems.png);
  background-size: 100%;
  background-repeat: no-repeat;
}