@charset "UTF-8";
body .main .left-side {
  width: 620px;
  height: 555px;
  position: absolute;
  left: 5px;
  bottom: 5px;
}
body .main .left-side .tabs-all-box {
  width: 500px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}
body .main .left-side .tabs-all-box .tabs-all {
  width: 118px;
  height: 40px;
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 0 2px 0 0;
  cursor: pointer;
  background-color: #9c8b7c;
  -webkit-border-radius: 24px 24px 0 0;
  -moz-border-radius: 24px 24px 0 0;
  -ms-border-radius: 24px 24px 0 0;
  -o-border-radius: 24px 24px 0 0;
  border-radius: 24px 24px 0 0;
}
body .main .left-side .tabs-all-box .tabs-all:before {
  content: "";
  width: 110px;
  height: 36px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #544746;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.15);
}
body .main .left-side .tabs-all-box .tabs-all .tabs-name {
  width: 60px;
  height: 40px;
  position: absolute;
  right: 14px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 44px;
  text-align: center;
}
body .main .left-side .tabs-all-box .tabs-all .tabs-pic {
  width: 50px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 5px;
}
body .main .left-side .tabs-all-box .tabs-all .tabs-pic img {
  width: 50px;
}
body .main .left-side .tabs-all-box .tabs-all.selected:before {
  content: "";
  background-color: #9c8b7c;
}
body .main .left-side .left-panel {
  width: 620px;
  height: 515px;
  position: absolute;
  left: 0;
  top: 40px;
}
body .main .left-side .left-panel:before {
  content: "";
  width: 620px;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9c8b7c;
  z-index: 999;
}
body .main .left-side .left-panel.wide {
  width: 1106px;
}
body .main .left-side .left-panel.wide:before {
  content: "";
  width: 1102px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 {
  width: 1098px;
  height: 511px;
  position: absolute;
  top: 0;
  left: 0;
  background: #b7a597;
  border: solid 4px #9c8b7c;
  border-top: none;
  box-shadow: inset 0 0 7px #5f4f4e;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .tab-panel-box-title {
  width: 300px;
  height: 24px;
  position: absolute;
  top: 10px;
  left: 399px;
  background: linear-gradient(0deg, #ffe199 0%, #f4c657 18%, #ffe199 60%, #f4c557 85%, #ffe199 100%);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  color: #3c3737;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all {
  width: 310px;
  height: 460px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-top-btn-box-all {
  width: 310px;
  height: 30px;
  position: absolute;
  font-size: 0;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-top-btn-box-all .cw-main-chat-top-btn-box {
  width: 310px;
  height: 100%;
  position: absolute;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-top-btn-box-all .cw-main-chat-top-btn-box .color-btn {
  width: 67px;
  height: 26px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.25), 0 2px 4px 0 rgba(0, 0, 0, 0.55);
  margin: 0 5px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-top-btn-box-all .cw-main-chat-top-btn-box .color-btn .color-btn-text {
  top: 6px;
  font-size: 12px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-top-btn-box-all .cw-main-chat-top-btn-box .color-btn:active {
  box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.2), inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-top-btn-box-all .cw-main-chat-top-btn-box .color-btn:active .color-btn-text {
  top: 7px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-top-btn-box-all .color-btn.setup {
  width: 26px;
  height: 26px;
  left: 280px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-top-btn-box-all .color-btn.setup .color-btn-img {
  width: 26px;
  height: 26px;
  position: absolute;
  top: -2px;
  background-image: url(../../img/cw-ic-setup.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-top-btn-box-all .color-btn.setup:active .color-btn-img {
  top: -1px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box {
  width: 310px;
  height: 425px;
  position: absolute;
  bottom: 0;
  background-color: #d8bb96;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll {
  width: 300px;
  height: 415px;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 0;
  overflow: hidden;
  overflow-y: scroll;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll.no-scroll {
  overflow-y: hidden;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll::-webkit-scrollbar-track {
  background-color: #524544;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll::-webkit-scrollbar {
  width: 8px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #ffe199 0%, #f4c657 18%, #ffe199 60%, #f4c557 85%, #ffe199 100%);
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll .cw-main-chat {
  width: 280px;
  height: 110px;
  position: relative;
  display: inline-block;
  background-color: #d8bb96;
  margin: 4px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll .cw-main-chat .cw-girl-ava-box {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: linear-gradient(0deg, #fd644f, #f28e26);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll .cw-main-chat .cw-girl-ava-box .cw-girl-ava {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll .cw-main-chat .cw-girl-ava-box .cw-girl-ava img {
  width: 60px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll .cw-main-chat .cw-girl-ava-box .cw-girl-num {
  width: 30px;
  height: 20px;
  position: absolute;
  bottom: -2px;
  left: -2px;
  background-color: #544746;
  color: #d8bb96;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll .cw-main-chat .cw-chat-name,
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll .cw-main-chat .cw-chat-time {
  width: 190px;
  height: auto;
  position: absolute;
  top: 5px;
  left: 80px;
  color: #544746;
  font-size: 12px;
  font-weight: bold;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll .cw-main-chat .cw-chat-time {
  top: 20px;
  font-size: 10px;
  font-style: italic;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll .cw-main-chat .cw-chat-ballon-box {
  width: 190px;
  height: 70px;
  position: absolute;
  bottom: 5px;
  left: 80px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll .cw-main-chat .cw-chat-ballon-box:before {
  content: "";
  position: absolute;
  top: 14px;
  left: -8px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 8px solid #fff;
  border-bottom: 10px solid transparent;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll .cw-main-chat .cw-chat-ballon-box .cw-chat-ballon-text {
  width: 180px;
  height: auto;
  position: absolute;
  top: 8px;
  left: 5px;
  color: #544746;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll .cw-main-chat .cw-chat-ballon-box .color-btn {
  width: 120px;
  height: 30px;
  position: absolute;
  top: 32px;
  left: 35px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll .cw-main-chat .cw-chat-ballon-box .color-btn .color-btn-text {
  top: 5px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll .cw-main-chat .cw-chat-ballon-box:active .color-btn-text {
  top: 6px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-left-box-all .cw-main-chat-box .cw-main-chat-box-scroll .cw-main-chat.bg {
  background-color: #cbaa81;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-chat-left-btn-box-all {
  width: 760px;
  height: 30px;
  left: 329px;
  position: absolute;
  font-size: 0;
  top: 41px;
  z-index: 1;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-chat-left-btn-box-all .cw-main-chat-left-btn-box {
  width: 100%;
  height: 100%;
  position: absolute;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-chat-left-btn-box-all .cw-main-chat-left-btn-box .cw-search-box {
  display: inline-block;
  float: right;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-chat-left-btn-box-all .cw-main-chat-left-btn-box .cw-search-box .cw-search-clan {
  border: none;
  height: 19px;
  padding-bottom: 6px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-chat-left-btn-box-all .cw-main-chat-left-btn-box .color-btn {
  width: 93px;
  height: 26px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.25), 0 2px 4px 0 rgba(0, 0, 0, 0.55);
  margin: 0 5px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-chat-left-btn-box-all .cw-main-chat-left-btn-box .color-btn .color-btn-text {
  top: 6px;
  font-size: 12px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-chat-left-btn-box-all .cw-main-chat-left-btn-box .color-btn:active {
  box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.2), inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-chat-left-btn-box-all .cw-main-chat-left-btn-box .color-btn:active .color-btn-text {
  top: 7px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all {
  width: 760px;
  height: 425px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #d8bb96;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box {
  width: 740px;
  height: 440px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all {
  width: 720px;
  height: 350px;
  position: absolute;
  top: 35px;
  left: 10px;
  background-color: #cbaa81;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all.in-clan {
  height: 400px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll {
  width: 710px;
  height: 330px;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0;
  overflow: hidden;
  overflow-y: scroll;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll.in-clan {
  height: 380px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll.no-scroll {
  overflow-y: hidden;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll::-webkit-scrollbar-track {
  background-color: #524544;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll::-webkit-scrollbar {
  width: 8px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #ffe199 0%, #f4c657 18%, #ffe199 60%, #f4c557 85%, #ffe199 100%);
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box {
  width: 550px;
  height: 80px;
  position: relative;
  display: inline-block;
  background-color: #f3d6b0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  margin: 4px 0;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-rait-box {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 5px;
  left: 5px;
  border-right: 1px solid #cbaa81;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-rait-box .cw-clan-rait {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 7px;
  left: 7px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-rait-box .cw-clan-rait .cw-clan-rait-num {
  width: 50px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-logo-bg,
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-logo {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 5px;
  left: 92px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-logo-bg img,
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-logo img {
  width: 70px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-logo-bg .cw-clan-logo,
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-logo .cw-clan-logo {
  top: 0;
  left: 0;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-name-box {
  width: 200px;
  height: 70px;
  position: absolute;
  top: 5px;
  left: 180px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-name-box .cw-clan-name {
  width: auto;
  height: auto;
  position: absolute;
  top: 10px;
  color: #544746;
  font-size: 18px;
  font-weight: bold;
  max-height: 24px;
  overflow: hidden;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-name-box .cw-clan-name .cw-your-clan {
  color: #544746;
  font-size: 12px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-name-box .cw-clan-name-pic {
  width: 22px;
  height: 22px;
  position: absolute;
  bottom: 10px;
  background-image: url(../../img/v2-ic-people.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-name-box .cw-clan-name-pic .cw-clan-name-pic-num {
  width: auto;
  height: auto;
  position: absolute;
  left: 30px;
  color: #544746;
  font-size: 16px;
  font-weight: bold;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-lvl-box {
  width: 110px;
  height: 70px;
  position: absolute;
  top: 5px;
  right: 0;
  border-left: 1px solid #cbaa81;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-lvl-box .cw-clan-lvl {
  width: 100px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 5px;
  color: #544746;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-lvl-box .cw-clan-might {
  text-align: center;
  width: 70px;
  height: auto;
  position: absolute;
  top: 40px;
  left: 20px;
  color: #544746;
  font-size: 14px;
  font-weight: bold;
  background-color: #544746;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  color: #d8bb96;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-accept-box {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 120px;
  top: 15px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-accept-box img {
  width: 100%;
  height: 100%;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-join-btn-box {
  width: 130px;
  height: 80px;
  position: absolute;
  top: 0;
  right: -140px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-join-btn-box .color-btn {
  width: 120px;
  left: 5px;
  top: 12px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-join-btn-box .color-btn .color-btn-text {
  top: 16px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-join-btn-box .color-btn:active .color-btn-text {
  top: 17px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .color-btn.greate {
  width: 180px;
  height: 50px;
  position: absolute;
  top: 390px;
  left: 280px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .color-btn.greate .color-btn-text {
  font-size: 14px;
  top: 8px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .color-btn.greate .f-diamond:before {
  content: "";
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  background-image: url(../../img/ic-diamond.png);
  background-size: 100%;
  margin-right: 4px;
  margin-left: 4px;
  vertical-align: middle;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .cw-main-right-box-all .cw-main-right-c-box .color-btn.greate:active .color-btn-text {
  top: 9px;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .btn-close-x {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -6px;
  right: -6px;
  background: linear-gradient(30deg, #876b56, #aa9383, #dfceba);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0 7px #000;
  cursor: pointer;
  z-index: 999;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .btn-close-x:before {
  content: "✖";
  font-size: 28px;
  font-weight: bold;
  color: #600;
  line-height: 30px;
  text-shadow: 0 0 2px #fff;
}
body .main .left-side .left-panel.wide .tab-panel-box.cw-main2 .btn-close-x:after {
  content: "";
  width: 24px;
  height: 7px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.color-btn {
  width: 90px;
  height: 50px;
  position: relative;
  display: inline-block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: linear-gradient(0deg, #e9b039 0%, #fffe9a 100%);
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.25), 0 2px 4px 0 rgba(0, 0, 0, 0.55);
  cursor: pointer;
}
.color-btn .color-btn-text {
  top: 10px;
  position: relative;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}
.color-btn:active {
  box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.2), inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
.color-btn:active .color-btn-text {
  top: 12px;
}
.color-btn.blue {
  background: linear-gradient(0deg, #62a3e5 0%, #b4d7fa 100%);
}
.color-btn.green {
  background: linear-gradient(0deg, #7cbc30 0%, #baf279 100%);
}
.color-btn.orage {
  background: linear-gradient(0deg, #d67503 0%, #fdd2a0 100%);
}

.popup-layer .m-popup.fortuna-main-round-rating.cw-clans {
  width: 800px;
  height: 580px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .color-btn.alliance {
  width: 180px;
  top: 505px;
  height: 50px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-clan-btn-box {
  width: 720px;
  height: 40px;
  position: absolute;
  top: 75px;
  left: 40px;
  font-size: 0;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-clan-btn-box .color-btn {
  width: 120px;
  height: 40px;
  top: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: linear-gradient(0deg, #65779c 0%, #9caac8 100%);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.25), 0 2px 4px 0 rgba(0, 0, 0, 0.55);
  margin: 0 5px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-clan-btn-box .color-btn .color-btn-text {
  top: 6px;
  font-size: 12px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-clan-btn-box .color-btn:active {
  box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.2), inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-clan-btn-box .color-btn:active .color-btn-text {
  top: 7px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box {
  width: 780px;
  height: 425px;
  position: absolute;
  top: 120px;
  left: 10px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all {
  width: 760px;
  height: 405px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #cbaa81;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all.in-clan {
  height: 400px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll {
  width: 745px;
  height: 385px;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0;
  overflow: hidden;
  overflow-y: scroll;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll.in-clan {
  height: 380px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll.no-scroll {
  overflow-y: hidden;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll::-webkit-scrollbar-track {
  background-color: #524544;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll::-webkit-scrollbar {
  width: 8px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #ffe199 0%, #f4c657 18%, #ffe199 60%, #f4c557 85%, #ffe199 100%);
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box {
  width: 550px;
  height: 80px;
  position: relative;
  left: 20px;
  background-color: #f3d6b0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  margin: 4px 0;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-rait-box {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 5px;
  left: 5px;
  border-right: 1px solid #cbaa81;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-rait-box .cw-clan-rait {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 7px;
  left: 7px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-rait-box .cw-clan-rait .cw-clan-rait-num {
  width: 50px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-logo-bg,
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-logo {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 5px;
  left: 92px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-logo-bg img,
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-logo img {
  width: 70px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-logo-bg .cw-clan-logo,
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-logo .cw-clan-logo {
  top: 0;
  left: 0;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box.alliance .cw-clan-rait-box {
  position: relative;
  float: left;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box.alliance .cw-clan-rait-box .cw-clan-rait {
  width: 70px;
  height: 70px;
  top: 0;
  left: 0;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box.alliance .cw-clan-rait-box .cw-clan-rait img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box.alliance .cw-clan-logo-bg,
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box.alliance .cw-clan-logo {
  width: 55px;
  height: 55px;
  top: 5px;
  left: 10px;
  float: left;
  position: relative;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box.alliance .cw-clan-logo-bg img,
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box.alliance .cw-clan-logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 8px;
  left: 0;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box.alliance .cw-clan-logo-bg .cw-clan-logo,
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box.alliance .cw-clan-logo .cw-clan-logo {
  top: 0;
  left: 0;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box.alliance .cw-clan-name-box {
  position: relative;
  left: 20px;
  float: left;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-name-box {
  width: 200px;
  height: 70px;
  position: absolute;
  top: 5px;
  left: 180px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-name-box .cw-clan-name {
  width: auto;
  height: auto;
  position: absolute;
  top: 10px;
  color: #544746;
  font-size: 18px;
  font-weight: bold;
  max-height: 24px;
  overflow: hidden;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-name-box .cw-clan-name .cw-your-clan {
  color: #544746;
  font-size: 12px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-name-box .cw-clan-name-pic {
  width: 22px;
  height: 22px;
  position: absolute;
  bottom: 10px;
  background-image: url(../../img/v2-ic-people.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-name-box .cw-clan-name-pic .cw-clan-name-pic-num {
  width: auto;
  height: auto;
  position: absolute;
  left: 30px;
  color: #544746;
  font-size: 16px;
  font-weight: bold;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-lvl-box {
  width: 110px;
  height: 70px;
  position: absolute;
  top: 5px;
  right: 0;
  border-left: 1px solid #cbaa81;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-lvl-box .cw-clan-lvl {
  width: 100px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 5px;
  color: #544746;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-lvl-box .cw-clan-might {
  text-align: center;
  width: 70px;
  height: auto;
  position: absolute;
  top: 40px;
  left: 20px;
  color: #544746;
  font-size: 14px;
  font-weight: bold;
  background-color: #544746;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  color: #d8bb96;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-accept-box {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 120px;
  top: 15px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-accept-box img {
  width: 100%;
  height: 100%;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-join-btn-box {
  width: 130px;
  height: 80px;
  position: absolute;
  top: 0;
  right: -140px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-join-btn-box .color-btn {
  width: 120px;
  left: 5px;
  top: 12px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-join-btn-box .color-btn .color-btn-text {
  top: 16px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .cw-main-right-c-box-scroll-all .cw-main-right-c-box-scroll .cw-clan-box .cw-clan-join-btn-box .color-btn:active .color-btn-text {
  top: 17px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .color-btn.greate {
  width: 180px;
  height: 50px;
  position: absolute;
  top: 390px;
  left: 280px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .color-btn.greate .color-btn-text {
  font-size: 14px;
  top: 8px;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .color-btn.greate .f-diamond:before {
  content: "";
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  background-image: url(../../img/ic-diamond.png);
  background-size: 100%;
  margin-right: 4px;
  margin-left: 4px;
  vertical-align: middle;
}
.popup-layer .m-popup.fortuna-main-round-rating.cw-clans .cw-main-right-c-box .color-btn.greate:active .color-btn-text {
  top: 9px;
}