
.likeBody .main .left-side {
  width: 620px;
  height: 555px;
  position: absolute;
  left: 5px;
  bottom: 5px;
}
.likeBody .main .left-side .tabs-all-box {
  width: 500px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}
.likeBody .main .left-side .tabs-all-box .tabs-all {
  width: 118px;
  height: 40px;
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 0 2px 0 0;
  cursor: pointer;
  background-color: #9c8b7c;
  -webkit-border-radius: 24px 24px 0 0;
  -moz-border-radius: 24px 24px 0 0;
  -ms-border-radius: 24px 24px 0 0;
  -o-border-radius: 24px 24px 0 0;
  border-radius: 24px 24px 0 0;
}
.likeBody .main .left-side .tabs-all-box .tabs-all:before {
  content: "";
  width: 110px;
  height: 36px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #544746;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.15);
}
.likeBody .main .left-side .tabs-all-box .tabs-all .tabs-name {
  width: 60px;
  height: 40px;
  position: absolute;
  right: 14px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 44px;
  text-align: center;
}
.likeBody .main .left-side .tabs-all-box .tabs-all .tabs-pic {
  width: 50px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.likeBody .main .left-side .tabs-all-box .tabs-all .tabs-pic img {
  width: 50px;
}
.likeBody .main .left-side .tabs-all-box .tabs-all.selected:before {
  content: "";
  background-color: #9c8b7c;
}
.likeBody .main .left-side .left-panel {
  width: 620px;
  height: 515px;
  position: absolute;
  left: 0;
  top: 40px;
}
.likeBody .main .left-side .left-panel:before {
  content: "";
  width: 620px;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9c8b7c;
  z-index: 999;
}
.likeBody .main .left-side .left-panel.wide {
  width: 1106px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest {
  width: 1098px;
  height: 511px;
  position: absolute;
  top: 0;
  left: 0;
  background: #b7a597;
  border: solid 4px #9c8b7c;
  border-top: none;
  box-shadow: inset 0 0 7px #5f4f4e;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .tab-panel-box-title {
  width: 300px;
  height: 24px;
  position: absolute;
  top: 10px;
  left: 399px;
  background: linear-gradient(0deg, #ffe199 0%, #f4c657 18%, #ffe199 60%, #f4c557 85%, #ffe199 100%);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  color: #3c3737;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box {
  width: 1078px;
  height: 462px;
  position: absolute;
  top: 39px;
  left: 10px;
  background-image: url("../../img/trophy-quest-map-bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all {
  width: 534px;
  height: 442px;
  position: absolute;
  top: 10px;
  left: 5px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all {
  width: 400px;
  height: 130px;
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 0;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box {
  width: 90px;
  height: 130px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background-color: rgba(255, 233, 204, 0.5);
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-quest-box-name,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-quest-box-name {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #705d4e;
  display: table;
  border-radius: 3px 3px 0 0;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-quest-box-name .map-quest-box-name-text,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-quest-box-name .map-quest-box-name-text {
  width: 100%;
  height: 100%;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s {
  width: 90px;
  height: 64px;
  position: absolute;
  top: 35px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s .s-pic-s1a,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s .s-pic-s1b,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s .s-pic-s1a,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s .s-pic-s1b {
  width: 90px;
  height: 64px;
  position: absolute;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s .s-pic-s1a img,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s .s-pic-s1b img,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s .s-pic-s1a img,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s .s-pic-s1b img {
  width: 90px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s .s-pic-3pic1,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s .s-pic-3pic2,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s .s-pic-3pic1,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s .s-pic-3pic2 {
  width: 90px;
  height: 64px;
  position: absolute;
  top: -15px;
  display: none;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s .s-pic-3pic1 img,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s .s-pic-3pic2 img,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s .s-pic-3pic1 img,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s .s-pic-3pic2 img {
  width: 90px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s .s-shop,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s .s-shop {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 20px;
  display: none;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s .s-shop img,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s .s-shop img {
  width: 50px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s.pic1,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s.pic1 {
  top: 42px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s.pic1 .s-pic-3pic1,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s.pic1 .s-pic-3pic1 {
  display: block;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s.pic2,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s.pic2 {
  top: 42px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s.pic2 .s-pic-3pic2,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s.pic2 .s-pic-3pic2 {
  display: block;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s.shop .s-shop,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s.shop .s-shop {
  display: block;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s.active .s-active,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s.active .s-active {
  display: block;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-quest-prgbar-all,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-quest-prgbar-all {
  width: 90px;
  height: 26px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #3b302f 0%, #584a49 100%);
  border-radius: 0 0 3px 3px;
  overflow: hidden;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-quest-prgbar-all .map-quest-prgbar,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-quest-prgbar-all .map-quest-prgbar {
  width: 85%;
  height: 26px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(180deg, #3fbae7 0%, #007aa7 50%, #3fbae7 100%);
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-quest-prgbar-all .map-quest-prgbar-text,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-quest-prgbar-all .map-quest-prgbar-text {
  width: 90px;
  height: 26px;
  position: relative;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  line-height: 26px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  text-transform: uppercase;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .s-claim2,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .s-claim2 {
  position: absolute;
  bottom: -7px;
  left: 0;
  display: none;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .s-check,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .s-lock,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .s-check,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .s-lock {
  width: 90px;
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(185, 164, 137, 0.4);
  background-image: url("../../img/darkworld-glow-cards.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
  border-radius: 3px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .s-check:before,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .s-lock:before,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .s-check:before,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .s-lock:before {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  top: 35px;
  left: 15px;
  background-image: url("../../img/paycheck.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .s-lock,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .s-lock {
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .s-lock:before,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .s-lock:before {
  content: "";
  width: 40px;
  left: 25px;
  background-image: url("../../img/tower-lock.png");
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box.check .s-check,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box.check .s-check {
  display: block;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box.lock .s-lock,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box.lock .s-lock {
  display: block;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box.claim .s-claim2,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box.claim .s-claim2 {
  display: block;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s-line,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s-line {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 60px;
  left: 90px;
  background-color: #9f0000;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all .map-quest-box .map-s-line.green,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s-line.green {
  background-color: #009f25;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all.two,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all.two {
  top: 156px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-left-all .map-quest-box-all.three,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all.three {
  top: 302px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all {
  width: 534px;
  height: 442px;
  position: absolute;
  top: 10px;
  left: auto;
  right: 5px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all {
  left: auto;
  right: 5px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box {
  margin-left: 10px;
  margin-right: auto;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .map-box-right-all .map-quest-box-all .map-quest-box .map-s-line {
  left: -10px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box {
  width: 258px;
  height: 302px;
  position: absolute;
  top: 80px;
  left: 410px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line1,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line2,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line3,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line4,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line5,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line6 {
  width: 10px;
  height: 151px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9f0000;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line1.green,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line2.green,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line3.green,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line4.green,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line5.green,
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line6.green {
  background-color: #009f25;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line2 {
  top: 151px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line3 {
  left: 248px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line4 {
  top: 151px;
  left: 248px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line5 {
  width: 80px;
  height: 10px;
  top: 146px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-map-line-all-box .s-map-line6 {
  width: 80px;
  height: 10px;
  top: 146px;
  left: 168px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-girl-reward-box {
  width: 220px;
  height: 230px;
  position: absolute;
  top: 140px;
  left: 429px;
  background: url("../../img/raidboss-girl-reward-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-girl-reward-box .hero-avatar-box {
  width: 98px;
  height: 111px;
  position: absolute;
  top: 20px;
  left: 62px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: linear-gradient(180deg, #8e7453 0%, #e3c7a3 50%, #8f7553 70%, #ae916a 85%, #8f7553 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-girl-reward-box .hero-avatar-box .hero-avatar {
  width: 90px;
  height: 103px;
  position: absolute;
  top: 4px;
  left: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-girl-reward-box .color-btn {
  width: 180px;
  height: 50px;
  top: 170px;
  left: 20px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-girl-reward-box .color-btn .color-btn-text {
  top: 12px;
  font-size: 16px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .map-box .s-girl-reward-box .color-btn:active .color-btn-text {
  top: 13px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .trophy-res-box-all {
  width: 370px;
  height: 45px;
  position: absolute;
  top: -42px;
  right: 36px;
  background-color: #9c8b7c;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .trophy-res-box-all .trophy-res-box {
  width: 170px;
  height: 36px;
  position: absolute;
  top: 4px;
  left: 10px;
  background: linear-gradient(0deg, #ffe199 0%, #f4c657 18%, #ffe199 60%, #f4c557 85%, #ffe199 100%);
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  box-shadow: inset 0 -2px 0 0 rgba(160, 79, 0, 0.55), 0 2px 4px 0 rgba(0, 0, 0, 0.35);
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .trophy-res-box-all .trophy-res-box .trophy-value {
  width: 100px;
  height: 28px;
  position: absolute;
  top: 3px;
  left: 38px;
  background: linear-gradient(90deg, #f4bf87 0%, #d38632 50%, #92581a 100%);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 14px 0 rgba(255, 255, 255, 0.15);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .trophy-res-box-all .trophy-res-box .trophy-value-btn-add {
  width: 32px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 0 18px 18px 0;
  -moz-border-radius: 0 18px 18px 0;
  -ms-border-radius: 0 18px 18px 0;
  -o-border-radius: 0 18px 18px 0;
  border-radius: 0 18px 18px 0;
  cursor: pointer;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .trophy-res-box-all .trophy-res-box .trophy-value-btn-add:before {
  content: "";
  width: 6px;
  height: 22px;
  position: absolute;
  top: 7px;
  left: 12px;
  background-color: #3c3737;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .trophy-res-box-all .trophy-res-box .trophy-value-btn-add:after {
  content: "";
  width: 22px;
  height: 6px;
  position: absolute;
  top: 15px;
  left: 4px;
  background-color: #3c3737;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .trophy-res-box-all .trophy-res-box.gems:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: -2px;
  left: -2px;
  background-image: url("../../img/trophy-bonus-gems.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .trophy-res-box-all .trophy-res-box.mithril {
  left: 190px;
}
.likeBody .main .left-side .left-panel.wide .tab-panel-box.tower-quest .trophy-res-box-all .trophy-res-box.mithril:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: -2px;
  left: -2px;
  background-image: url("../../img/trophy-bonus-gems.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.maps-hint {
  width: 300px;
  height: 150px;
  position: absolute;
  top: 200px;
  left: 350px;
  z-index: 9999;
  background: linear-gradient(0deg, #7d7f81 0%, #d5d8da 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.75), 0 2px 6px rgba(0, 0, 0, 0.75);
}
.maps-hint.short {
  height: 100px;
}
.maps-hint .hint-pic-box-all {
  width: 60px;
  height: 80px;
  position: absolute;
  padding: 10px;
}
.maps-hint .hint-pic-box-all .pic-box-name {
  width: 100%;
  height: 18px;
  position: relative;
  text-align: center;
  color: rgb(65, 46, 46);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.maps-hint .hint-pic-box-all .hint-pic {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 26px;
  left: 10px;
}
.maps-hint .hint-pic-box-all .hint-pic img {
  width: 60px;
  height: 60px;
}
.maps-hint .hint-pic-box-all .hint-num {
  width: 100%;
  height: 26px;
  position: absolute;
  top: 66px;
  left: 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75), 0 1px 6px rgba(0, 0, 0, 0.85), 0 1px 8px rgba(0, 0, 0, 0.55);
}
.maps-hint .hint-text-box {
  width: 210px;
  height: 80px;
  position: absolute;
  top: 0px;
  left: 70px;
  padding: 10px;
  display: table;
}
.maps-hint .hint-text-box .hint-text {
  text-align: center;
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  color: #3f2c2c;
  text-shadow: 0 0 6px #fff, 0 0 10px #fff;
}
.maps-hint .s-progressbar-box-all {
  width: 280px;
  height: 38px;
  position: absolute;
  top: 100px;
  left: 10px;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}
.maps-hint .s-progressbar-box-all:before {
  content: "";
  width: 276px;
  height: 34px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #765345;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.35);
}
.maps-hint .s-progressbar-box-all .s-progressbar-box {
  width: 274px;
  height: 32px;
  position: absolute;
  top: 3px;
  left: 3px;
}
.maps-hint .s-progressbar-box-all .s-progressbar-box .s-progressbar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #e29300 0%, #ffe454 100%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  transition: width 0.5s ease;
}
.maps-hint .s-progressbar-box-all .s-progressbar-box .s-progress-num {
  width: 100%;
  height: 100%;
  position: relative;
  color: #3f2c2c;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  text-shadow: 0 0 6px #fff, 0 0 8px #fff;
}
.maps-hint.noprogress {
  height: 100px;
}
.maps-hint.noprogress .s-progressbar-box-all {
  display: none;
}
.maps-hint.noprogress .hint-text {
  text-align: center;
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
}