.popup-layer .m-popup.tower-relics-pop {
  width: 660px;
  height: 505px;
  left: 270px;
  top: 66px;
}
.popup-layer .m-popup.tower-relics-pop .title {
  color: #572f14;
}
.popup-layer .m-popup.tower-relics-pop .color-box {
  box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #645143 0%, #8e8177 100%);
}
.popup-layer .m-popup.tower-relics-pop .color-box:before {
  display: none;
}
.popup-layer .m-popup.tower-relics-pop .color-box:after {
  display: none;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all {
  width: 600px;
  height: 330px;
  position: absolute;
  top: 86px;
  margin-left: 30px;
  font-size: 0px;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .cardreward-box {
  width: 180px;
  height: 310px;
  position: relative;
  display: inline-block;
  margin: 0 10px 0 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #53443a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
  transition: ease-in-out 0.04s;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .cardreward-box:hover {
  background-color: #5f4e42;
  top: -1px;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .cardreward-box:hover .card-box-back {
  filter: brightness(1.06);
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .cardreward-box .card-box-back {
  width: 156px;
  height: 230px;
  position: absolute;
  top: 10px;
  left: 12px;
  background-image: url(../../img/v2-rb-card-bg.jpg);
  background-size: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .cardreward-box .card-box-back .card-vis {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 180px;
  font-weight: bold;
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .cardreward-box .card-box-back .reward-pic {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 30px;
  left: 28px;
  display: none;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .cardreward-box .card-box-back .reward-pic img {
  width: 100px;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .cardreward-box .card-box-back .reward-pic:after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../img/paycheck.png);
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0;
  transition: ease-in-out 0.1s;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .cardreward-box .card-box-back .tower-relics-text-box {
  width: 148px;
  height: 80px;
  position: absolute;
  bottom: 4px;
  left: 4px;
  display: table;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  visibility: hidden;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(255, 255, 255, 0.6);
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .cardreward-box .card-box-back .tower-relics-text-box .tower-relics-text {
  position: relative;
  width: calc(100% - 12px);
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .cardreward-box .card-box-back .rb-card-light {
  width: 156px;
  height: 163px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../img/rb-card-light.png);
  background-size: 100%;
  display: none;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .cardreward-box .color-btn.purple {
  width: 156px;
  height: 50px;
  position: absolute;
  top: 250px;
  left: 12px;
  animation: pulse 1s infinite;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .cardreward-box .color-btn.purple .color-btn-text {
  font-size: 14px;
  top: 10px;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .cardreward-box .color-btn.purple .f-diamond:before {
  content: "";
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  background-image: url(../../img/ic-diamond.png);
  background-size: 100%;
  margin-right: 4px;
  margin-left: 4px;
  vertical-align: middle;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .cardreward-box .color-btn.purple:active {
  animation: none;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .cardreward-box .color-btn.purple:active .color-btn-text {
  top: 11px;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all .color-btn .color-btn-text {
  flex-direction: row;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box {
  transition: ease-in-out 0.04s;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box .color-btn.purple {
  transition: ease-in-out 0.1s;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.gold .card-box-back {
  background-image: url(../../img/v2-rb-card-bg-gold.jpg);
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.gold .card-box-back .card-vis {
  display: none;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.gold .card-box-back .reward-pic {
  display: block;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.gold .card-box-back .tower-relics-text-box {
  visibility: visible;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.gold .card-box-back .rb-card-light {
  display: block;
  -webkit-animation: light 1s infinite;
  -moz-animation: light 1s infinite;
  -ms-animation: light 1s infinite;
  -o-animation: light 1s infinite;
  animation: light 1s infinite;
}
@keyframes light {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
  50% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.silver .card-box-back {
  background-image: url(../../img/v2-rb-card-bg-silver.jpg);
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.silver .card-box-back .card-vis {
  display: none;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.silver .card-box-back .reward-pic {
  display: block;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.silver .card-box-back .tower-relics-text-box {
  visibility: visible;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.silver .card-box-back .rb-card-light {
  display: block;
  -webkit-animation: light 1s infinite;
  -moz-animation: light 1s infinite;
  -ms-animation: light 1s infinite;
  -o-animation: light 1s infinite;
  animation: light 1s infinite;
}
@keyframes light {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
  50% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.bronze .card-box-back {
  background-image: url(../../img/v2-rb-card-bg-bronze.jpg);
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.bronze .card-box-back .card-vis {
  display: none;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.bronze .card-box-back .reward-pic {
  display: block;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.bronze .card-box-back .tower-relics-text-box {
  visibility: visible;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.bronze .card-box-back .rb-card-light {
  display: block;
  -webkit-animation: light 1s infinite;
  -moz-animation: light 1s infinite;
  -ms-animation: light 1s infinite;
  -o-animation: light 1s infinite;
  animation: light 1s infinite;
}
@keyframes light {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
  50% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.collected {
  background-color: #74a837;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 4px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  transition: ease-in-out 0.1s;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.collected .card-box-back .reward-pic:after {
  background-size: 84px;
  opacity: 1;
  transition: ease-in-out 0.1s;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.collected .color-btn.purple {
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.25), 0 2px 4px 0 rgba(0, 0, 0, 0.55);
  background: linear-gradient(0deg, #e9b039 0%, #fffe9a 100%);
  animation: none;
  transition: ease-in-out 0.1s;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-box-all.choose .cardreward-box.collected .color-btn.purple .color-btn-text {
  top: 15px;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-text-box {
  width: 584px;
  height: 50px;
  position: absolute;
  top: 420px;
  left: 38px;
  background-color: #53443a;
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.25), inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.popup-layer .m-popup.tower-relics-pop .cardreward-text-box .cardreward-text {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 50px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}