.popup-layer .m-popup.cw-offers-pop {
  width: 500px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.popup-layer .m-popup.cw-offers-pop:before {
  content: "";
  background: linear-gradient(325deg, #c2aba0 0%, #b7a497 26%, #c2aba0 26%, #c2aba0 48%, #b7a497 48%, #b7a497 60%, #c2aba0 60%, #c2aba0 70%, #b7a497 70%, #c2aba0 100%);
}
.popup-layer .m-popup.cw-offers-pop .title {
  color: #3c3934;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.popup-layer .m-popup.cw-offers-pop .content {
  margin: 70px 20px 20px 20px;
}
.popup-layer .m-popup.cw-offers-pop .content:before {
  content: "";
  position: absolute;
  bottom: -18px;
  left: -14px;
  width: 164px;
  height: 80px;
  background: url(../../img/monster0028.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px -38px;
  filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.6));
}
.popup-layer .m-popup.cw-offers-pop .content .offer-text {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  line-height: 22px;
  text-shadow: 0 1px 2px rgb(0, 0, 0), 0 1px 15px rgba(0, 0, 0, 0.4), 0 1px 20px rgba(0, 0, 0, 0.4);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  padding: 8px 0;
  position: relative;
  top: 2px;
}
.popup-layer .m-popup.cw-offers-pop .content .offer-text:before, .popup-layer .m-popup.cw-offers-pop .content .offer-text:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}
.popup-layer .m-popup.cw-offers-pop .content .offer-text:before {
  top: 0;
}
.popup-layer .m-popup.cw-offers-pop .content .offer-text:after {
  bottom: 0;
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 20px 10px 0 10px;
  padding-bottom: 18px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(255, 255, 255, 0.15);
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .offer-title {
  height: 50px;
  min-width: 102px;
  background-image: url(../../img/noobpackback-line.png), url(../../img/noobpackback-line.png);
  max-width: 304px;
  position: relative;
  display: inline-block;
  margin-top: -6px;
  background-blend-mode: color-dodge;
  filter: hue-rotate(220deg);
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .offer-title:before {
  content: "";
  width: 38px;
  height: 50px;
  position: absolute;
  right: -38px;
  display: block;
  background-blend-mode: color-dodge;
  background-image: url(../../img/noobpackback-l.png), url(../../img/noobpackback-l.png);
  transform: scale(-1, 1);
  top: 0px;
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .offer-title .title-text {
  font-size: 17px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 1px #fff, 0 1px 10px #ffc;
  position: relative;
  height: 33px;
  display: inline-block;
  z-index: 10;
  line-height: 34px;
  text-transform: uppercase;
  background: linear-gradient(90deg, transparent, rgba(3, 235, 245, 0.7), rgba(3, 235, 245, 0.7), transparent);
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .offer-title:after {
  content: "";
  width: 38px;
  height: 50px;
  position: absolute;
  left: -38px;
  display: block;
  background-blend-mode: color-dodge;
  background-image: url(../../img/noobpackback-l.png), url(../../img/noobpackback-l.png);
  top: 0px;
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -4px;
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box {
  width: 90px;
  height: 90px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2px 0 0 -2px;
  background-size: 100%;
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box .box-title {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  width: 100%;
  top: 70px;
  border-radius: 6px;
  background: linear-gradient(90deg, #ebac00 0%, #c79902 6%, #ffd900 50%, #c79902 94%, #ebac00 100%);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.45), 0 0 0 2px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.4);
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box:hover:before {
  filter: brightness(110%);
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box.di:before {
  background: -4px 0px;
  background-size: 110%;
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box.diamond1:before {
  background-image: url(../../img/diamond1.png);
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box.diamond2:before {
  background-image: url(../../img/diamond2.png);
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box.diamond3:before {
  background-image: url(../../img/diamond3.png);
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box.diamond4:before {
  background-image: url(../../img/diamond4.png);
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box.diamond5:before {
  background-image: url(../../img/diamond5.png);
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box.diamond6:before {
  background-image: url(../../img/diamond6.png);
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box.chest1:before {
  background-image: url(../../img/change-sun1.png);
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box.chest2:before {
  background-image: url(../../img/change-sun2.png);
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box.extra {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(255, 255, 255, 0.15);
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box.extra:after {
  content: "+";
  position: absolute;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 1;
  left: -38px;
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box.extra .sale-box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -40px;
  right: -46px;
  background-image: url(../../img/zvezda.png), url(../../img/zvezda.png);
  background-size: 100%;
  display: table;
  transform: scale(0.62) rotate(26deg);
  background-blend-mode: color-dodge;
  filter: hue-rotate(4deg);
}
.popup-layer .m-popup.cw-offers-pop .content .offer-wrap .gainings-wrap .gainings-box.extra .sale-box .sale-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  text-shadow: 0 0 10px #541800, 0 1px 1px #000;
  text-transform: uppercase;
}
.popup-layer .m-popup.cw-offers-pop .content .profit {
  position: absolute;
  text-transform: uppercase;
  bottom: 8px;
  right: 11px;
  font-size: 15px;
  color: #fff;
  text-shadow: 0 1px 6px #000, 0 1px 1px #000;
  font-weight: bold;
  padding: 6px 10px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.8)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
}
.popup-layer .m-popup.cw-offers-pop .content .profit:before {
  content: "";
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg, #bbf3e0, #7adbba 6%, #3f937f 94%, #6cad96);
  border-radius: 1px;
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  left: -6px;
}
.popup-layer .m-popup.cw-offers-pop .content .profit:after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(#bbf3e0, #7adbba 6%, #3f937f 94%, #6cad96);
  border-radius: 8px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.popup-layer .m-popup.cw-offers-pop .content .profit .price {
  z-index: 1;
  position: relative;
}
.popup-layer .m-popup.cw-offers-pop .content .color-btn.green {
  display: block;
  width: 168px;
  height: 46px;
  margin: 16px auto 28px auto;
}
.popup-layer .m-popup.cw-offers-pop .content .color-btn.green:hover {
  background: linear-gradient(0deg, #95e03a 0%, #c1ee8d 100%);
}
.popup-layer .m-popup.cw-offers-pop .content .color-btn.green .color-btn-text {
  line-height: 20px;
  font-size: 20px;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(0, 0, 0, 0.8), 0 1px 6px #5e8e25;
  display: inline-block;
  line-height: 46px;
}