.popup-layer .m-popup.fw-agitpop {
  width: 980px;
  height: 550px;
  left: 110px;
  top: 45px;
}
.popup-layer .m-popup.fw-agitpop .title {
  color: #572f14;
}
.popup-layer .m-popup.fw-agitpop .color-box {
  background: linear-gradient(0deg, #645143 0%, #8e8177 100%);
}
.popup-layer .m-popup.fw-agitpop .color-box:before {
  display: none;
}
.popup-layer .m-popup.fw-agitpop .color-box:after {
  display: none;
}
.popup-layer .m-popup.fw-agitpop .fw-agit-girl {
  width: 303px;
  height: 462px;
  position: absolute;
  bottom: 20px;
  left: 0;
  background-image: url("../../img/break-girl20.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.popup-layer .m-popup.fw-agitpop .fw-agitpop-content-box {
  width: 680px;
  height: 440px;
  position: absolute;
  top: 80px;
  right: 30px;
}
.popup-layer .m-popup.fw-agitpop .fw-agitpop-content-box .fw-agitpop-map {
  width: 680px;
  height: 260px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../img/v2-fw-map-bg-agit.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.popup-layer .m-popup.fw-agitpop .fw-agitpop-content-box .fw-agitpop-reward-box {
  width: 690px;
  height: 80px;
  position: absolute;
  top: 278px;
  left: -5px;
  font-size: 0;
}
.popup-layer .m-popup.fw-agitpop .fw-agitpop-content-box .fw-agitpop-reward-box .fw-agitpop-reward {
  width: 80px;
  height: 80px;
  position: relative;
  display: inline-block;
  background: linear-gradient(180deg, #c68300 0%, #f4dfb6 50%, #c68200 70%, #fad489 85%, #c78302 100%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.55);
  margin: 0 3px;
}
.popup-layer .m-popup.fw-agitpop .fw-agitpop-content-box .fw-agitpop-reward-box .fw-agitpop-reward:before {
  content: "";
  width: 76px;
  height: 76px;
  position: absolute;
  top: 2px;
  left: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: linear-gradient(0deg, #e9b039 0%, #fffe9a 100%);
  box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.55);
}
.popup-layer .m-popup.fw-agitpop .fw-agitpop-content-box .fw-agitpop-reward-box .fw-agitpop-reward .fw-reward-pic {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.popup-layer .m-popup.fw-agitpop .fw-agitpop-content-box .fw-agitpop-reward-box .fw-agitpop-reward .fw-reward-num {
  width: 60px;
  height: 20px;
  position: absolute;
  bottom: 2px;
  left: 10px;
  background: linear-gradient(0deg, #e9b039 0%, #fffe9a 100%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35);
  color: #000;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
}
.popup-layer .m-popup.fw-agitpop .fw-agitpop-content-box .color-btn {
  width: 210px;
  position: absolute;
  bottom: 10px;
  left: 235px;
}
.popup-layer .m-popup.fw-agitpop .fw-agitpop-ballon {
  width: auto;
  height: auto;
  position: absolute;
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #000;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.35);
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 36px;
}
.popup-layer .m-popup.fw-agitpop .fw-agitpop-ballon.b1 {
  top: 90px;
  left: 140px;
}
.popup-layer .m-popup.fw-agitpop .fw-agitpop-ballon.b2 {
  top: 70px;
  right: 80px;
}
.popup-layer .m-popup.fw-agitpop .fw-agitpop-ballon.b3 {
  top: 280px;
  left: 130px;
}
.popup-layer .m-popup.fw-agitpop .fw-agitpop-ballon.b4 {
  top: 290px;
  right: 40px;
}

.color-btn {
  width: 90px;
  height: 50px;
  position: relative;
  display: inline-block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: linear-gradient(0deg, #e9b039 0%, #fffe9a 100%);
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.25), 0 2px 4px 0 rgba(0, 0, 0, 0.55);
  cursor: pointer;
}
.color-btn .color-btn-text {
  top: 15px;
  position: relative;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}
.color-btn:active {
  box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.2), inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
.color-btn:active .color-btn-text {
  top: 16px;
}
.color-btn.blue {
  background: linear-gradient(0deg, #62a3e5 0%, #b4d7fa 100%);
}
.color-btn.green {
  background: linear-gradient(0deg, #7cbc30 0%, #BAF279 100%);
}
.color-btn.orage {
  background: linear-gradient(0deg, #d67503 0%, #fdd2a0 100%);
}
.color-btn.diamond {
  background: linear-gradient(0deg, #4b97bf 0%, #7AE2FF 100%);
}